[2017-02-21 22:02] rightker commented on #2
Deleted one of the new Sub Domains, and it looked normal. Then tried to delete the other and got nothing when right clicking on it. None of the other Domains worked either. Refreshed the window and the other (duplicate) Domain was gone.

[2017-02-21 22:51] sbtaylor15 commented on #2
Unable to recreate.  Need to test with brand new DB.

[2017-02-21 22:55] rightker commented on #1
Fixed, closing this.

[2017-02-21 23:11] rightker opened #3 "Change Request Datasource field show in new Application"
When creating a new Application Base Version the Change Request DataSource field shows up in the pop up and on the resulting General tab.

[2017-02-21 23:30] rightker commented on #3
Steve found it on Components too.

[2017-02-21 23:31] rightker commented on #3
tested. Fixed, closing this issue.

[2017-02-21 23:31] #3 closed

[2017-02-22 00:17] rightker commented on #4
Oops, had the Task in the My Pipeline Domain. Closing this issue.

[2017-02-24 16:09] pgibbs-openmake commented on #5
Actually it should probably just be removed.

[2017-02-24 22:39] rightker commented on #7
Tried taking out Credential and got msg "No Credentials for server, Unable to deploy" but again sent Successful email.

[2017-02-27 15:10] pgibbs-openmake commented on #7
I think the 1st case is as designed. It shouldn't necessarily fail just because there's no activities to deploy (you may legitimately set it up to send an email for example and nothing else!) The 2nd example may be more problematic. I'll take a look.

[2017-03-13 22:53] rightker opened #1 "Need to Explain Reports and Auditing Capabilities in More Detail and in a Separate Chapter"
Need to Explain Reports and Auditing Capabilities in More Detail and in a Separate Chapter. Also need to have some of the reports rewritten a with a bit more detail and better organization.

[2017-03-16 22:22] rightker opened #2 "Entering a New Repository Shows 2 Indentical Repositories in Tree Structure"
Connections view -> Repositories tab -> Right Click on a Domain -> New Repository in this Domain, notice tree opens showing 2 Repositories with the same name. Redrawing tree shows 1 as expected.

[2017-03-22 14:38] rightker opened #4 "Build Log Still Says Release Engineer"
All references to what should now say DeployHub still say Release Engineer, i.e. "Logged into Release Engineer".

[2017-03-30 19:20] rightker opened #5 "General Deploy Setup Description says "under under" for Environment"
Setup view -> General Deploy Setup -> Next button -> Second bullet point says "An Environment represents a target for deployment and contains one or more End Points. Environments can be found under under the Data Center view."

[2017-03-30 19:25] pgibbs-openmake commented on #5
Fixed and submitted to git for both Pro and OSS.

[2017-03-30 22:24] rightker commented on #5
Downloaded latest, looks good. Closing this issue.

[2017-03-30 22:24] #5 closed, assigned to nobody

[2017-04-05 22:05] rightker commented on #2
No longer behaves as described, assume it's been fixed. Closing this issue.

[2017-04-05 22:05] #2 closed, assigned to nobody

[2017-04-07 15:28] sbtaylor15 opened #6 "Component Versions don't inherit custom action"
When creating a new component version from a parent that has custom actions associated to it, the new component version has the custom action field blank.

[2017-05-04 22:26] sbtaylor15 opened #7 "Feedback Loop has overlapping boxes"
![image](https://cloud.githubusercontent.com/assets/14826572/25727426/68d2381e-30e6-11e7-9957-d53371699a8a.png)

[2017-05-10 17:13] sbtaylor15 opened #8 "typo in docs for expression subsitution"
https://www.deployhub.org/help/NetHelp/index.html#!Documents/expressionsubstitution.htm

echo "here's the result of testscript: $(testscript()}";

should be

echo "here's the result of testscript: $(testscript())";

[2017-05-11 20:47] rightker commented on #8
Fixed, rebuilt, and uploaded to website docs. Closing this issue.

[2017-05-11 20:47] #8 closed, assigned to nobody

[2017-06-15 16:58] rightker opened #9 "About window shows 'Release Engineer'"
About window shows 'Release Engineer' when clicking on upper right 'i' icon instead of 'DeployHub'.

[2017-07-31 07:00] Geekays opened #10 "How may I change the port of DeployHub"
DeployHub by default runs on port 8080. How may I change the port?

[2017-07-31 09:13] pgibbs-openmake commented on #10
On Linux, there is a "port" property which can be used to overwrite the default. To change the default:
1) Login as root.
2) Stop the existing web interface (if running):
    **systemctl stop deployhub-webadmin**
4) Edit the service configuration file:
    **vi /usr/lib/systemd/system/deployhub-webadmin.service**
5) Change the java launch line to include the port as a property. Change this line:

[2017-08-01 03:39] Geekays commented on #10
I tried this @pgibbs-openmake and it didn't work. Once this is doen, the webpage simply times out. This should work, but seems something is amiss.

Taking out the -Dport parameter or even using it with port 8080 works well,

However I see the service status as running. Here is the status
[code]

[2017-08-01 08:58] pgibbs-openmake commented on #10
That should work fine. A few things to ask/check:
1) Could you check netstat (netstat -n | grep 8070) to confirm that port 8070 is open and listening.
2) Are you running locally? If you have X running on your Linux desktop, could you connect firefox to http://localhost:8070/dmadminweb/Home? Is there the same issue?
3) If you're connecting remotely, is there a firewall blocking access to port 8070?

[2017-08-01 09:27] pgibbs-openmake commented on #10
Another thought. If you don't have a Linux desktop, you can check if the web server is up and listening locally by running:

curl -sL "http://localhost:8070/dmadminweb/API/login?user=admin&pass=admin"

If the web server is listening on 8070 you should see:

{"success":true}

If that works then the timeout may well be down to a firewall issue.

[2017-08-02 16:48] rightker opened #11 "Err msg on initial DeployHub sign in attempt: Unsupported major.minor version 52.0"
Email from customer:

Recently install in my computer DeployHub 8

My computer has:
 Windows 7 64bit
 PostgreSQL 9.3
 Java jdk1.8.0_144
 Java jre1.8.0_144
 Posgres psqlodbc_09_03_0400

When I run:

localhost:8080/dmadminweb/Home in any of the web browser I got the folling error message:

HTTP 500 - dmadmin/Home : Unsupported major.minor version 52.0
Apache Tomcat/7.0.54

What do I have to do to co

[2017-08-02 16:59] rightker commented on #11
My response to Ricardo via email:

Ricardo,

I have entered bug number #11 into our github bug tracking system, which you can respond to by going to:
https://github.com/OpenMake-Software/DeployHub/issues

Bug #11 is in the list, and you can view and respond to us through this bug entry.

In the meantime, have you reviewed the installation guide for Windows? It can be found at:
https://www.openmake

[2017-08-02 17:03] pgibbs-openmake commented on #11
52.0 is Java 8 so the only thing I can think of is that you have Java 7 or earlier installed somewhere and that is being picked up on the path before Java 8. Could you open a DOS prompt and enter:

java -version

If that reports anything earlier than 1.8 then you may need to fiddle with the path.

[2017-08-02 17:23] sbtaylor15 commented on #11
Definitely, an older java version being used to run the tomcat server.  Whats JAVA_HOME set to?

[2017-08-03 15:03] rightker commented on #11
Sent email to customer, who's having trouble signing into GutHub:

Ricardo,

Go here: https://github.com/OpenMake-Software/DeployHub/issues/11

You should be made to sign in using your id. Then go to the Subscribe button on the right and click it. This should allow you to read and add posts to this issue. There are updates with suggestions for solving your problem.

Thanks,
Kirk

[2017-08-04 17:02] lorenzir commented on #11
Definitely I had some Java mixed versions, so I uninstalled all and reinstalled de last Java version (jdk1.8.0_144)
I also unistalled all Tomcar that I had and Install the new one (apache-tomcat-8.5.9)
I don't the error message that I had before but I have a new one

HTTP 404 - /dmadminweb/Home

Can you help me with this?

[2017-08-04 17:16] pgibbs-openmake commented on #11
Hi Lorenzir.

Tomcat is installed with DeployHub (the only pre-requisites are Postgres and Java) so the chances are you're looking at your new Tomcat instance and not the DeployHub one. 404 is "page not found" so it looks like you're talking to the wrong Tomcat instance. I would stop the Tomcat version you've installed and restart the Deploy Hub web admin service (probably called Release Engineer

[2017-08-04 23:43] lorenzir commented on #11
Thanks, now It's working

[2017-08-09 16:01] lorenzir opened #12 "odbc error message"
traying to deploy the application sample I got the following error message:

![odbc error](https://user-images.githubusercontent.com/30667013/29131252-b1c1888c-7d02-11e7-9822-bbf28c2be520.png)

[2017-08-09 16:13] pgibbs-openmake commented on #12
Looks like you've not set up the ODBC data source. You should have done this before running the deployhub installer. What datasource did you specify when you ran the installer?

[2017-08-14 22:13] lorenzir commented on #12
I uninstall Deplyhub, configure ODBC and reinstall and nothing in the DeployHub installer didn't ask for ODBC data source information what ask me is the information of Postgres, What I trying to do is teh exercise in the DeployHub Guide

[2017-08-15 09:53] pgibbs-openmake commented on #12
Apologies, it appears the installer asks for Postgres credentials but not the Data Source Name. Setting up an ODBC connection is a pre-requisite on Windows.

You don't have to uninstall DeployHub again. Perform the following steps:

1) Run "odbcad". This will launch ODBC Data Source Administrator (64-bit). Make sure you're running the 64 bit version (it will say 64-bit on the title bar)
2) Select

[2017-08-17 04:36] lorenzir commented on #12
Despite I'm having tried many times, finding over internet other people having similar problem with odbc 64 bit I also installed Devart ODBC Driver for PostgresSQL but it's not working.

I really would like to find a solution with this so I come to you if you have a solution for this?

![odbc error 2](https://user-images.githubusercontent.com/30667013/29396151-73833224-82ec-11e7-871f-38a9c6872944.

[2017-08-17 08:27] pgibbs-openmake commented on #12
That's an architecture mismatch - it's saying you're trying to use a 32 bit ODBC driver with a 64 bit application (or vice versa!).

You're testing an ODBC Data Source there but there doesn't appear to be any properties specified - that will normally fail anyway so the error you're seeing is probably the engine failing to connect to the database. Did you try the demo deployment? Is that the same e

[2017-08-18 15:28] sbtaylor15 opened #13 "Base Dir check failing"
This happens on the Status tab of a server

[2017-09-08 18:16] sbtaylor15 commented on #11
@rightker we need to update the install docs to specify only JDK 1.8 64-bit is required.

[2017-09-14 20:03] sbtaylor15 opened #14 "Component Items should display a message when none are defined"
It should say something other than giving a blank page.  This typically happens when a custom action is used for the deployment.

[2017-11-08 10:52] DevOpsInaBox opened #15 "dependency failure"
dependency failed for deployhub engine listener

[2017-11-14 15:32] VinaykumarEndla commented on #14
This is how it looks.

![image](https://user-images.githubusercontent.com/33646669/32788397-191d15c6-c927-11e7-8e8a-2b00329ef1f7.png)

[2017-11-14 15:54] pgibbs-openmake commented on #14
Is the Loading icon staying where it is or does it clear?

[2017-11-14 18:25] VinaykumarEndla commented on #14
Earlier, I did not read your email sent to me.
After installing the latest version, I am able to create the Component Item.

Thank you.

[2017-11-14 19:39] VinaykumarEndla commented on #14
Now, I see the component Item dialog box popping on the screen but once it is saved [click OK], nothing is visible on Component Items Screen

![image](https://user-images.githubusercontent.com/33646669/32800788-48fb1122-c949-11e7-9b16-7e469ac82a27.png)

![image](https://user-images.githubusercontent.com/33646669/32800801-52b313f4-c949-11e7-8ab5-a04045927a29.png)

[2017-11-14 19:55] pgibbs-openmake commented on #14
I've got the latest Windows build fired up here and this is working fine for me.

The component item should be created on the page before the pop-up edit dialog is displayed. Can you drag the dialog to one side to see if the component item is present under the dialog whilst it is being displayed?

Is there any error being displayed on the browser console?

[2017-11-14 20:13] VinaykumarEndla commented on #14
Yes, I see that after dragging the dialog box. But still after I clicked on OK, nothing can be seen
![image](https://user-images.githubusercontent.com/33646669/32802521-4b078a4a-c94e-11e7-945f-e951040e0bf2.png)

![image](https://user-images.githubusercontent.com/33646669/32802571-6e887812-c94e-11e7-8504-26a51e455dce.png)

[2017-11-14 20:20] VinaykumarEndla commented on #14
And When I click on cancel, I can see the item on the screen.

[2017-11-14 20:22] pgibbs-openmake commented on #14
That is really strange. That means the item is getting created but clicking OK is removing it. That literally makes no sense! :-(

If you click on the "Component Items" tab again is the page still blank?

What browser are you using? Can you open up a browser console (Edge/IE - F12 Developer Tools, Firefox - Developer -> Web Console, Chrome - More Tools -> Developer Tools) and see if there's any er

[2017-11-14 20:23] pgibbs-openmake commented on #14
So clicking Cancel leaves the component item there? And if you right click on the component item and say "Edit Details" can you then change the content?

[2017-11-14 20:25] VinaykumarEndla commented on #14
Yes. But the moment I click on OK again, I see it is lost

[2017-11-14 20:27] VinaykumarEndla commented on #14
Yea. When I open in chrome, I could see all of them present. Earlier I was using IE. Looks crazy :) :P

![image](https://user-images.githubusercontent.com/33646669/32803072-6271aa88-c950-11e7-8177-8b294c1d0b3e.png)

[2017-11-14 20:28] pgibbs-openmake commented on #14
Okay. Which version of IE are you using?

[2017-11-14 20:28] pgibbs-openmake commented on #14
Does it work okay in Chrome?

[2017-11-14 20:30] VinaykumarEndla commented on #14
Yes. In Chrome, it is working fine.

I am using IE 11.17...

[2017-11-14 20:33] pgibbs-openmake commented on #14
It's working for me with Edge... let me try opening it in IE.

[2017-11-14 20:34] pgibbs-openmake commented on #14
Yep, that's it. It's not working in IE11.

[2017-11-14 20:58] pgibbs-openmake commented on #14
It looks like IE11 is caching when it shouldn't be. When you click OK to save the component item, the browser makes a request to reload the page. It looks like IE11 is NOT making that call and is simply using the old data - all the other browsers (including Edge) resubmit the Ajax query and get the new data.

[2017-11-14 21:14] pgibbs-openmake commented on #14
This is a problem specific to GetComponentItemLayout and IE. GetComponentItemLayout is based on HttpServlet and not HttpServletBase. HttpServletBase correctly sets Cache-Control: no-cache whereas GetComponentItemLayout does not. I've added Cache-Control to the GetComponentItemLayout servlet to explicitly switch caching off and that seems to have fixed the issue. I will submit these changes into tr

[2017-11-14 22:26] pgibbs-openmake commented on #14
New OSS and Pro Windows builds are done - Linux build is available under "latest". Will leave issue open until it can be retested by user.

[2017-12-01 19:36] cawale opened #16 "SSH/SFTP support for Windows"
Currently the SFTP protocol is not supported if the end point type is set to windows. The Windows command set is not used when doing Status checks or deploys.

Please add this functionality to Deployhub.

Thanks.

[2017-12-01 19:42] cawale opened #17 "Jenkins Plugin does not update DeployHub when Component Selection alone is selected and filled in"
When I try and just set the component selection tab only, Deployhub does not create a component version or updated attributes.

Thanks.

[2017-12-08 15:57] pgibbs-openmake commented on #16
Scheduling this for next release. Need an equivalent of mkdir -p for windows. One possible solution would be to send a sequence of mkdir commands, ignoring error returns (mkdir /tmp;mkdir /tmp/tgt;mkdir /tmp/tgt/finaldir) instead which would be identical for Windows and Linux but this could be problematic with deep directory nesting. Perhaps issue them as separate command lines?

The biggest issue

[2017-12-12 18:10] cawale commented on #16
If it helps this command string will do the same thing in windows.

"cmd /c d: && mkdir \tmp && mkdir \tmp\tgt && mkdir \tmp\tgt\finaldir"

[2017-12-12 18:52] sbtaylor15 commented on #16
mkdir on windows automatically creates all of the intermediate directories.

For example:  mkdir d:\temp\a\b\c\d

No -p is needed

[2017-12-13 09:40] pgibbs-openmake commented on #16
That's true but as discussed above the underlying script does not know the target operating system. So we either have to pass that through somehow or come up with a strategy that works for any target OS.

[2018-02-16 13:42] cawale opened #18 "Can I run a unix function (mkdir) without having to create a script?"
I am trying to create a procedure that just runs a mkdir command.  I have defined 'command line interpreter' to /bin/mkdir and deselected the 'Copy to Remote' checkbox.

Should I have something like ksh /bin/mkdir instead?

It is just a simple single command. I am just trying to not have to manage another script file for such a simple function.

Thanks.

[2018-02-16 14:14] cawale commented on #18
Ok. I figured it out.

You have to have something in the FilePath field, even if it is not used, or else the system gets confused and does not execute anything for that function and hangs the deployment. (ie. it never ends as far as the UI thinks)

[2018-02-20 00:18] #18 closed, assigned to nobody

[2018-02-20 00:19] sbtaylor15 commented on #17
So it will only create a new component version when you do an application deployment, correct?

[2018-02-20 00:21] sbtaylor15 commented on #16
Do you have the fix in place for enable sftp for a windows machine?

Also, will "mkdir /tmp;mkdir /tmp/tgt;mkdir /tmp/tgt/finaldir"  work creating the directory structure when you ssh into the windows box?

[2018-02-20 15:06] cawale commented on #16
No I have do not have a fix right now for the SFTP for windows. From the command line I can do it but not from DeployHub.

I believe the correct syntax would be something like "cmd /c d: && mkdir -f \tmp\tgt\finaldir"

[2018-02-20 15:08] cawale commented on #17
yes as far as I can test that is correct.

[2018-02-20 16:30] sbtaylor15 commented on #16
What is the ssh server that you are using on Windows, cygwin?

[2018-02-20 16:34] cawale commented on #16
We are using FreeSSHd.

[2018-02-22 21:35] alanromo opened #19 "RTC type repository"
I got the OSS DeployHub version.
In the documentation I can see that there are RTC repository types. But on what I have installed I only can see: File system, ftpprep, harvest, http, meister, perforce, and svn.
Can you help telling me what is the best option for RTC repositories ?

[2018-02-22 21:41] sbtaylor15 commented on #19
RTC exposes items as a file system repository.    You create the file
system repo first by checking out the RTC artifacts initially.  If you need
to do an update of that file system from RTC prior to a deployment then you
would to a pre action at the application level that run the appropriate RTC
command for the update.

Thanks, Steve

Steve Taylor

[2018-02-28 19:31] alanromo opened #20 "Database Management Support"
I see on the documentation that DeployHub can help with database management support. i.e.  database changes from development to QA or PROD.
Do you have an example on how this can be used or configured ?

[2018-02-28 19:38] svc-automator opened #21 "Multiple tasks"
I have an application that has four components that need to be deployed to a pair of servers.  Unfortunately, instead of one component going to 1 server and 3 components going to the other - I now have 4 components going to both servers.  Do you have a more complex example of how to configure this properly other than creating two separate applications?

[2018-02-28 21:22] pgibbs-openmake commented on #21
The mapping of component to end points within an environment is done via the "component type". Each component in the application is assigned a single component type. The end points within the environment are then assigned one or more component types. When the application is deployed, components are delivered to the end points according to their type and the type(s) assigned to the end point.

This

[2018-02-28 21:43] pgibbs-openmake commented on #20
Here's a quick 10 minute video which shows this in action:

https://www.youtube.com/watch?v=vQoZcMcqCeM

There's a few steps you need to do to get this configured:
1) Create a database component that pulls and delivers the SQL alter scripts
2) Create a post-action to that component that executes the SQL against the database
3) Assign the component type to the appropriate end-point(s) within your t

[2018-02-28 23:06] #19 closed, assigned to nobody

[2018-03-01 17:22] sbtaylor15 opened #22 "DeployHub does not handle Jenkins Folders correctly"

[2018-03-01 17:24] sbtaylor15 commented on #22
Fixed in Pro version and merged code into OSS.  In process of testing out new OSS version. @svc-automator

[2018-03-01 17:25] sbtaylor15 opened #23 "unzip for Windows, internal procedure referencing wrong script"

[2018-03-01 21:51] svcautomator commented on #22
Let me know when it and #23 are available, I'll help QA.

[2018-03-02 19:37] alanromo commented on #20
I have problems with step 1
I created a database component "dbch". I'm guessing that the file ddl1.qry should be copied to the end point. Once in the end point I would be able to execute it.  The problem is that it never gets there.

Here the log

WARNING: component 118 'dbch' is not associated with any servers
--
INFO: Deploying roll-forward items of Component dbch
INFO: Checked out ddl1.qry;0
IN

[2018-03-02 20:00] pgibbs-openmake commented on #20
It looks like you've not done step 3:

_3) Assign the component type to the appropriate end-point(s) within your target environment(s) - this ensures that the SQL code is delivered to the database server(s) within your environment._

What that error message is saying is that no end-points (servers) within the target environment has an associated component type that is the same as component 'dbch'.

[2018-03-02 20:55] alanromo commented on #20
It has been associated along with other 2 components (shells and jars) to the same endpoint. The other 2 components move OK to the endpoint, but this one (dbch) does not.

Here the full log

INFO: Starting deployment #181
--
INFO: Deploying Application "CPE" into Environment "DevelopmentCPE"
INFO: Deploying Component shells
INFO: Checked out CallSetupCPE1.ksh;
INFO: Checked out CallSetupCPE2.ksh;

[2018-03-02 20:59] sbtaylor15 commented on #20
Can you send a screen shot of the General Tab for this component dbch?

And a screen shot of the General Tab for the end point that should be
receiving this component?

Thanks, Steve

Steve Taylor

CITA and Co-Founder / OpenMake Software / tel: + 1.505.424.6439 x114 / mob:
+1.505.920.6106

*Book at time slot with us
<https://www.openmakesoftware.com/devops-experts>*

Follow us on: Blog <https://ww

[2018-03-02 21:41] alanromo commented on #20
While trying to get the screen shots you asked me I think I found the problem.
The problem is with the "endpoint component type"
This was set to: "application file".... so the first two components were able to make it
I just tried changing it to "DB2 DDL & SQL" and this way the first 2 components failed and the dbch made it!.
So, I think I need to define 2 different endpoints, one for the applicat

[2018-03-02 22:10] sbtaylor15 commented on #20
The component types enable the routing of a component to the right end
points.  So in dev, the database and the application may live on the same
server.  Then in QA, the database and application are on separate servers.
Prod may have a database cluster and 20 apps servers.

FYI, multi-select the component types on the end point to enable moving
different components types to the same server.

Steve

[2018-03-06 18:54] sbtaylor15 commented on #22
@svc-automator Here is the update for the folder support attached to this issue.

[deployhub-webadmin.war.zip](https://github.com/OpenMake-Software/DeployHub/files/1786284/deployhub-webadmin.war.zip)

To install  -

1. Stop the DeployHub Web Admin Service
2. Backup the dmadminweb/WEB-INF/web.xml  (under the web app install)
3. Delete the dmadminweb directory
4. Unzip the the above war file into dm

[2018-03-06 21:42] sbtaylor15 commented on #23
@svc-automator can we do a web meeting?  I need to look at your data.  I am not seeing what is causing this issue.

Thanks, Steve

[2018-03-06 23:19] svc-automator commented on #23
I’m free tomorrow morning from 9am-1pm.  I also started to try and follow your instructions and do not see a “DeployHub Web Admin Service” in windows services.  Is this maybe buried under IIS somewhere?  I also checked your documentation and stop/start/restart could all use more information, right now install is documented but none of the other tasks.
Let me know,
Maria

[2018-03-07 18:30] sbtaylor15 commented on #22
@svc-automator here is a new war with your web.xml included in it.  Drop it into the libs directory and restart the service.  Let me know what happens.  Thanks Steve

[dmadminweb.zip](https://github.com/OpenMake-Software/DeployHub/files/1790370/dmadminweb.2.zip)

[2018-03-07 22:58] svcautomator commented on #22
[dmadminweb.war.orig.zip](https://github.com/OpenMake-Software/DeployHub/files/1791186/dmadminweb.war.orig.zip)
here's the original file that does work on windows....

[2018-03-07 23:41] sbtaylor15 commented on #22
Ok, figured it out.  I had the classes in the wrong place when updating it with the web.xml.  Here is the corrected war.

[dmadminweb.zip](https://github.com/OpenMake-Software/DeployHub/files/1791299/dmadminweb.zip)

[2018-03-08 02:08] svc-automator commented on #22
That worked… I’ll see if Jenkins folders and zip files will work…

[2018-03-08 02:21] sbtaylor15 commented on #22
Go-to the Build Engines and add in your Jenkins server   Then add in a build job,.in the drop down you should see your folder/project listed. Let me know if that works.

[2018-03-08 02:26] svc-automator commented on #22
I’ll try…

[2018-03-09 13:48] cawale opened #24 "Using variables in Command Line Interpreter Path"
Hi,

Looking to use the getcredential function in a command line interpreter path but it does not seem to work. I am trying to do something like

${PATH_TO_WSADMIN}/wsadmin.${EXT} -lang jython -user "${getcredential("${was_credential_name}"}.username}" -password "${getcredential("${was_credential_name}"}.password}" -p ${soap_client_props_dir}/mysoap.client.props -f
The direct variables work fine P

[2018-03-09 13:50] cawale commented on #16
Hi all,

Any eta on this functionality?

Thanks.

Chris

From: Steve Taylor [mailto:notifications@github.com]
Sent: February 20, 2018 11:31 AM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subject: Re: [OpenMake-Software/DeployHub] SSH/SFTP support for Windows (#16)

What is the ssh server that you are using on Windows, cygwin?

—
You are receiving this because you authored the

[2018-03-09 15:49] pgibbs-openmake commented on #24
I think you MAY have hit a limitation of the DMScript parsing engine.

Try something like this:

set CRED1 = getcredential("Cred_Name");
set username = ${CRED1.username};

P.

[2018-03-09 16:55] sbtaylor15 commented on #24
I do the following:

![image](https://user-images.githubusercontent.com/14826572/37219096-a62fdd92-237f-11e8-9fb5-7d1a82f330a3.png)

![image](https://user-images.githubusercontent.com/14826572/37219120-bd43c89a-237f-11e8-8617-c7f41734b8f9.png)

![image](https://user-images.githubusercontent.com/14826572/37219156-d04004a4-237f-11e8-8891-f73ca0f63c16.png)

The the Function/Procedure that needs the u

[2018-03-09 16:56] sbtaylor15 commented on #24
Here is the code for the setting the credential as a global variable:

[code]

[2018-03-09 17:40] cawale commented on #24
Hi,

Yes I am doing that but I just wanted to simplify it all since it is used by each and every function. Why do I need to do it more than once for all scripts. Putting it in the command line interpreter line in the procedure definition seemed like a nice way to do it.

Thanks.

Chris

From: Steve Taylor [mailto:notifications@github.com]
Sent: March 9, 2018 11:55 AM
To: OpenMake-Software/DeployHu

[2018-03-09 17:43] cawale commented on #24
Just to be clear this is a remote procedure call not a local one.

[2018-03-09 18:29] sbtaylor15 commented on #16
Can you run the following from the Solaris server against the Windows SSH server?

ssh <windows-ssh-machine> uname

Let me know the output.

[2018-03-09 18:34] cawale commented on #16
This what you are looking for?

bash-3.2$ ssh -l WaleC 10.77.9.108
WaleC@10.77.9.108's password:

From: Steve Taylor [mailto:notifications@github.com]
Sent: March 9, 2018 1:29 PM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subject: [Possible SPAM] Re: [OpenMake-Software/DeployHub] SSH/SFTP support for Windows (#16)

Can you run the following from the Solaris server against the

[2018-03-09 18:38] sbtaylor15 commented on #16
Sorry github stripped out the command:

ssh -l WaleC 10.77.9.108  uname

Just tack on uname as the command to run.  I am guessing that the output will be something about the program uname not being found.  Just need to double check the real output.

Thanks Steve

[2018-03-12 12:28] cawale commented on #16
Hi Steve,

I was able to run the command you suggested below. Here is what was returned.

bash-3.2$ ssh -l WaleC 10.77.9.108 uname
WaleC@10.77.9.108's password:
Unable to execute command or shell on remote system: Failed to Execute process.

Chris

From: Steve Taylor [mailto:notifications@github.com]
Sent: March 9, 2018 1:39 PM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subje

[2018-03-12 13:13] cawale opened #25 "Attributes not getting expanded."
Hi,

I am trying to get an attribute set as ${server.name} echo'd in my deployment script.

So I have my attribute set to:
![image](https://user-images.githubusercontent.com/34170905/37285329-1bdcc062-25d5-11e8-8452-21686dfbd321.png)

I then have my script set to

action WS_Clean_Cluster
{
  echo "${test_attr}";
  return;
}

My output is this

INFO: Starting deployment #67216
--
INFO: Deploying Ap

[2018-03-12 15:59] sbtaylor15 commented on #25
Where is that attribute defined, environment, component, application?

[2018-03-12 16:01] cawale commented on #25
I have tried attributes defined in both the environment and server objects and I get the same result.

[2018-03-12 16:12] sbtaylor15 commented on #25
Can you try the modified script?  I believe the test_attr is not being set due to the way the stack is being processed.  Let me know the results.

action WS_Clean_Cluster
{
echo "ATTR=${test_attr}";
echo "SRVN=${server.name}";
return;
}

[2018-03-12 16:47] cawale commented on #25
This is the log output.

INFO: Starting deployment #67247
--
INFO: Deploying Application "CFM_1_0;1" into Environment "Old_UAT"
INFO: Deploying Component CFM
INFO: Checked out /job/CFM_AD_4.1_Int/4/ca.ontario.gov.health.GAPP.CFM$CFMWebEAR/artifact/ca.ontario.gov.health.GAPP.CFM/CFMWebEAR/4.1/CFMWebEAR-4.1.ear;4
INFO: Item "CFM WebSphere": Checked out 1 file(s) from repository "Jenkins"
ATTR=${serv

[2018-03-12 16:52] sbtaylor15 commented on #25
Looks like the values for the Attrs for the Server are being set outside of the stack scope, ie. before ${server.name} is resolved.  You will need to use ${server.name} in your script instead of ${test_attr}.

[2018-03-12 17:49] cawale commented on #25
ok. So to work around this I created a generic pre-action script that set the variables as global. It seems to work.

Thanks.

[2018-03-12 19:28] sbtaylor15 commented on #25
You can also do the following from the script:

set -g TEST_ATTR=${server.name}

which will set it at the global level.

[2018-03-12 21:16] cawale opened #26 "Trying to use a Remote Procedure outside of a deployment"
So I am trying to create an admin script that uses an environment and then calls some procedures. What I am finding is that the remote procedure call get totally bypassed. There is no error and no indication that the system has even acknowledged that the procedure call is actually in the code. The call works in a normal deployment.

This is my dmscript

[code]

My output looks like this.

bash-3.2

[2018-03-12 21:28] sbtaylor15 commented on #26
Can you do an echo after ws_all_remove_sharedlibs(Cluster: @"${cluster}") to see if that gets executed or if its silently failing in the ws_all_remove_sharedlibs?

[2018-03-12 21:35] cawale commented on #25
The reason I am trying to do this is to support WebSphere remote procedure calls and the operation values that are required to pass through to the wsadmin function. If I don't put them in a common place then everyone using any of these remote procedure calls need to know that:

1) They need to do something special for these specific sets of functions/procedures. Different from many of the other fu

[2018-03-12 21:36] #24 closed, assigned to nobody

[2018-03-12 21:36] #25 closed, assigned to nobody

[2018-03-12 21:42] cawale commented on #26
I see both echo's the one before and after.

[2018-03-13 14:12] pgibbs-openmake commented on #26
Hi Chris,

What is ws_all_remove_sharedlibs? Is that another DMScript procedure or is that an external script?

A couple of things...you're setting "server" as a global object. (set -g) which is a bit "meh". It _should_ work as long as there's no other server on the stack but it's not great.

You're using "iterate" to walk through the server objects returned from the environment but that's a "gene

[2018-03-13 14:27] cawale commented on #26
ws_all_remove_sharedlibs is an external script.

Cool code. It does iterate through the server list but unfortunately does not change the result that ws_all_remove_sharedlibs is passed over.

The cluster variable is an argument for this DMScript procedure not in the server object.

One thought. I have changed the name of the external script procedure since it was originally created. Maybe it is no

[2018-03-13 14:40] cawale commented on #26
ok so my thought was not the problem. If I don't setup the calling parameters right I get a runtime error and when I correct the issue it must call it but not do the remote part of it (transfer the script, run it).

I see the same results as I did before. Everything gets run and I see no errors but the remote script call did not occur,

[2018-03-13 14:43] pgibbs-openmake commented on #26
Ah, so the script is supposed to run on the target server? It's set to execute remotely?

[2018-03-13 14:48] cawale commented on #26
Yes

[2018-03-13 14:53] pgibbs-openmake commented on #26
Okay, well having a psloop should at least make that work a bit better (I'm not sure your original code would have worked without the pushing of a server object onto the stack... having it stored globally may have caused issues). However, if it's still not working, then that's an oddity.

Does "myecho" run remotely or is that just set to run on the DeployHub server?

I presume the target is Unix?

[2018-03-13 14:55] pgibbs-openmake commented on #26
*supplemental* How are you invoking this? As a stand-alone action with parameters passed in?

[2018-03-13 15:10] cawale commented on #26
myecho is a DMScript run locally.

Yes it is Unix. The script is not copied to the server on the target.

I am invoking it through an action attached to a Run Task.

[2018-03-13 15:21] pgibbs-openmake commented on #26
Okay, that makes sense. I'm wondering if there's an issue running remote scripts when we're not in a deployment. We should have an environment and a server on the stack so in theory, it should work.

Steve - I'm on site all week - can you try and reproduce?

[2018-03-13 15:29] pgibbs-openmake commented on #26
Chris, whilst Steve is setting this up on our test bench, can you email me the entire debug 3 output?

[2018-03-13 16:15] cawale commented on #26
This is all there is.

bash-3.2$ engine/bin/dm "-pw" "May202017" "-usr" "admin" "-appid" "127" "-sessionid" "C38487E8049A77805A184BCF1018CB9E" "-runtask" "222" "appsrv2=asdas" "cluster=SOACCluster" "appsrv1=asdas" "adminserver=Dev WebSphere 8_5 Admin" "was_credential_name=Dev_WAS_8_5_Admin" "env=GLOBAL.Claims.CFM.Development.Old_UAT" -debug 3
Finished Setting WAS Vars
In Clean
GLOBAL.Claims.CFM.De

[2018-03-13 16:23] pgibbs-openmake commented on #26
It's not reading the -debug 3 because you've got it at the end after all the environment variables are set. You need to have it with all the other switches - put it after -runtask 222 and that should produce a lot more output!

[2018-03-13 16:49] cawale commented on #26
Well that was silly of me.

Here it is.

From: pgibbs-openmake [mailto:notifications@github.com]
Sent: March 13, 2018 12:23 PM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subject: Re: [OpenMake-Software/DeployHub] Trying to use a Remote Procedure outside of a deployment (#26)

It's not reading the -debug 3 because you've got it at the end after all the environment variables ar

[2018-03-13 16:53] pgibbs-openmake commented on #26
I think it's been truncated Chris. Can you email me the log?

[2018-03-13 17:02] cawale commented on #26
OK. So I think my initial issue is resolved but it does bring up a second issue.

Firstly, I was running it from the command line most of the time which seems to have shown a second issue with dmtransfer.

So your code suggestions I believe fixed the issue with the remote script not being setup correctly with the server. If I run it through the gui, as a run task, it shows that the remote script g

[2018-03-13 17:07] pgibbs-openmake commented on #26
Well I guess there's good news and bad news there. The good is that the problem is resolved. The BAD is that I've absolutely NO IDEA why running it from the WebUI works and running it from the command line doesn't. However, that's a problem for another day!

[2018-03-13 17:15] pgibbs-openmake commented on #26
Steve - I'm going to close this on the basis that it's working okay from the Web UI. However, can you see if you can reproduce the issue where a remote script fails to execute when running dm from the command line? If you can't then this may be a Solaris special....

[2018-03-13 17:15] #26 closed, assigned to nobody

[2018-03-13 19:21] cawale commented on #26
Here is the log file for the last command line run I did. Just in case it can give you any info.

From: pgibbs-openmake [mailto:notifications@github.com]
Sent: March 13, 2018 1:15 PM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subject: [Possible SPAM] Re: [OpenMake-Software/DeployHub] Trying to use a Remote Procedure outside of a deployment (#26)

Steve - I'm going to close th

[2018-03-14 12:20] cawale opened #27 "Getting a list of all environments"
Is there a DMScript way to get all the environments?

I have used the rest service to retrieve them but I was wondering if there is a way within DMScript to get them directly?

Thanks

[2018-03-14 14:47] sbtaylor15 commented on #27
Do you want all of the environments that an application belong to?  Or just a complete list regardless of application?

[2018-03-14 14:52] cawale commented on #27
A complete list like the rest api call does with the ‘all=y’ parameter.

From: Steve Taylor [mailto:notifications@github.com]
Sent: March 14, 2018 10:48 AM
To: OpenMake-Software/DeployHub
Cc: Wale, Chris (MOHLTC); Author
Subject: [Possible SPAM] Re: [OpenMake-Software/DeployHub] Getting a list of all environments (#27)

Do you want all of the environments that an application belong to? Or just a c

[2018-03-14 14:59] sbtaylor15 commented on #27
You will need to call the Restful API from the DMScript.  DMScript will automatically parse the JSON into DMScript objects. See restful_get  in https://www.openmakesoftware.com/helpRE75/NetHelp/index.html#!Documents/restfulget.htm

[2018-03-21 16:01] svcautomator commented on #22
You mentioned there was a new war available... I'll poke around here.

[2018-03-21 16:03] sbtaylor15 commented on #22
@svcautomator - In the process of testing it out.   I will upload it when its ready to go.

Thanks, Steve

[2018-03-21 16:09] #27 closed, assigned to nobody

[2018-03-21 16:12] cawale opened #28 "Run Task times out"
I am trying to run a run task that takes a while to complete. The UI comes back with nothing or somethings an error. It is not the functions I am running because they all work individually.

I assume there is a timeout setting somewhere.

Is this a setting I can update within the tool?

[2018-03-21 16:13] svcautomator commented on #22
k, thanks...

[2018-03-21 18:27] sbtaylor15 commented on #28
Do you get anything back in the log? Or just hung right at the beginning?

[2018-03-21 18:29] sbtaylor15 commented on #21
Did a web meeting @svc-automator to get the component type set on the components themselves and on the end points.  Waiting on getting the right password in place on the remote end point to do testing.

[2018-03-21 18:29] #20 closed, assigned to nobody

[2018-03-21 18:33] sbtaylor15 commented on #16
In the process of updating sshexec to check the remote end point OS by running uname.  If we get back 'Unable to execute command' then we can assume that its windows.

@cawale can you try another command which may make it a bit cleaner:

ssh -l WaleC 10.77.9.108 set

Send me the output from the command above.

[2018-03-21 18:34] cawale commented on #28
The script runs and everything but the UI fails.

When it completes you don’t get the completion dialog with the log info in it. It actually puts you back on the initial run dialog where you could start it running again. No text except for the dialog title.

[2018-03-21 18:42] sbtaylor15 commented on #28
What happens when you goto the Timeline and view the deployment log from there?  I just fixed an issue yesterday where Jenkins was sending NULL back to DeployHub which caused the deployment log to be empty.  This may be related.

[2018-03-21 18:44] cawale commented on #28
There is no timeline since the run task is not associated with any application deployment.

[2018-03-21 18:45] svcautomator commented on #21
I have the right password, unfortunately it seems to just loop...  I even went back to the end points and set the creds to a different user and than back to cigdevinsvcautomator.  Any ideas?

[2018-03-21 18:48] pgibbs-openmake commented on #28
There's no timeout as far as I recall. Normally, the dialog disappears as soon as you click OK. The "result" dialog only appears if the task is set to "Show Output" but that's not what's happening here. You're saying you're clicking OK and the dialog is not disappearing? Or it disappears and then reappears?

When you say "sometimes an error" - is this in the "result" popup dialog (with Show Output

[2018-03-21 18:56] cawale commented on #28
This is what I see once I have selected 'OK' and run the task.

![image](https://user-images.githubusercontent.com/34170905/37730914-39835e3e-2d17-11e8-85ab-3d872c92b897.png)

Then the loading stays there for the length of time it takes to run the task.

Once that is done I get the original dialog again.

![image](https://user-images.githubusercontent.com/34170905/37731318-25c8cb12-2d18-11e8-82da-

[2018-03-21 19:04] pgibbs-openmake commented on #28
Okay, we may have to take a look at that - if you have "show output" checked I think (from memory) it _has_ to hold the dialog until the job completes (since you probably don't want a pop-up dialog to appear asynchronously) ... but the dialog should eventually clear and show the output from the job.

Would you want the initial dialog to clear and the result dialog to appear whenever the job comple

[2018-03-21 19:15] cawale commented on #28
I do have 'show output' on. What I would really like is to show the result dialog as soon as I press the 'OK' button and then show me the log lines as they are available. Like the log dialog for deployments. A refresh button would be OK too.

The script runs for about 5 minutes maybe a bit longer.

[2018-03-21 19:23] pgibbs-openmake commented on #28
Okay, we'll file that under "enhancement request"! However, what you're describing sounds like a bug that manifests during long running tasks.

Steve - does the modal "Loading" dialog time out at some point? I didn't _think_ it did but I'm try to figure out what's going on here...

[2018-03-21 19:25] svcautomator opened #29 "Please allow dashes in names e.g. DSL-BC or DSL-WEBAPPPL"
I have noticed when creating credentials and repositories that - is not allowed.  When trying to set things up for multiple applications - (dash) is a very common separator.  Not a high priority, but a nice to have.

[2018-03-21 19:28] sbtaylor15 commented on #28
No, I should not have a timeout.

[2018-03-21 19:39] pgibbs-openmake commented on #29
Unfortunately, this can break things since A-12 (for example) could be an equation as well as an identifier. For this reason, dashes are explicitly prevented from being used in identifier names.

Underscore is allowed, however.

[2018-03-21 19:43] pgibbs-openmake commented on #28
Okay, I wonder why it returns to the launch dialog when the task completes then?

Could you try and reproduce with a long-running task? Just stick a sleep(delay: 600) followed by echo "hello" into an Action, stick that onto a Run Task and see what happens...

[2018-03-21 19:44] cawale commented on #28
Will do

[2018-03-21 19:47] svcautomator commented on #29
ala Oracle... ok.

[2018-03-21 19:47] #29 closed, assigned to nobody

[2018-03-21 19:50] pgibbs-openmake commented on #28
Great, thanks. If you still get the same issue it should be easier for us to try and reproduce it at this end.

[2018-03-21 19:56] cawale commented on #28
OK. So that ends in the same result. The original run task dialog showing.

![image](https://user-images.githubusercontent.com/34170905/37734054-6cfae81e-2d20-11e8-9505-28a662e6c55a.png)

[2018-03-21 23:20] pgibbs-openmake commented on #28
Ok, sounds like something is definitely timing out somewhere. Leave it with us.

[2018-03-22 11:52] cawale commented on #28
Thanks

[2018-03-22 11:55] cawale commented on #16
The result is this

bash-3.2$ ssh -l WaleC 10.77.9.108 set
WaleC@10.77.9.108's password:
Unable to execute command or shell on remote system: Failed to Execute process.

[2018-03-22 17:10] cawale opened #30 "Calling Remote Procedure using strings with spaces in command line"
Hi,

I am trying to run a remote script on an endpoint and the parameters that are required to be passed are stings with spaces. I cannot seem to find a way to get quotes put around the parameters. If I put them in the Action that calls the procedure then the deployment just fails because, I believe, of the double quotes that are in the DMScript that is generated

  ws_create_jdbcprovider(Server:

[2018-03-22 19:04] cawale opened #31 "Is there a way to disable deploy tasks at the environment domain level?"
I don't want developers to shortcut the gating/move process by selecting the deploy task at environment domains. I want to force them to deploy from the application object.

Is there a way to do this?

[2018-03-22 19:18] sbtaylor15 commented on #31
Which level is your deploy task defined?  Can you send a screen shot?

Thanks, Steve

[2018-03-22 19:39] cawale commented on #31
Is this the screenshot you were looking for?

![image](https://user-images.githubusercontent.com/34170905/37794217-4015cbee-2de7-11e8-89a2-ab06c958f37c.png)

[2018-03-22 20:03] sbtaylor15 commented on #31
If you run the deployment task from by right clicking on the Development subdomain you will be presented with the Application Versions and Environments that you would like to deploy to.  This is the same as selecting an Application Version with right click deploy task.  The Application Version is pre-selected in this case in the drop down along with the Environments list.

Both ways are will go th

[2018-03-22 20:08] cawale commented on #31
Right but I don't want developers deploying, to say the System Testing environment, unless there is a move task executed so that the application has been moved to that environment. At this point I can select an environment domain and deploy any application to it including those that are not in that environment yet.

![image](https://user-images.githubusercontent.com/34170905/37795566-32fa3450-2deb

[2018-03-23 17:35] sbtaylor15 commented on #21
@svc-automator, Is your repository coming from a network drive?  If so, check the credentials that are being used for that file system repository.  Let me know what you find.

Thanks, Steve

[2018-03-23 17:40] cawale commented on #30
I did some more testing and I am not sure if the 'Preserve with "" when not present' option is working when defining procedure parameters.

It does not seem to make any difference on the resulting command line.

[2018-03-23 18:48] sbtaylor15 commented on #30
So it should be:

`
-name 'Logger Derby JDBC Provider (XA)' -description 'Derby embedded XA JDBC Provider'`

with single ticks around the parameters with spaces?

[2018-03-23 18:52] cawale commented on #30
That is what I would expect but that is not what is happening.

[2018-03-26 18:02] sbtaylor15 commented on #22
@svcautomator - here is the updated war that has the fix for nested Jenkins folders and additional messaging around the DeployHub to Jenkins connection.

[dmadminweb.war.zip](https://github.com/OpenMake-Software/DeployHub/files/1848938/dmadminweb.war.zip)

To install -

1. Stop the DeployHub Web Admin Service
2. Delete the dmadminweb directory
3. Unzip the the above war file into dmadminweb
4. Sta

[2018-03-26 21:12] sbtaylor15 commented on #16
Changed the logic to check the remote OS and the run a modified command for the OS specific syntax.
[sshexec.zip](https://github.com/OpenMake-Software/DeployHub/files/1849553/sshexec.zip)

Backup the existing engine/lib/sshexec and put the new one in place.

Let me know the results.

Thanks, Steve

[2018-03-26 22:03] sbtaylor15 commented on #16
I forgot to comment out line 2 of the script.   Here is the updated one.

[sshexec.zip](https://github.com/OpenMake-Software/DeployHub/files/1849693/sshexec.zip)

[2018-03-27 00:36] sbtaylor15 commented on #15
I believe running install as root fix this issue.

[2018-03-27 00:36] #15 closed, assigned to nobody

[2018-03-27 00:38] sbtaylor15 commented on #30
Try putting in 'Logger Derby JDBC Provider (XA)' or "Logger Derby JDBC Provider (XA)"  (with the single tick or double quotes) as the value in the entry field.

[2018-03-27 15:14] cawale commented on #16
Seeing this error. Maybe my os does not have something you need?

bash-3.2$ ./sshexec -m 10.77.9.108 -port 22 -usr yyyy -pw xxxxxxxx "mkdir -p /export/home/walec/deploy;cd /export/home/walec/deploy;pwd"
./sshexec: syntax error at line 12: `HOME=$' unexpected

[2018-03-27 15:27] cawale commented on #16
bash-3.2$ finger `whoami` | awk '/^Directory/ {print $2}'
bash: whoami: command not found

[2018-03-27 15:30] cawale commented on #16
found it in /usr/usb

[2018-03-27 15:35] cawale commented on #16
so this

finger `/usr/ucb/whoami` | awk '/^Directory/ {print $2}'

returns

/opt/deployhub

but the sshexec still fails with

./sshexec: syntax error at line 12: `HOME=$' unexpected

[2018-03-27 15:55] cawale commented on #16
Your #!/bin/sh needs to be #!/bin/ksh on my system for this script to work.

[2018-03-27 15:57] cawale commented on #16
ok. So I am getting farther. Now I get.

bash-3.2$ ./sshexec -m 10.77.9.108 -port 22 -usr xxxxxx -pw xxxxx "mkdir -p /export/home/walec/deploy;cd /export/home/walec/deploy;pwd"
/opt/deployhub
grep: illegal option -- q
Usage: grep -hblcnsviw pattern file . . .
./sshexec[139]: sshpass:  not found
./sshexec[189]: sshpass:  not found

[2018-03-27 16:37] sbtaylor15 commented on #16
You will need to install the sshpass package.  This package enables ssh to be run without a password prompt.  See:  https://www.opencsw.org/package/sshpass/

[2018-03-27 16:55] cawale commented on #16
ok so the grep that you needed was not on my path it was here /usr/xpg4/bin/

[2018-03-27 16:55] cawale commented on #16
sshpass was already there just not where it was expecting it.

[2018-03-27 16:55] cawale commented on #16
Where do I find rev?

[2018-03-27 17:23] sbtaylor15 commented on #16
Don't look like Solaris has the rev command.  Let me rework the that line.

[2018-03-27 17:24] cawale commented on #16
I found a script that does the same thing. I created a rev script.

[2018-03-27 20:24] cawale commented on #16
ok. So I got the script working from the command line with some changes. I can send it to you.

It does not yet work with the UI. I have just tested it with the status check at this point. I have not tried an install.

There are a few caveats though. The server MUST be specified as a unix server. If not then the '\' in the UI causes problems. After you set the server to unix then you need to use s

[2018-03-27 20:50] sbtaylor15 commented on #16
Where you able to get the mkdir of directories and other commands to run on the Windows machine from the command line (not via the UI) invocation of the sshexec script?

[2018-03-28 12:20] cawale commented on #16
yup

[2018-03-28 12:30] cawale commented on #16
How do I turn on more debug logging? I cannot see anything worthwhile that the system is doing when it is doing the Status call. I don't see the request being send to sshexec or any thing that it returns.

[2018-03-28 12:46] cawale commented on #16
ok. so I found the debug.out log. From that file I see this when I run the Status function in the UI.

protocol_cd('/temp/deploy')
myDir=['/temp/deploy']
cmd=[sshexec  -m "10.77.9.108" -port "22" -usr "WaleC" -pw 'Jan202018' "mkdir -p "'/temp/deploy'";cd "'/temp/deploy'";pwd"]
line=[Unable to execute command or shell on remote system: Failed to Execute process.
]

I think this is the first uname f

[2018-03-28 12:53] cawale commented on #16
So it looks like the UI or something is doing a uname after the initial request??? I am seeing this in an sshexec log I created.

sshexec -m 10.77.9.108 -port 22 -usr xxxxx -pw xxxx mkdir -p /temp/deploy;cd /temp/deploy;pwd
WINDOWS 1: mkdir -p /temp/deploy
WINDOWS 1: cd /temp/deploy
WINDOWS 1: pwd
WINDOWS 2: /c (if not exist \temp\deploy mkdir \temp\deploy ) && cd \temp\deploy && cd
**sshexec -for

[2018-03-28 14:48] cawale commented on #16
So I been able to get a successful dmtransfer working but still not through the UI. It looks like the UI try's to be smart and converts '\\' to '/' and then the match at the end fails even though the sshexec works as expected and returns the right directory.

I have been able to set the server up as a windows server and set the base directory to C:\temp\deploy. This is what gets sent in to sshexec

[2018-03-28 15:13] cawale commented on #16
Just to confirm to you the dmtransfer from the command line looks like this.

bash-3.2$ ./dmtransfer "-protocol" "sftp" "-server" "10.77.9.108" "-user" "xxx" "-password" "xxxx" "-checkbase" "C:\temp\deploy"
Base directory "C:\temp\deploy" is valid

[2018-03-28 15:22] cawale commented on #16
Now trying to remove the paths to whoami and grep that I needed to get this working.

I have tried updating the path in my .profile file as well as in the rectl file, logged out and back in again and restarted Deployhub but when I do a Status request for the server it is not finding either.

Where do I need to set the path to include the new required directories so that the UI is setup correctly t

[2018-03-28 15:28] sbtaylor15 commented on #16
It should be under the omreleng userid.  Update that .profile.  Or you can update the global profile in /etc/profile (I believe)

[2018-03-28 15:39] cawale commented on #16
I have just hardcoded the paths. I cannot seem to find the right place for it to work.

[2018-03-28 15:40] sbtaylor15 commented on #16
You can try putting the scripts in the <install>/engine/bin directory.  That should be in the path.

[2018-03-28 15:40] cawale commented on #16
Is there a reason that the UI would put extra double quotes around paths?

sshexec  -m "10.77.9.108" -port "22" -usr "xxxx" -pw 'xxxxx' "mkdir -p **"C:/temp/deploy"**;cd **"C:/temp/deploy"**;pwd"

I don't specify them in the base directory path???? I think this is what is messing up the UI call to sshexec.

[2018-03-28 16:12] sbtaylor15 commented on #16
Yes, I agree that UI is messing up the command.  I need to change the UI so you can specify Windows as the OS and sftp as the protocol making sure the slashes and quoting are correct.  Let me work on that.

[2018-03-28 16:50] cawale commented on #16
ok. Thanks.

[2018-03-28 17:07] cawale commented on #16
You may want to hold off on that. I just ran the sshexec command from the command line. The same one with all the extra double quotes and it worked fine. The script dealt with the extra quotes.

So now I don't really have any idea why the UI does not see this call as a successful one???

Unless it is having issues dealing with the '\\' characters in the response.

[2018-03-28 17:23] cawale commented on #16
One thing I have noticed is that when I run the dmtransfer command from the command line, with the same syntax as the UI does, I see an extra debug line in the debug.out file.

protocol_cd(C:\temp\deploy)
myDir=[C:/temp/deploy]
cmd=[sshexec  -m "10.77.9.108" -port "22" -usr "xxx" -pw 'xxxx' "mkdir -p "C:/temp/deploy";cd "C:/temp/deploy";pwd"]
**line=[C:\temp\deploy
]**

I do not see this when it g

[2018-03-28 18:40] cawale commented on #16
Now I am getting into some weird results. Wondering if the ssh connections are having issues. None of my sshpass commands come back with anything. They complete but the result is "".

That is through the UI only. If I run them from the command line in either ksh or bash everything works fine?

[2018-03-28 18:43] sbtaylor15 commented on #16
Is the password being passed in from the UI?  Also, I don't think you can run sshpass by itself.

[2018-03-28 18:49] cawale commented on #16
Yes the password is being sent in. I am able to run sshpass on it's own.

[2018-03-28 18:55] cawale commented on #16
I think my problem is with the ssh daemon. I have 3 sshd tasks running and I think I should only have one.

We have seen this issue before where sshpass stops working for a while and then miraculously starts again at some point. Maybe a bug in Solaris' sshd and maybe some issue with sshpass where it is not catching an error correctly?

[2018-03-29 13:57] svc-automator commented on #22
My apologies for the delay – it’s been a crazy week and it’s not done yet.  Unfortunately, I’m scheduled to work through 2am tonight and I am out tomorrow.  I am free most of Tuesday and Wednesday before 2pm.

[2018-03-29 14:10] cawale commented on #16
So the issue ended up being a bug I introduced in the script which I resolved. This does not seem to fix the UI integration issue but all of the commands that the UI is trying to do work from the command line. both the sshexec and dmtransfer commands.

It also still works for unix endpoints fine from the UI.

When I look at the debug.out log the only difference I see from the successful unix reque

[2018-03-29 14:18] cawale commented on #30
With single quotes I get:

INFO: Deployed File hsc_s_loggerserviceEAR-2.0.4.ear -> Dev WebSphere 8_5 Admin:/export/home/walec/deploy/hsc_s_loggerserviceEAR-2.0.4.ear

bash: -c: line 0: syntax error near unexpected token `('bash: -c: line 0: `sh -c cat - >/tmp/create_jdbcdatasourcews.py;/apps/ibm/websphere/appserver/v8552/bin/wsadmin.sh -lang jython -user xxxxx -password xxxxx -p /export/home/walec

[2018-04-04 13:28] cawale commented on #16
Is there any ETA on looking at the code for this?

[2018-04-04 13:28] cawale commented on #30
Any ETA on this?

[2018-04-04 16:06] sbtaylor15 commented on #16
Can you send me a screen shot of the General Tab for the Windows End Point that is using ssh for the protocol?  I want to make sure that my test case matches up with your definition.

Thanks, Steve

[2018-04-04 16:17] sbtaylor15 commented on #30
So create_jdbcdatasourcews.py should be copied from the DeployHub engine to the end point or does it already exist?

[2018-04-04 16:19] sbtaylor15 commented on #30
Also, can you check to see if you have a /tmp/trans.txt file.  If so, please send the dmtransfer line for this deployment.  I need to verify that the parameters to dmtransfer are quoted correctly.

[2018-04-04 16:25] cawale commented on #16
Here you go.

![image](https://user-images.githubusercontent.com/34170905/38320681-3c0f3ee2-3803-11e8-9fa3-75e2315dad4e.png)

[2018-04-04 19:59] svcautomator commented on #21
I'm afraid even when logged in as svcautomator - I can get to the dsl - everything appears to be set up and it just loops.  :(
![image](https://user-images.githubusercontent.com/34070640/38331381-f480cf28-3807-11e8-97c1-a14c9ebe91b6.png)

Isn't there anyway of turning some form of logging on so I can see in a little more detail what its doing?  I guess we'll talk tomorrow.

[2018-04-06 12:39] cawale commented on #30
create_jdbcdatasourcews.py is transferred to the endpoint correctly. I can see it in the tmp folder. The error occurs after that.

[2018-04-06 13:35] cawale commented on #30
This is all that I am seeing in the trans.txt file for this deployment

dmtransfer "-protocol" "sftp" "-sourcedir" "/tmp/tdm.67285.1" "-targetdir" "/export/home/walec/deploy" "-user" "xxxxx" "-password" "xxxxxx" "-target" "unix" "-server" "10.77.10.251"

[2018-04-06 21:24] sbtaylor15 commented on #23
Looked into this further and the root cause appears to be that the winexec.exe program is not able to copy over the temporary service and start it.  Going to try psexec.exe to see if it has the same issues.

@svc-automator - Please download the following zip from Microsoft https://download.sysinternals.com/files/PSTools.zip and unzip it into a temporary location on the DeployHub server.  Next from

[2018-04-06 21:49] svc-automator commented on #23
That does seem to work..

E:\DeployHub\Engine>psexec \\mrydevwcf1 -u XXXXXXXX -p XXXXXXXXXX  ipconfig /all

PsExec v2.2 - Execute processes remotely
Copyright (C) 2001-2016 Mark Russinovich
Sysinternals - www.sysinternals.com

Windows IP Configuration

   Host Name . . . . . . . . . . . . : MRYDEVWCF1
   Primary Dns Suffix  . . . . . . . : CIGDEVIN.DEV
   Node Type . . . . . . . . . . . . : Hybrid

[2018-04-10 12:34] sbtaylor15 commented on #23
Ok, great.  Let me make a coding change to call psexec instead of winexec.

[2018-04-10 12:40] sbtaylor15 commented on #30
Add the following to the start of the sshexec.  We need to record the arguments being passed in.   I am trying to figure out how the parameters with spaces are handled.  Let me  know the results of the /tmp/args.txt

[code]

[2018-04-10 14:06] cawale commented on #30
So when I put double quotes around the string it never gets to the dmtransfer step. When I put it in with single quotes it does. Here is the output from the args.txt.
[args.txt](https://github.com/OpenMake-Software/DeployHub/files/1894940/args.txt)

[2018-04-10 14:07] cawale commented on #30
also here is the current sshexec script
[sshexec.txt](https://github.com/OpenMake-Software/DeployHub/files/1894945/sshexec.txt)

[2018-04-10 14:18] sbtaylor15 commented on #30
Looks like the spaced parameters are coming in as separate arguments instead of as a single one.  Let me do some debugging.

Thanks Steve

[2018-04-10 15:13] sbtaylor15 commented on #30
What happens when you don't put any single quotes or double quotes?  Send the args.txt if it runs.

[2018-04-10 15:14] svc-automator commented on #23
Ok, let me know when you are ready….

Maria Olivero

[2018-04-10 16:32] cawale commented on #30
Here you go.

[args.txt](https://github.com/OpenMake-Software/DeployHub/files/1895500/args.txt)

[2018-04-12 16:59] sbtaylor15 commented on #30
I found a difference in shell between using $* and "$@" in the loops for the parameters.

Change

[code]
to

[code]

And run without any single or double quotes on the DeployHub GUI side.  Send me the args.txt from that run.

[2018-04-12 21:30] alanromo opened #32 "Uploading patterns in a massive way"
Is there a way to upload patterns in a massive way?
What I would like to be able to do is to add a big list of file names to be deployed in the patterns tab of a connection.
Think about this as a huge set of arbitrary file names  (they don't follow any pattern name ... I can't use wildcards)
Adding one by one using the GUI can be a tiresome task and prone to make typos.
I know beneath Deployhub th

[2018-04-12 21:39] sbtaylor15 commented on #32
Would a recursive directory list work?  Or do you need to pick and choose files?

[2018-04-12 21:42] sbtaylor15 commented on #32
Also, do all of those files belong to single component or multiple ones?

[2018-04-12 22:11] alanromo commented on #32
I need to pick an choose. A recursive list wouldn't work
Belong to a single component

[2018-04-12 22:17] sbtaylor15 commented on #32
I just looked at the API set and I need to add one to create a Component and the corresponding Component Items.  You will be able to drive this mass update from a script.

[2018-04-12 22:52] sbtaylor15 commented on #32
I have the APIs needed exposed now on my dev machine.  Let me put together a sample script for using the API calls to do the bulk load.

[2018-04-13 16:05] cawale commented on #30
here you go.
[args.txt](https://github.com/OpenMake-Software/DeployHub/files/1908105/args.txt)

[2018-04-13 18:38] sbtaylor15 commented on #23
Hi Maria,

Here is the updated library that will use psexec.exe if its present.  https://www.openmakesoftware.com/qa/win.zip

Please put the new winlib.dll and psexec.exe into the <deployhub install>/engine/lib directory.  Then try running the deployment that has the unzip as the Post Action.  Let me know how it works.  We may need to get on a web meeting since I was not able to test out all of th

[2018-04-13 18:41] sbtaylor15 commented on #30
Base on the last output it looks like the parameters are coming into sshexec script correctly but not being passed across to the remote machine with the right quotes in place.  I need to rework sshexec to create a temporary file with the remote call in it instead of trying to do everything in one go.

[2018-04-13 19:56] svc-automator commented on #23
Cool beans and thanks, I’ll give it a shot.

[2018-04-17 21:47] alanromo commented on #32
Any news on this topic?

[2018-04-18 19:54] sbtaylor15 commented on #32
What type of repository are you using for the Component Items, file system or http?

[2018-04-18 20:02] alanromo commented on #32
file system

[2018-04-26 16:51] sbtaylor15 commented on #32
Which version (OSS vs Pro) and OS are you using for DeployHub?

[2018-04-26 17:27] alanromo commented on #32
OSS running on Windows 10 Enterprise.1709

[2018-04-27 20:22] sbtaylor15 commented on #32
You will need an updated war file that contains the new APIs.

[dmadminweb.war.zip](https://github.com/DeployHubProject/DeployHub/files/1956517/dmadminweb.war.zip)

To install -

1. Stop the DeployHub Web Admin Service
2. Backup the dmadminweb/WEB-INF/web.xml (under the web app install)
3. Delete the dmadminweb directory
4. Unzip the the above war file into dmadminweb
5. Copy the backup web.xml in

[2018-04-30 20:56] alanromo commented on #32
thanks, I'll work this and let you know results

[2018-05-02 21:13] alanromo commented on #32
thanks, I'll work this and let you know results

[2018-05-02 21:23] alanromo commented on #32
I'm trying to follow your instructions.
Regarding step 2... I only can find with that name on my lap top the file C:\Program Files\Openmake Software\DeployHub\WebAdmin\libs\dmadminweb.war
I can't find such directory-file: dmadminweb/WEB-INF/web.xml
I'm showing hidden files and I can't find it.
Any idea where it is?

[2018-05-02 21:35] sbtaylor15 commented on #32
The war is exploded out as part of the installer.  Its under  C:\Program Files\Openmake Software\DeployHub\WebAdmin\tomcat\webapps in the dmadminweb directory.  Backup C:\Program Files\Openmake Software\DeployHub\WebAdmin\tomcat\webapps\dmadminweb\WEB-INF\web.xml.  Then delete  C:\Program Files\Openmake Software\DeployHub\WebAdmin\tomcat\webapps\dmadminweb.  Followed by unzipping the .war into a n

[2018-05-17 14:35] alanromo opened #33 "remotescript command not working"
Hi
I have a component with a postaction invoking this function :
-----------------------
echo "Running script on end point ${server.name}";
echo "before executing /home/MyDirectory/MyChmod.ksh";
remotescript(filepath: "/home/MyDirectory/MyChmod.ksh");
echo "exit status is $?";
return 0;
------------------------
When I see the execution log I see:

Running script on end point az70
before executing 

[2018-05-18 17:28] pgibbs-openmake commented on #33
Hi, sorry for the delay in replying. I presume the target machine is Unix/Linux?
1) Could you confirm that the component is being delivered to the target machine (in other words, the Component Type mapping is correct to the end point)
2) The target server type is set correctly.
3) If you open the deployment log after the deployment completes and check the "Reports" tab, is the Remote Script listed

[2018-05-18 18:13] alanromo commented on #33
Yes, the target machine is Linux
1. The component files are being delivered correctly
2. The target server type is ...End Point type: unix, End Point component types: application File
3. Yes it is listed there

![image](https://user-images.githubusercontent.com/26904911/40250563-4a65a1be-5a9c-11e8-80f6-49bf44173d08.png)
![image](https://user-images.githubusercontent.com/26904911/40250640-85c3a422-

[2018-05-18 20:40] pgibbs-openmake commented on #33
I see that the transfer protocol is FTP ... running commands remotely over FTP is only supported by a small number of FTP Servers. I'm not sure Linux is one of them.

Now, clearly that should be reporting a failure rather than returning 0 - we can certainly look at that with a view to sorting out a fix. In the meantime, can you change the transfer protocol to SFTP? I assume your remote Linux serve

[2018-05-18 21:12] alanromo commented on #33
Thanks a lot, changing to sftp the protocol at the end point solved the issue

[2018-05-27 01:08] alanromo opened #34 "No domains in the GUI"
Hello,
Suddenly the domains tree disappeared from the GUI.
All the options in the main menu stopped showing any action .
I uninstalled DeployHub and resinstalled it many times expecting to get back its functionality, but the result is always the same.
I'm working on Windows 10
Any idea where the problem can be ?

[2018-05-27 17:17] sbtaylor15 commented on #34
Can you send a screenshot of the domain tree?

[2018-05-28 09:30] pgibbs-openmake commented on #34
Just checking - do you get the login screen but the domain tree is missing after you login? I'm wondering if the database has an issue (reinstalling the app will not remove the database schema since that's how we do upgrades). If you can login successfully then it sounds like the database itself is functioning okay.

Also, just double-checking that you're logging in with an "admin" account? Does t

[2018-05-28 15:45] alanromo commented on #34
Since the problem started, DeployHub GUI shows up without asking any id/password. It just simply shows up without presenting the domains tree. The main menu options don't do anything.
I took a look to the logs you mentioned and I can see a java exception in the deployHub.log file... I don't know if that is the issue. I'm attaching files
Thanks in advance for your help.
![image](https://user-images

[2018-05-30 14:54] sbtaylor15 commented on #34
Can you go into pgAdmin and backup the database and send us the backup?

1. Open the database in pgAdmin.
2. Navigate to the "dm" schema
3. Right click and select Backup...
4. Put in a file name for the backup and then run the backup

[2018-05-31 16:24] alanromo commented on #34
Well, I already had deleted the dm schema expecting to have a clean installation from zero
But the result is the same. When I install it back there in no functionality at all,
Is it worth to send you the dm schema anyway ? As far as I can see it only contains the default and demo values)

[2018-05-31 16:29] sbtaylor15 commented on #34
Yes, send me the dm schema.  I want to verify that all of the tables are created correctly.

[2018-05-31 16:58] alanromo commented on #34
Here the dm schema backup
I put it in plain format
[dmSchema.txt](https://github.com/DeployHubProject/DeployHub/files/2059220/dmSchema.txt)

[2018-06-01 15:06] alanromo commented on #34
I have uninstalled and reinstalled the tool many times expecting to see it working again. But sometimes I see the following message.... perhaps it could help
![image](https://user-images.githubusercontent.com/26904911/40847900-35ce1988-6583-11e8-8fc0-53ef74b0b6f8.png)

[2018-06-01 15:25] sbtaylor15 commented on #34
Have you rebooted between installs?  The service may not be uninstalled correctly.

[2018-06-01 15:27] alanromo commented on #34
Yes. every time

[2018-06-01 15:46] sbtaylor15 commented on #34
Can we do a web meeting to get this sorted out?  If so, send your contact info to: steve@deployhub.com

[2018-06-04 13:07] ramapokuri opened #35 "Runtime error: Pattern is required for http repository"
Hi,
 I am trying to set up my project in deployhub with jenkins. I have done jenkins set up in deployhub for example Application103 and enviornment 103 and configured all seeting in Jenkins job configuration page and when i run the build it is throwing the below error

**Runtime error: Pattern is required for http repository
18:22:57
18:22:57 Stacktrace:
18:22:57 	repository Repository104
18:22:57

[2018-06-04 15:18] sbtaylor15 commented on #35
The http repository for the Component Item is missing the "pattern" parameter.  Update the pattern entry field for the Component Item.   The Component Item will be part of the Component Version that is being updated by Jenkins.

[2018-06-04 17:52] ramapokuri commented on #35
i am new to deployhub can u please explain more how to do this

[2018-06-04 19:07] sbtaylor15 commented on #35
Are you using the DeployHub Plugin for Jenkins?

[2018-06-05 06:28] ramapokuri commented on #35
Yes iam using deployhub plugin for jenkins

[2018-06-05 11:46] ramapokuri commented on #35
today again i started the with from scratch and giving the same issue,

**INFO: Starting deployment #137
--
INFO: Deploying Application "testapp" into Environment "testenv"
INFO: Deploying Component testcomp
Failed to open  for logging
Runtime error: Pattern is required for http repository
Stacktrace:    repository testrepo    dropzone 1    deploy     component iseekcomp    application iseekapp   

[2018-06-06 02:55] sbtaylor15 commented on #35
Here is a screen shot of a Jenkins Repository definition:

![image](https://user-images.githubusercontent.com/14826572/41013265-7e543156-6902-11e8-8c1c-1ba1a9fd2134.png)

And a screenshot of the Component Item definition for the "pattern" to use:

![image](https://user-images.githubusercontent.com/14826572/41013220-49c4c612-6902-11e8-9d2a-39fe843771c3.png)

Also, did you define a Build Engine and

[2018-06-06 03:16] ramapokuri commented on #35
thanks , I will try and let you know the results, I am building the .net code , i want deploy webapp folder to target folder , so can i mention 'webapp' in pattern section , please advise

[2018-06-06 03:21] sbtaylor15 commented on #35
So the example I gave was to pickup the .war file that is being archived against the Jenkins Job.  Where are you archiving your files to?  Or are you just leaving them on the file system under the jobs directory for Jenkins?

[2018-06-06 10:33] ramapokuri commented on #35
i am just leaving  my archiving files in Jenkins work space

[2018-06-06 14:55] sbtaylor15 commented on #35
If DeployHub is installed on the same machine as Jenkins or if the Jenkins machine is Windows then we can use a file system repository.  Can you let me know more about your setup?

[2018-06-07 12:02] ramapokuri commented on #35
![capture](https://user-images.githubusercontent.com/39910994/41098328-96150fbe-6a78-11e8-8adc-755ced6d2d9e.PNG)
I am using file system repository and getting some errors. please advise , i will give provide my set up details

[2018-06-07 12:56] ramapokuri commented on #35
![capture1](https://user-images.githubusercontent.com/39910994/41100930-40c0aebc-6a80-11e8-8323-476e46f95ae1.PNG)

here is my component details name is dotnetcomp

[2018-06-07 12:58] ramapokuri commented on #35
![capture2](https://user-images.githubusercontent.com/39910994/41101011-867baed4-6a80-11e8-87ca-498633c84c45.PNG)
here is my build engine

[2018-06-07 13:02] ramapokuri commented on #35
![capture4](https://user-images.githubusercontent.com/39910994/41101202-20833a88-6a81-11e8-90c6-7c0594923f06.PNG)

here is my environment end point details base directory i have givenas my target folder  i have given E://BitBucket

[2018-06-07 13:03] ramapokuri commented on #35
here is my file system repo

![capture5](https://user-images.githubusercontent.com/39910994/41101257-4c40b51a-6a81-11e8-92fa-9e54ad72219d.PNG)

[2018-06-07 13:04] ramapokuri commented on #35
file path i haven given is my source direcotry i mean jenkins artifactory files

[2018-06-07 13:04] ramapokuri commented on #35
please can you advise what went wrong here is

[2018-06-07 13:05] ramapokuri commented on #35
INFO: Starting deployment #154
--
INFO: Deploying Application "dotnetapplication" into Environment "dotnetenv"
INFO: Deploying Component dotnetcomp
INFO: Item "dotnet": Checked out 0 file(s) from repository "dotnetrepo"
INFO: Deploying Component dotnetcomp to Server dotnetend
No error
Exception at line 0: dmtransfer did not execute successfully
Stacktrace:    server dotnetend    dropzone 1    depl

[2018-06-07 13:23] sbtaylor15 commented on #35
It looks like the pattern entry field is missing on the Component Item screen.  Let me do some investigation.

[2018-06-07 14:55] sbtaylor15 commented on #35
Goto the dotnetrepo repository -> Properties Tab and delete the following properties:  pattern, recursive and version.

Next, go back to your Component and edit the dotnet component item.  Add *.* in for the pattern.
Run the deployment again and let me know the results.

[2018-06-08 06:24] ramapokuri commented on #35
I did the same , but getting the same error

[2018-06-08 08:34] ramapokuri commented on #35
It is working for me now, i just mentioned *.* with recursive mode so it is deployed now. But How can i give the file path as environment variable but here i think i am hard coded my Jenkins work space path .

[2018-06-08 14:28] sbtaylor15 commented on #35
You can put variables in the filepath.  For example:   c:\jenkins\${workspace}\webapp

The "workspace" variable would be defined as an Attribute to the Component.   Here is a screen shot that defines environment variables.

![image](https://user-images.githubusercontent.com/14826572/41163440-e3e715ac-6af5-11e8-98a2-745e2758c457.png)

[2018-06-08 17:15] sbtaylor15 commented on #34
Did you get it working?

[2018-06-08 18:16] alanromo commented on #34
No, I feel like I ran out of ideas. I stopped trying.

[2018-06-08 18:19] sbtaylor15 commented on #34
I would like to do a web meeting to take a look at your installation.  I looked at the database dump and it looks good.  I think it may be an issue with the database connection.

[2018-06-08 18:28] #33 closed, assigned to nobody

[2018-06-13 08:39] ramapokuri commented on #35
Thanks Steve, Aha but there is one problem i am facing since few days regarding DeployHub jenkins plugin.

Jenkins Job is failing but deployment gone through well and Jenkins job is throwing below error

**12:04:38 Time Elapsed 00:00:09.33
12:04:40 Archiving artifacts
12:06:13 Logged in to DeployHub as user admin
12:06:16 Deploying application dotnetapplication11 to environment dotnetenv1
12:06:19

[2018-06-13 08:41] ramapokuri commented on #35
My jenkins version is 2.107.3 and DeployHub 8.0.1

[2018-06-13 12:54] sbtaylor15 commented on #35
Does this happen when you run the deployment from DeployHub directly instead of through the Jenkins plugin?  Trying to figure out what is throwing that exception.

Thanks, Steve

[2018-06-13 12:58] sbtaylor15 commented on #35
Also, are you using the DeployHub Groovy Library to do the deployment from a pipeline?

[2018-06-13 13:12] sbtaylor15 commented on #35
DeployHub 8.0.10 is the latest version of the plugin.  Can you install that version?

https://plugins.jenkins.io/deployhub

[2018-06-13 15:23] ramapokuri commented on #35
Does this happen when you run the deployment from DeployHub directly instead of through the Jenkins plugin? Trying to figure out what is throwing that exception.  - i just installed deployhub plugin which is available in Jenkins manage plugin page

[2018-06-13 15:24] ramapokuri commented on #35
Also, are you using the DeployHub Groovy Library to do the deployment from a pipeline? - no i am not using DeployHub Groovy library, how can i do this , please can you advise

[2018-06-15 06:48] ramapokuri commented on #35
Hi Steve, I have installed Deployhub plugin 8.0.10 And still it is giving the same error  error .12:06:19 IO Exception: java.lang.UnsupportedOperationException: Refusing to marshal net.sf.json.JSONObject for security reasons; see https://jenkins.io/redirect/class-filter/
12:06:19 Build step 'DeployHub Interface' marked build as failure
12:06:20 Finished: FAILURE

[2018-06-15 06:49] ramapokuri commented on #35
How can i add the DeployHub Groovy library in jenkins / DeployHub , Please advise

[2018-06-18 12:38] ramapokuri commented on #35
Hi Steve, Can you please advise the above one

[2018-06-19 00:22] sbtaylor15 commented on #35
![image](https://user-images.githubusercontent.com/14826572/41568710-74dcc5bc-7324-11e8-97e5-dcffa871afd4.png)

Here is a screen shot of adding the library to Jenkins.  The library gets pulled from GitHub

[2018-06-20 13:12] ramapokuri commented on #35
thanks, But my build server no internet connectivity , so what i did is i just cloned Master branch to my Bit Bucket server and mentioned in Gloabl library section but still it is giving "IO Exception: java.lang.UnsupportedOperationException: Refusing to marshal net.sf.json.JSONObject for security reasons; see https://jenkins.io/redirect/class-filter/" same error and i have installed groovy 2.5.0

[2018-06-20 13:16] ramapokuri commented on #35
![capture7](https://user-images.githubusercontent.com/39910994/41660599-2b48c60c-74ba-11e8-96e7-55a9eb5eab3c.PNG)

[2018-06-20 21:38] sbtaylor15 commented on #35
Does Jenkins print a full stack trace for either the DeployHub plugin or the DeployHub Groovy library?

I have the latest version of Jenkins install and not getting the error that you are seeing.

Thanks, Steve

[2018-06-21 20:36] sbtaylor15 commented on #35
There is a new plugin available [8.0.13](https://repo.jenkins-ci.org/releases/com/openmake/deployhub/8.0.13/) that removes all dependencies on net.sf.json.JSONObject.   Give that one a try and let me know the results.

Thanks Steve

[2018-06-26 11:20] ramapokuri commented on #35
Thanks Steve, Now it is giving some error,
"Logged in to DeployHub as user admin
Deploying application dotnetapplication1123 to environment Env1234
Could not find appropriate deploy task
Build step 'DeployHub Interface' marked build as failure
Finished: FAILURE"

[2018-06-26 11:23] ramapokuri commented on #35
I am using 8.0.10 Deploy Hub OSS version.

[2018-06-26 11:24] ramapokuri commented on #35
![app](https://user-images.githubusercontent.com/39910994/41908422-87ae10d6-7961-11e8-9648-56ccd2e856a9.PNG)

[2018-06-26 11:24] ramapokuri commented on #35
![comp](https://user-images.githubusercontent.com/39910994/41908433-91a21ccc-7961-11e8-938d-87652ab889d5.PNG)

[2018-06-26 11:24] ramapokuri commented on #35
![env](https://user-images.githubusercontent.com/39910994/41908445-a0aaeae6-7961-11e8-95ff-ac5f42ac31c7.PNG)

[2018-06-26 11:25] ramapokuri commented on #35
![repo](https://user-images.githubusercontent.com/39910994/41908463-ae374c18-7961-11e8-927d-6b3df52a5316.PNG)

[2018-06-26 11:27] ramapokuri commented on #35
Please can you advise what went wrong here

[2018-06-26 11:30] ramapokuri commented on #35
![conf](https://user-images.githubusercontent.com/39910994/41908660-65df3786-7962-11e8-9765-bb408914209a.PNG)

[2018-06-26 11:42] ramapokuri commented on #35
![deploy](https://user-images.githubusercontent.com/39910994/41909220-1b589d2c-7964-11e8-9d19-79c46d6b9fa2.PNG)

[2018-06-26 15:35] sbtaylor15 commented on #35
Go to the Domains menu which will bring up the Domains Tree View on the left.  Expand My Pipeline and select the "Testing" node.  The right hand panel should show the Tasks defined for that stage of the pipeline.  Can you send a screen shot of those tasks?  I think a Deploy task may be missing for Testing stage of the pipeline.

Thanks, Steve

[2018-06-26 20:16] ramapokuri commented on #35
Sure i will test it , can you diff between Pro and OSS version of deployhub, in feature we may think about go for enterprise

[2018-06-26 20:19] sbtaylor15 commented on #35
Here is the [comparison table](https://www.deployhub.com/deployhub-pro-vs-deployhub-oss/).  Let me know if you need more details.

Thanks, Steve

[2018-06-26 20:20] sbtaylor15 commented on #35
Also, in the Pro version your enhancement requests and bug fixes are prioritized over the OSS.

[2018-06-27 08:56] ramapokuri commented on #35
Hi Steve, I have created Add Deploy Task names "test1" but where i can mention this task for deployment.
Here is my set up, This is worked for me Few days ago with out deploy task,
Component
====
![comp1](https://user-images.githubusercontent.com/39910994/41963756-02a42870-7a16-11e8-8273-f00a01decf9d.PNG)
![comp2](https://user-images.githubusercontent.com/39910994/41963757-02f2441a-7a16-11e8-9ca6-

[2018-06-27 08:56] ramapokuri commented on #35
Application set up
![app1](https://user-images.githubusercontent.com/39910994/41963789-1380a632-7a16-11e8-92fb-0943d8f97e2f.PNG)
![app2](https://user-images.githubusercontent.com/39910994/41963790-13fbfe9a-7a16-11e8-8e29-f0e2db828d81.PNG)

[2018-06-27 08:57] ramapokuri commented on #35
Env Details

![env1](https://user-images.githubusercontent.com/39910994/41963819-26af0eba-7a16-11e8-82c9-447261c5e6f8.PNG)

[2018-06-27 08:57] ramapokuri commented on #35
Repo details

[2018-06-27 08:57] ramapokuri commented on #35
![repo](https://user-images.githubusercontent.com/39910994/41963859-3de2d198-7a16-11e8-9138-0736fe44be7e.PNG)
![Uploading repo12.PNG…]()

[2018-06-27 08:58] ramapokuri commented on #35
![Uploading repo.PNG…]()

[2018-06-27 08:59] ramapokuri commented on #35
I just created deploy task test1 , abd ran again it is giving saem error, could not find deploy task, where i can mention this to understand the jenkins and deployhub
![domain](https://user-images.githubusercontent.com/39910994/41963970-7cd8dc58-7a16-11e8-9961-b756c61a7879.PNG)

[2018-06-27 09:03] ramapokuri commented on #35
![conf](https://user-images.githubusercontent.com/39910994/41964169-fb1543ea-7a16-11e8-826f-0022c43a782b.PNG)

this is my jenkins config details

[2018-06-27 15:22] sbtaylor15 commented on #35
A Deploy Task is needed for each stage of the pipeline.  We have this requirement in order to setup different security levels for the different stages.  The deploy task that will be used is derived based on where the application version is in pipeline.

As for your error, make sure there is a Deploy Task is defined for each stage of the pipeline.  Also, you need to assign the right Group Access.

[2018-06-30 13:14] ramapokuri commented on #35
Thanks , it is working now , Great. again thanks a lot for your advise and inputs

[2018-07-02 06:32] ramapokuri commented on #35
How to do roll back if something wrong through deployhub

[2018-07-02 15:11] sbtaylor15 commented on #35
Wrong in what way?  You want to rollback a deployment or you changed some data in the UI and want to roll it back.

Thanks, Steve

[2018-07-03 06:28] ramapokuri commented on #35
for example deployment 130 has been pushed to dev server. i want to roll back deployment 130.

[2018-07-03 20:56] sbtaylor15 commented on #35
To do a roll back and roll forwards you need to use Component Versions and Application Versions.

1. Goto your base version of your Component, then Versions Tab.
2. Right click and create a new Component Version
3. Edit the new Component Version's Component item.  This should point to the new version of the artifact file.
4. Add a Create Version Task to Development Pipeline from the Domains tree v

[2018-09-21 19:45] ajhd opened #36 "Error: Could not find library ftplib.dll"
I'm trying to deploy a simple text file from "ftprep" type repository, but I got the following:

INFO: Starting deployment #152
INFO: Deploying Application "MyApp" into Environment "MyEnv"
INFO: Deploying Component MyComponent
Runtime error: Could not find library ftplib.dll
INFO: Time taken 0.010000 seconds

Can someone help me to resolve this?

I'm using the Linux DeployHub Open Source (OSS Late

[2018-09-21 19:47] sbtaylor15 commented on #36
What OS is your end-point running?
Thanks, Steve

[2018-09-21 19:57] ajhd commented on #36
Linux

[2018-09-21 20:04] sbtaylor15 commented on #36
The best way to go is to use sftp, which supports ssh.  You will need to create a credential for that end point.  The credential can be userid/password combo or public/private key.

sftp will enable commands to be run pre and post deployment on the end point.  Regular ftp does not allow for any command execution.

![image](https://user-images.githubusercontent.com/14826572/45903477-1daf0e80-bda7-1

[2018-09-21 20:28] ajhd commented on #36
I don't have any problem with my End-point my settings are like your images with protocol = sftp and ssh port number = 22, and I also created a credential with my external userid and password.
I think the problem is with the repository, because I already did a test. I transferred a file from my local machine to this same End-Point and it was successful, but when I tried from an external repository

[2018-09-21 20:33] sbtaylor15 commented on #36
Ok, got it.  I thought the problem was on the end point side.  Let me check on the repository side.

Thanks, Steve

[2018-09-21 20:34] ajhd commented on #36
Sure, Thank you! = D

[2018-09-24 16:44] sbtaylor15 commented on #34
Determined that the expanded war file is missing .js files.  Attached is the war file that contains the missing .js.

[dmadminweb.war.zip](https://github.com/DeployHubProject/DeployHub/files/2411938/dmadminweb.war.zip)

The war file goes in <install>/webadmin/libs.  Replacing the existing dmadminweb.war file.  Restart of the DeployHubWeb Services or reboot is needed of the file is in place.

[2018-09-24 16:52] sbtaylor15 commented on #36
I was able to recreate the issue.  Let me debug it to figure out what is going on.

[2018-09-24 17:21] #35 closed, assigned to nobody

[2018-09-24 17:22] #9 closed, assigned to nobody

[2018-09-24 17:23] #10 closed, assigned to nobody

[2018-09-24 17:24] #11 closed, assigned to nobody

[2018-09-24 17:37] #12 closed, assigned to nobody

[2019-01-25 21:23] kanokwanmaneeon commented on #1
@sbtaylor15 ###1 ### #11

[2019-02-14 11:19] ghost opened #38 "Details install link is broken"
Readme.md content has Detailed install link (https://www.deployhub.org/help/NetHelp/#!Documents/deployhubinstallationguideforlinux.htm) which is broken.

Please update it with correct link.

[2019-02-25 12:15] ghost opened #39 "Server giving 404"
Hi,

I've been trying for quay.io/deployhub/deployhub-pro:latest for deployhub server, but the server gives 404 response on app url.

Log of docker run

[code]
Service validation from host:

[code]
Output:
[code]

[2019-02-25 16:16] TracyRagan commented on #39
I have sent this request to 2nd level support. They will get back to you.
What time zone are you in?

On Mon, Feb 25, 2019 at 5:16 AM Arvind Kumar <notifications@github.com>
wrote:

--
Kind Regards,

Tracy Ragan
CEO and Co-Founder / DeployHub / tel: + 1.505.424.6440/ mob: +1.505.780.0558

Follow us on: Blog <https://www.deployhub.com/category/featured/> / Twitter
<https://twitter.com/@tracyragan>/

[2019-02-25 16:19] ghost commented on #39
Thanks @TracyRagan  for the response. I am in BST.

[2019-02-25 16:24] ghost commented on #39
Hi @TracyRagan , I was looking for the issue, and realized that the app is accessible from the context only.

http://localhost:7171/dmadminweb/Home is accessible for me.
I found this hint, while doing installation using rpms.

I am happy to close this issue.
Probably, I'll be raising PR to fix the documentation.

Thanks.

[2019-02-25 16:24] #39 closed, assigned to nobody

[2019-02-25 17:07] TracyRagan commented on #39
Thank you for pointing that out.
Tracy

On Mon, Feb 25, 2019 at 9:25 AM Arvind Kumar <notifications@github.com>
wrote:

--
Kind Regards,

Tracy Ragan
CEO and Co-Founder / DeployHub / tel: + 1.505.424.6440/ mob: +1.505.780.0558

Follow us on: Blog <https://www.deployhub.com/category/featured/> / Twitter
<https://twitter.com/@tracyragan>/ Facebook
<https://www.facebook.com/groups/DeployHubProject/?r

[2019-02-25 17:09] sbtaylor15 commented on #39
Hi @aku163,

Where in the documentation did we lead you astray?  Send me a screen shot or how to navigate to the page that is in error.

Thanks, Steve

[2019-02-25 17:27] ghost commented on #39
Hi @sbtaylor15 ,

Actually, documentation link is broken which was raised as a separate issue https://github.com/DeployHubProject/DeployHub/issues/38.
https://github.com/DeployHubProject/DeployHub/pull/40 has been raised for it.

Working urls are

https://www.deployhub.com/helpdh/NetHelp/index.html
https://www.deployhubproject.io/help/NetHelp/#!Documents/deployhubinstallationguideforlinux.htm

[2019-02-25 19:04] #38 closed, assigned to nobody

[2019-03-18 18:46] #22 closed, assigned to nobody

[2019-03-21 07:16] piyush94 opened #41 "Status check to endpoint failing"
I am running via docker container.
After adding the end point status check is failing:
![image](https://user-images.githubusercontent.com/11614204/54737729-4c336800-4bd7-11e9-9a05-196d74c1cd73.png)

But if TTY into the container i am able to issue ping to the endpoint.

[2019-03-21 16:45] sbtaylor15 commented on #41
Which docker container did you download, the OSS or Pro version?

[2019-03-21 16:45] sbtaylor15 commented on #41
Also, what is the end point type, windows or linux?

[2019-03-21 16:58] piyush94 commented on #41
I used this image quay.io/ortelius/ortelius. Is this correct for OSS?
Endpoint is a linux RHEL vm.

[2019-03-22 01:25] sbtaylor15 commented on #41
Go ahead and download the latest container image.  We had found a similar issue in the Pro version that was fixed but not pulled into the OSS version.  I pulled the changes into OSS.  Also, the .ssh keys will be accessible from /home/omreleng/.ssh/<private key name>.  They get copied from the host to /keys in the container and then into /home/omreleng/.ssh in the container.

Let me know the result

[2019-03-22 05:48] piyush94 commented on #41
I took the latest image and it's still failing,
Though i had found a workaround, when i run the docker container like this:
`docker run -u root <rest_of_command>`
then i am not facing this issue.

[2019-03-22 06:25] piyush94 commented on #41
Another issue has popped up after updating to latest image, base directory check is failing.
![image](https://user-images.githubusercontent.com/11614204/54804412-54ec7280-4c99-11e9-9949-0ffc5da064c6.png)

[2019-03-22 14:44] sbtaylor15 commented on #41
What type of credential are you using to access the remote end point?   I tested my side with a public/private key credential and it was successful.  Send me a screen shot of the end point definition (ie general tab).

[2019-03-22 14:58] piyush94 commented on #41
I am using a username/password based login. The VM is in a private cloud and is accessible from inside the container.

[2019-03-22 17:42] sbtaylor15 commented on #41
What was the result that you were getting when you ran the docker container without -u root?  Also, is your docker daemon running as root or a different userid?

[2019-03-22 18:10] piyush94 commented on #41
Without -u root all the status checks are failing.
Docker daemon is running as root.

[2019-03-22 23:11] sbtaylor15 commented on #13
Added OS error message to UI.  Passed testing with good user id & pw, bad userid & pw, good ssh key & bad ssh key.

[2019-03-22 23:11] #13 closed, assigned to nobody

[2019-03-22 23:12] sbtaylor15 commented on #41
I will need to debug why -u root is needed on a web meeting on your machine since I cannot recreate it.

[2019-03-22 23:13] sbtaylor15 commented on #41
Updated the Status check to show the underlying OS error.  Please pull the latest mage.

docker pull quay.io/ortelius/ortelius

[2019-03-25 06:28] piyush94 commented on #41
Error:
`Base directory "/opt" is invalid or inaccessible /opt/deployhub/engine/lib/sshexec: line 84: //.ssh/known_hosts.unique: No such file or directory
/opt/deployhub/engine/lib/sshexec: line 85: //.ssh/known_hosts: No such file or directory
cat: //.ssh/known_hosts: No such file or directory
/opt/deployhub/engine/lib/sshexec: line 88: //.ssh/known_hosts.unique: No such file or directory
/opt/dep

[2019-03-25 08:18] piyush94 commented on #41
Hi, issue has been fixed by reinstalling Docker.

[2019-03-25 14:00] sbtaylor15 commented on #41
Do you still need to pass with -u root after reinstalling Docker?

[2019-03-25 14:23] piyush94 commented on #41
No, not required anymore.

[2019-03-26 10:02] #41 closed, assigned to nobody

[2019-03-27 11:53] piyush94 opened #42 "Add endpoint to deploy action"
I have create a new action of category deploy.
`action DoMongoDBInstall
{
  deploy(repository: "GlobalRepo", path: @'software', pattern: "installers/mongodb-linux-x86_64-rhel70-3.6.3.tgz");
  deploy(repository: "GlobalRepo", path: @'software', pattern: "scripts/ase/mongodb-install.sh");
  ExecMongoDBInstall;
  return;
}`

And i am running this task like this:
![image](https://user-images.githubuse

[2019-03-27 14:33] sbtaylor15 commented on #42
What is the ExecMongoDBInstall?  Can you send me the details on it?

[2019-03-27 14:37] piyush94 commented on #42
It's a procedure to execute the shell script on the endpoint.

[2019-03-27 16:16] sbtaylor15 commented on #42
Ok, got it.  Make an Action (ExecMongoDBInstallAction) to call the ExecMongoDBInstall procedure.  Then for your application version add the MongoDB component first in the layout, then the MongoDB Install Script component.

Make sure the MongoDB component has no pre/post/custom actions assigned.  For the MongoDB Install Script component set pre and custom actions to blank and post action to ExecMon

[2019-03-27 17:15] piyush94 commented on #42
Yes, this way we are able to push the files and execute the script. But wanted to know if it's possible by creating custom actions. Is it not possible?

[2019-03-27 21:08] sbtaylor15 commented on #42
What you initially setup will execute a custom action but its outside the context of environments and servers.  You need to tie the custom action to a component so it has a context to work within.

See the following link for details on the deployment logic.

https://www.deployhub.com/helpdh/NetHelp/DeploymentProcessing.html

[2019-03-27 21:10] sbtaylor15 commented on #42
FYI, custom actions at the component level are used for components that require an alternate method of delivery, such as REST Post (Salesforce and IBM Data Power work this way).

[2019-03-28 06:57] piyush94 commented on #42
Is there a way to just run some commands on an endpoint through application action without deploying anything?

[2019-03-28 17:15] sbtaylor15 commented on #42
There is no direct way to do that.   There is a work around in which you create a component with no component items in it.  Then associate what you want to run to the components custom action.   The component will need to be associated to an application.  Running the Deploy Task against the application will in turn run the components custom action.

[2019-04-29 19:19] sbtaylor15 opened #43 "Enable subscribing to a component"

[2019-05-10 05:20] piyush94 opened #44 "credentials not working"
credentials not working.
endpoint connect fails.

new verion:
![image](https://user-images.githubusercontent.com/11614204/57504243-59d0b880-7311-11e9-89aa-6e5de73a3639.png)

old version:
![image](https://user-images.githubusercontent.com/11614204/57504251-6228f380-7311-11e9-8d45-9c837c3550e8.png)

[2019-05-10 05:20] piyush94 commented on #44
![image](https://user-images.githubusercontent.com/11614204/57504277-7bca3b00-7311-11e9-8312-71a6245fc509.png)

[2019-05-10 14:59] sbtaylor15 commented on #44
What type of credential are you using, encrypted in db, private key etc?  Send a screen shot of editing the credential.

[2019-05-13 05:10] piyush94 commented on #44
![image](https://user-images.githubusercontent.com/11614204/57597096-8f70de00-756b-11e9-8dc0-0730cbcbfaf7.png)

[2019-05-13 05:41] piyush94 commented on #44
I suspect username is not getting stored correctly because after clicking edit username is not prefilled even it is saved earlier.

[2019-05-13 09:13] piyush94 opened #45 "Timed out waiting for deployment to start Unhandled exception: Current user not set - can't deploy"
![image](https://user-images.githubusercontent.com/11614204/57609890-63feeb00-758d-11e9-9bea-359c76f80494.png)

[2019-05-13 15:19] sbtaylor15 commented on #44
The encryption of the userid and password are done by the deployment engine.  I think this maybe related to #45.

[2019-05-13 15:19] sbtaylor15 commented on #45
Can you please restart the docker container and see if the issue still persists?

[2019-05-14 06:56] piyush94 commented on #45
Restarting the docker container didn't solve either issue #44 or this one.

[2019-05-14 15:18] sbtaylor15 commented on #45
Can we setup a web meeting to look at these issues?  I cannot recreate them from my side.

[2019-05-15 11:18] piyush94 commented on #45
I have scheduled a call for today for discussion.

[2019-05-15 18:29] sbtaylor15 commented on #45
The state of the database connection caused the issue.  Please pull the latest image that fixes the issue.

`docker pull quay.io/ortelius/ortelius`

[2019-05-15 18:29] sbtaylor15 commented on #45
This will fix #44 as well.

[2019-05-17 05:34] piyush94 commented on #45
Still i am facing the issue:
![image](https://user-images.githubusercontent.com/11614204/57905215-65812980-7893-11e9-935f-98e3aa2eaad9.png)

![image](https://user-images.githubusercontent.com/11614204/57905224-6ca83780-7893-11e9-9e90-134b73179a35.png)

![image](https://user-images.githubusercontent.com/11614204/57905242-76319f80-7893-11e9-89fa-acd8680ad41b.png)

![image](https://user-images.github

[2019-05-17 05:40] piyush94 commented on #45
[deployhub-17-5-2019.log](https://github.com/ortelius/ortelius/files/3190011/deployhub-17-5-2019.log)

[2019-05-17 15:47] sbtaylor15 commented on #45
Looks like an intermittent segfault is happening.  Let me dig into the logs some more to see whats happening.

[2019-05-17 22:07] sbtaylor15 commented on #45
I figured out why the segfault was happening.  I added in a default value to fix the fault.  Please pull the latest image.

`docker pull quay.io/ortelius/ortelius`

[2019-05-20 07:14] piyush94 commented on #45
Thanks, it's working now.

[2019-05-20 07:14] #45 closed, assigned to nobody

[2019-05-20 07:15] #44 closed, assigned to nobody

[2019-05-20 19:24] sbtaylor15 opened #46 "Deploy to Kubernetes using Helm"
@piyush94 - I want to make sure we handle your use case for deploying using Helm.  What is your Kubernetes cluster running on, AWS, GKE?  I need to make sure the authentication happens correctly prior to running Helm.  Also, I am assuming that Triller is already configured.

Thanks, Steve

[2019-05-21 09:34] piyush94 commented on #46
Hi Steve,
Our Kubernetes cluster is running on On Premise VMWare VMs. And to manage Helm we have an instance of Harbor that stores the helm charts published from developer's local machine. We are not directly using helm cli to run/manage helm charts. So i think we are looking at something like taking Helm charts from Harbor registery and deploying them onto the Kubernetes cluster from Deployhub, C

[2019-05-21 15:25] sbtaylor15 commented on #46
Looks helm needs to be configured to use Harbor as the remote repo.  Using `helm add repo`  from there on out the `helm install` will pull the chart from the repo and execute it.  I will add into the DeployHub Helm Action to connect to Harbor.

Thanks, Steve

[2019-05-28 06:31] piyush94 commented on #46
Hi Steve,
Any update regarding this.
Regards, Piyush

[2019-05-28 19:08] sbtaylor15 commented on #46
We are testing out the changes for using `helm add repo` call to the process.

[2019-05-30 18:21] sbtaylor15 commented on #46
Please pull the latest image and then follow the instructions in the PDF.  The zip file contains the DeployHub procedures that you will need to import.  Thanks, Steve

[HelmProcedures.zip](https://github.com/ortelius/ortelius/files/3238240/HelmProcedures.zip)
[Helm Chart Action Setup and Usage.pdf](https://github.com/ortelius/ortelius/files/3238241/Helm.Chart.Action.Setup.and.Usage.pdf)

[2019-06-03 11:03] piyush94 commented on #46
Hi Steve,
I need some help and clarification regarding the steps in the pdf. Can we have a call today preferably or tomorrow for this,
Regards,
Piyush

[2019-06-03 17:33] sbtaylor15 commented on #46
I have a meeting first thing tomorrow at a customer site.  Can we do Wednesday instead?

Thanks, Steve

[2019-06-04 08:59] piyush94 commented on #46
I have scheduled a call for Wednesday.

Regards, Piyush

[2019-06-07 19:08] sbtaylor15 commented on #46
Hi @piyush94,

Let do another web meeting once your minikube security is sorted out.  I had my minikube messed up so I started over by running  `minikube delete` and then wipeout the `~/.minikube` directory.

Also, pull the latest image `docker pull quay.io/ortelius/ortelius:latest`.  I fixed the status check error you were running into.

Thanks, Steve

[2019-11-11 17:18] TracyRagan opened #47 "Slack Channel discontinued"
We are closing the Slack channel.  Check all outgoing emails for reference to slack.

[2019-11-11 17:21] jimman88 commented on #47
Copy that

JMBIII

[2020-06-16 13:20] markjacksonfishing opened #50 "Build out Kubernetes install instructions"
As a maintainer, I want to build out a simple set of instructions for using Ortelius on Kubernetes

[2020-06-16 13:21] markjacksonfishing opened #51 "Build helm chart for Ortelius"
As a maintainer, I want to build out a helm chart.

[2020-06-16 14:54] TracyRagan commented on #51
Agreed

On Tue, Jun 16, 2020 at 7:21 AM Marky Jackson <notifications@github.com>
wrote:

--
Kind Regards,

Tracy Ragan
CEO and Co-Founder / DeployHub / tel: + 1.505.424.6440/ mob: +1.505.780.0558
Continuous Delivery Foundation <http://cd.foundation> Board Member

Lets chat - here is my calendar link <https://drift.me/tracyragan/meeting>

Follow me on: Blog <https://www.deployhub.com/category/featu

[2020-06-16 15:08] sbtaylor15 opened #52 "Move documentation to Docsy"
Currently the documentation is in word doc and uses Doc2Help to convert to html pages.  Need to convert to markdown and use Docsy to serve up the pages.

[2020-06-16 15:10] sbtaylor15 commented on #50
Add as a markdown so we can bring into core doc. See #52

[2020-06-16 15:14] #47 closed, assigned to nobody

[2020-06-16 15:16] sbtaylor15 opened #53 "Create Discord Channel"
Setup Discord for project.

[2020-06-16 16:02] sbtaylor15 commented on #53
Here is the permanent invite link.

https://discord.gg/ZsqfMmQ

[2020-07-01 16:34] TracyRagan opened #54 "Move Tasks from Domain to Environment"
Tasks are performed against an Environment, but assigned to a Domain.  We need to move the Task to under an Environment and update all documentation around Tasks in the  reusable/tasks.md, firststeps/2 defin domains.md and 2 define environments.md

[2020-07-01 16:57] TracyRagan opened #56 "Never deployed is wrong in some cases"
When a microservice update is pushed by an Application the new Application Version shows that it was deployed; however all other Applications using that microservice shows "never deployed" when indeed it may have depending on the Environment that it was deployed to.  So if both Applications are living in the same cluster, it was deployed but shows "never deployed."

[2020-07-18 09:11] divya-mohan0209 commented on #52
@sbtaylor15 I'd like to help with this!

[2020-07-18 09:16] markjacksonfishing commented on #52
That would be awesome!

[2020-07-20 14:13] sbtaylor15 commented on #52
Created [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs).  Need to setup permissions.

[2020-07-20 23:26] sbtaylor15 commented on #52
@divya-mohan0209 - initial load of the docs has been done in the [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) repo.  All set for you to dig in.

[2020-07-20 23:27] sbtaylor15 commented on #4
Fixed

[2020-07-20 23:27] #4 closed, assigned to nobody

[2020-07-20 23:28] sbtaylor15 commented on #6
Fixed

[2020-07-20 23:28] #6 closed, assigned to nobody

[2020-07-20 23:28] sbtaylor15 commented on #14
Component Items have been rolled into Summary section.

[2020-07-20 23:28] #14 closed, assigned to nobody

[2020-07-20 23:29] sbtaylor15 commented on #7
Fixed.  Added physics.

[2020-07-20 23:29] #7 closed, assigned to nobody

[2020-07-20 23:30] sbtaylor15 commented on #36
Removed ftp support.  Use sftp instead.

[2020-07-20 23:30] #36 closed, assigned to nobody

[2020-07-20 23:33] #53 closed, assigned to nobody

[2020-07-20 23:34] sbtaylor15 commented on #16
Windows will be supported using WinRM via Ansible.

[2020-07-20 23:34] #16 closed, assigned to nobody

[2020-07-20 23:35] #32 closed, assigned to nobody

[2020-07-20 23:36] sbtaylor15 commented on #1
Docs have been reworked.

[2020-07-20 23:36] #1 closed, assigned to sbtaylor15, rightker

[2020-07-20 23:37] #42 closed, assigned to nobody

[2020-07-20 23:38] #21 closed, assigned to nobody

[2020-07-20 23:39] sbtaylor15 commented on #34
Reworked UI to remove tree views.

[2020-07-20 23:39] #34 closed, assigned to nobody

[2020-07-20 23:41] sbtaylor15 commented on #31
Reworked UI.  Need to test that the dropdown is listing the environments correctly.

[2020-07-20 23:42] sbtaylor15 commented on #30
Ansible replaces sshexec.  Quoting of parameters is now working.

[2020-07-20 23:42] #30 closed, assigned to nobody

[2020-07-20 23:43] #28 closed, assigned to nobody

[2020-07-20 23:43] #23 closed, assigned to nobody

[2020-07-20 23:45] sbtaylor15 commented on #17
Jenkins plugin is being deprecated.  The DeployHub Jenkins Groovy Library is the replacement.

[2020-07-20 23:45] #17 closed, assigned to nobody

[2020-07-20 23:59] sbtaylor15 opened #208 "Need to deploy to k8s"
Container is being built on [Quay Ortelius Docs Repo](https://quay.io/repository/ortelius/ortelius-docs?tab=info) upon checkin.  Need to hook in Ortelius to deploy image to AKS.

[2020-07-22 19:10] qemtrails commented on #52
@divya-mohan0209 can you ping me on the discord channel to coordinate?  I would like to help out with the docs as well.

[2020-08-05 17:39] sbtaylor15 commented on #46
Helm 2 and Helm 3 are installed as part of the image.  Helm is called as part of the custom action for the component.

[2020-08-05 17:39] #46 closed, assigned to nobody

[2020-08-05 17:50] sbtaylor15 opened #58 "Change scope of getApplicationFromNameOrID method to protected"
Need to expose method to subclass

[2020-08-07 14:13] sbtaylor15 opened #207 "Where to start chapter"
Maybe a check list of what needs to be done to get up and running.  Focus on deploying a container to K8S as a starting point.  Need to branch out for the different types of components such as monolith and serverless.

[2020-08-07 14:14] sbtaylor15 commented on #207
Videos instead of or in addition to the doc should be considered.

[2020-08-07 18:37] #58 closed, assigned to nobody

[2020-08-10 16:31] anandbhagwat opened #61 "Creating Test folder in src/test for adding Tests in /ortelius/ortelius"
Currently, there are no ways we can see and distinguish the Testing of each piece of modules. It will be good to add test folder that may contain API, UI, Integration Tests

[2020-08-10 16:36] sbtaylor15 commented on #61
@anandbhagwat there is also a command line interface in the https://github.com/ortelius/compupdate repo.  It uses most of the core API calls.  Maybe we can extend that into the test driver.  Or should we have smaller individual "unit" tests for the APIs?

[2020-08-10 16:38] anandbhagwat opened #62 "[Documentation] Improve Readme.md to explain what each component mean and how they function in Ortelius"
**The Readme.md file  lacks following information:**
We should have below details in README.md of Ortelius
1. What is mean by Ortelius, a small Overview
2. Detail about how one can contribute
3. What are the components in Project
4. What each project folder contains
5. Contributor Names, point of contacts
6. Discord link

[2020-08-10 16:52] anandbhagwat commented on #61
@sbtaylor15 If I understood you correct, you mentioning about all API are present in this [repo](https://github.com/ortelius/compupdate/blob/master/deployhub/dhapi.py)? But seems these are code files but there seems no API tests added to it? I would like to know what each API mean and what kind of Test we can develop  and also I would like to  suggest to have an end-user journey cover by an API wi

[2020-08-10 17:18] sbtaylor15 commented on #61
@anandbhagwat correct there are no specific api tests.  The [cli](https://github.com/ortelius/compupdate/blob/master/bin/dh) just uses the APIs.  We should create the individual APIs tests.
Here is the [list of the APIs](https://docs.deployhub.com/userguide/restapi/).  The doc is from the downstream but is identical to the [Ortelius Docs](https://github.com/ortelius/ortelius-docs).  (We in the pro

[2020-08-10 17:29] anandbhagwat opened #63 "[Issue] server did not start in time, And Also getting chmod: cannot access '/root/.ssh/known*': No such file or directory"
**Steps to reproduce**: From Readme.md
1. docker pull quay.io/ortelius/ortelius
2. mkdir -p ~/ortelius/data
3. chmod 777 ~/ortelius/data
4. This step is wrong _docker run -v ~/ortelius/data:/var/lib/pgsql/data:Z -p 7171:8080 -d --hostname docker_dh -v ~/.ssh:/keys:Z ${IMAGE}_
5. So Instead of 4th Step Use: docker run -p 7173:8080 -v ~/ortelius/data:/var/lib/pgsql/data  -v ~/.ssh:/keys quay.io/orte

[2020-08-10 17:36] anandbhagwat commented on #61
@sbtaylor15 Okay, so would you recommend to have src/test in this [location](https://github.com/ortelius/ortelius/tree/master/dmadminweb/src/dmadmin) or do you think we should add a test folder somewhere else. quite new to me, but The ideal way should be
Each Microservice have
1. API Functional Suites like **/src/test/APISuite**/applications, /src/test/APISuite/components, /src/test/APISuite/login

[2020-08-10 17:45] sbtaylor15 commented on #61
@anandbhagwat I think a **/test/APISuite** location at the root of the project would be best.  That way we can organize UI tests at that level down the road.  Also, each microservice will eventually have its own repo and moving the test cases over will be easier with the proposed structure.

[2020-08-10 18:11] anandbhagwat commented on #63
@sbtaylor15 Here is the screen shot and command I used below:
`docker run -p 7173:8080 -v ~/ortelius/data:/var/lib/pgsql/data -v ~/.ssh:/keys quay.io/ortelius/ortelius
`
<img width="1299" alt="Screenshot 2020-08-10 at 11 40 23 PM" src="https://user-images.githubusercontent.com/22328983/89815765-f14f3780-db62-11ea-9e2e-cab81ebf2fe3.png">

[2020-08-10 18:14] anandbhagwat commented on #63
Also @sbtaylor15  GUI isn't open when  I navigate: http://localhost:7174/

Seems something related to exact steps I am using:

1. docker pull quay.io/ortelius/ortelius
2. mkdir -p ~/ortelius/data
3. chmod 777 ~/ortelius/data
4. This step is wrong docker run -v ~/ortelius/data:/var/lib/pgsql/data:Z -p 7171:8080 -d --hostname docker_dh -v ~/.ssh:/keys:Z ${IMAGE}
5. So Instead of 4th Step Use: docker

[2020-08-10 19:26] anandbhagwat commented on #63
Solution to Above is:
1. Use Image ID instead of Image Name:

_docker run -v ~/ortelius/data:/var/lib/pgsql/data:Z -p 7171:8080 -d --hostname docker_dh -v ~/.ssh:/keys:Z <**IMAGE_ID**>

[2020-08-10 19:27] #63 closed, assigned to nobody

[2020-08-10 19:28] sbtaylor15 commented on #63
Url to UI is:  http://localhost:7171/dmadminweb/Home

[2020-08-11 16:22] sbtaylor15 opened #68 "[Documentation] IMAGE_ID in example should be a sample digest number"
docker run -v ~/ortelius/data:/var/lib/pgsql/data:Z -p 7171:8080 -d --hostname docker_dh -v ~/.ssh:/keys:Z IMAGE_ID

IMAGE_ID should be replaced with a digest such as 43ca234

[2020-08-12 23:29] roynielsen17 opened #71 "Broken link on the ortelius.io website & recommendation"
Hello,

This page ( https://ortelius.io/guidelines/community-information-guidelines ) returns a 404 error when I try to access it.

I clicked on the 'report a bug' link ( https://ortelius.io/guidelines/community-information-guidelines#i-d-like-to-report-a-bug  ), and got the 404 - so I'm not sure this bug fits your reporting format.

One of the 'nice to have' tools I've had on my todo list for ton

[2020-08-13 20:55] sbtaylor15 commented on #62
Install section is old.  Should be similar to https://docs.deployhub.com/userguide/installation-and-support/0-on-premise-installation-for-pro/.  Waiting on this until the docs are live on https://docs.ortelius.com

[2020-08-14 16:50] sbtaylor15 opened #205 "Add ssl cert for docs ingress"
aks Load Balancer service needs ssl cert associated.  Not sure if LetEncrypt is available on az.  ortelius.io is on SiteGround and may have a wild card cert that we can use.

[2020-08-17 20:15] sbtaylor15 commented on #62
Also, discord link is missing

[2020-08-17 20:52] sbtaylor15 commented on #71
Hi Roy,

Screaming Frog and Google Webmaster Tools are what we use to check the site.  Right now, the process is manual.  Not sure if Screaming Frog has a batch mode or not.

Also, the website uses wordpress so changes are made directly to the site vs a hugo website that can be driven by git.

The bad links have been fixed.

Thanks, Steve

[2020-08-24 17:25] sbtaylor15 opened #79 "Report of Application -> Components"
Create table report showing Application Versions to Components Versions

[2020-08-24 17:26] sbtaylor15 opened #80 "Report of Application Versions -> Environments"
Create a table report showing Applications Versions to Environments

[2020-08-24 17:27] sbtaylor15 opened #81 "Report Component Versions -> Environments"
Create a table report showing Component Versions to Environments

[2020-08-24 17:28] sbtaylor15 opened #82 "Report of Environments -> Component Versions"
Create a table report showing Environments to Component Versions

[2020-08-24 17:28] sbtaylor15 opened #83 "Report of Environment -> Application Versions"
Create a table report showing Environments to Application Versions

[2020-08-24 17:30] sbtaylor15 opened #84 "Report of Component versions changed between Application Version and its Parent Version"

[2020-08-24 17:50] sbtaylor15 commented on #208
Need to add cloudbuild that includes using Ortelius to deploy to aks

[2020-08-26 05:55] divya-mohan0209 opened #87 "Requirement of an Ortelius Contributor guide"
Discussion points:

- Where it needs to be hosted
- Possible sections to be included
- Do we need a separate guide for documentation contributions linked in this?  (cc: @TracyRagan )
- How are we looking at reviewing the contributions made? Would we be going the two-phase review route with separate OWNERS file?

[2020-08-26 05:56] divya-mohan0209 commented on #87
@sbtaylor15 @chicks-net @anandbhagwat : FYR per the discussion we had yesterday

[2020-09-01 18:56] sbtaylor15 opened #89 "Add postgres instance to Azure for testing"
Create postgres db in azure and add data for testing.

[2020-09-08 14:52] jgarverick commented on #89
I can take this one...is there a specific Azure subscription that we need to be using for this?

[2020-09-08 15:15] sbtaylor15 commented on #89
@jgarverick - I will send you the Azure details for this via email

[2020-09-10 02:09] manthasri commented on #82
I can do this. But where do you want me to create this?

[2020-09-11 23:37] sbtaylor15 commented on #82
Looks like these reports are good candidates to be microservices.  Keep an eye out for the Architecture Working Group meeting so we can discuss.

[2020-09-15 19:19] jgarverick commented on #89
Details received and PG instance has been created.  All applicable secrets have been added to the Key Vault in the resource group.

[2020-09-15 19:19] #89 closed, assigned to jgarverick, sbtaylor15

[2020-09-28 17:31] sbtaylor15 commented on #83
Repo is located [here](https://github.com/ortelius/ortelius-ms-rpt-env2app)

[2020-09-28 17:33] sbtaylor15 commented on #82
Repo is located [here](https://github.com/ortelius/ortelius-ms-rpt-env2comp)

[2020-09-28 17:34] sbtaylor15 commented on #81
Repo is located [here](https://github.com/ortelius/ortelius-ms-rpt-comp2env)

[2020-09-28 17:34] sbtaylor15 commented on #80
Repo is located [here](https://github.com/ortelius/ortelius-ms-rpt-app2env)

[2020-09-28 17:35] sbtaylor15 commented on #79
Repo is located [here](https://github.com/ortelius/ortelius-ms-rpt-app2comp)

[2020-09-29 23:07] sbtaylor15 opened #99 "Create new Ortelius Logo"
Outreach committee needs a new Ortelius Logo for branding

[2020-09-29 23:37] sbtaylor15 opened #100 "Enhance directions around the Hipster store"
Need to enhance directions on how to use the Hipster Store sample.

Documentation updates go in the [ortelius/ortelius-docs repo](https://github.com/ortelius/ortelius-docs).  See this [documentation section](http://docs.ortelius.io/userguide/introduction/0-hipster-store-tutorial/) for the directions on using the sample Hipster Store.

[2020-09-29 23:40] sbtaylor15 opened #101 "Enhance integration doc around Jenkins"
Add more details around using Ortelius with Jenkins.  Integrating the Groovy Doc into the Jenkins section.
The documentation repo [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) and [documentation section](http://docs.ortelius.io/userguide/integrations/jenkins/) is where the updates are needed.

[2020-09-29 23:44] sbtaylor15 opened #102 "Enhance documentation around integration with CI/CD in general"
Add details around using Ortelius with CI/CD tools and principals.  The documentation repo [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) and documentation [section](http://docs.ortelius.io/userguide/integrations/ci-cd_integrations/) is where the updates are needed.

[2020-09-29 23:46] sbtaylor15 opened #103 "Enhance general concepts"
Expand the general concepts of Ortelius.  How, why and when it should be used.  The documentation repo [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) and [documentation section](http://docs.ortelius.io/userguide/introduction/0-introduction/) is where the updates are needed.

[2020-09-29 23:49] sbtaylor15 opened #104 "Enhance first step setup"
Add details for the "first hour" first step setup.  Need to give first time users an easy to follow steps on how to use Ortelius.
The documentation repo [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) and [documentation section](http://docs.ortelius.io/userguide/first-steps/) is where the updates are needed.

[2020-09-29 23:50] sbtaylor15 opened #105 "Spinnaker Integration"
Integrate Ortelius into Spinnaker as part of the CI/CD process.

[2020-09-29 23:51] sbtaylor15 opened #106 "Screwdriver Integration"
Create integration into Screwdriver so Ortelius is part of the CI/CD process.

[2020-09-29 23:54] sbtaylor15 opened #107 "Tekton Integration"
Add integration to Tekton for Ortelius.  Ortelius was added to Puppet's Relay which is based on Tekton.  The Relay integration could be used for Tekton as a starting point.

[2020-09-29 23:57] sbtaylor15 opened #108 "Integration to Jenkins X"
Add Ortelius to the Jenkins X CI/CD process.  [ortelius/compupdate](https://github.com/ortelius/compupdate) docker image should be used as a starting point for this integration.

[2020-10-01 17:31] sbtaylor15 opened #110 "Install Istio into Azure Cluster"

[2020-10-01 18:04] jgarverick commented on #110
Do we have any preferences around the version to use, add-ons to install, or logistics for where to store things like virtual services, gateways, certificates, etc.?

[2020-10-01 18:30] sbtaylor15 commented on #110
No, opinion since I am more familiar with Google.  I would throw out that it should be structured so we can move to any cloud provider per out discussion in the Architecture working group.  So the more generic the better in IMHO.

[2020-10-02 00:32] jgarverick commented on #110
Ok, I will go forward with:
- Istio v1.7.2
- Extra installations of Kiali, Grafana, Prometheus, Jaeger
- Assumption that gateways and virtual services will live in the namespace of the application they correspond to

[2020-10-02 00:39] jgarverick commented on #110
Install complete via `istioctl` and using https://istio.io/latest/docs/ops/integrations/ as a reference to install the addons.  I did not install cert-manager but can if you would like.
How would you like to have the install information captured--in a script or as part of a readme?

[2020-10-02 18:06] sbtaylor15 commented on #110
Yes, add a chapter to the userguide on how this is setup [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs)

[2020-10-03 04:00] Neetuj opened #114 "Cloudbuild: Create cloudbuild.xml"

[2020-10-03 04:01] Neetuj opened #115 "cloudbuild: Run docker build"

[2020-10-03 04:01] Neetuj opened #116 "cloudbuild: Run docker push"

[2020-10-03 04:02] Neetuj opened #117 "cloudbuild: Run DeployHub Component Update"

[2020-10-03 04:03] Neetuj opened #118 "cloudbuild: Run DeployHub Deployment"

[2020-10-03 04:06] Neetuj opened #119 "Helm : Need helm charts for each container"

[2020-10-03 04:08] Neetuj opened #120 "Azure: Add test data to Postgres"

[2020-10-03 04:08] Neetuj opened #121 "Azure: Create Ortelius cluster"

[2020-10-03 04:09] Neetuj opened #122 "Azure:Create Hipster Store cluster"

[2020-10-03 04:09] Neetuj opened #123 "Azure: Deploy to cluster : Docs and Ortellius"

[2020-10-03 04:10] Neetuj opened #124 "Azure: install istio"

[2020-10-03 04:11] Neetuj opened #125 "DeployHub: Connect to Azure Ortelius Cluster"

[2020-10-03 04:12] Neetuj opened #126 "DeployHub: Connect to Azure Hipster Store Cluster"

[2020-10-03 04:13] Neetuj opened #127 "DeployHub: Connect to cloudbuild.xml for deployments"

[2020-10-03 04:16] Neetuj opened #128 "HacktoberFest: Prepare to participate to get new contributors"
- Identify issues suitable for Hacktoberfest (new comers)
- Tag those issues
- Create a Landing Page

[2020-10-03 04:17] Neetuj commented on #128
@sbtaylor15  I can probably work on this issue with your guidance.

[2020-10-03 12:52] sachajw commented on #80
I am working on the following:
Deploying APIs with Python and Docker
I have a basic container running in Google Cloud.
I used the Google SDK to login and push my container to the Google Cloud registry.
I used Google Cloud Build to publish the container on the internet.
The container allows you to list, delete and add places.
You can use Postman to test the api to list, delete and add places.
I am

[2020-10-04 15:52] sachajw commented on #80
This is complete I just need to create a PR!

[2020-10-05 15:48] sbtaylor15 commented on #80
Ok, do a PR so we can get this shared with everyone.  Then we will do the next part of adding in the DB calls.  Lets go with pyodbc for the database driver.

[2020-10-06 17:54] ayesha-kr opened #130 "Footer needs to be updated for https://ortelius.io/ page"
The footer of ortelius.io says **2109 DeployHub** It should be 2020 DeployHub

[2020-10-06 20:34] sbtaylor15 commented on #130
This is on the Wordpress side:  https://ortelius.io/wp-admin for the login page.

[2020-10-07 02:25] divya-mohan0209 commented on #130
@sbtaylor15 this is done. Please check. Do you think it'd look better centered? Or is the right alignment preferred?

[2020-10-07 02:29] sbtaylor15 commented on #130
@divya-mohan0209 I would say centered.  Also, we can probably change it to Ortelius Open Source Project as the copyright holder for the website.

[2020-10-07 02:46] divya-mohan0209 commented on #130
Sure, so it should be -

© 2020 Ortelius Open Source Project
www.DeployHub.com

Right?

Or would

© 2020 Ortelius Open Source Project
https://ortelius.io/

be more appropriate?

[2020-10-07 14:47] sbtaylor15 commented on #130
@divya-mohan0209  Lets go with the second one.

[2020-10-08 13:38] divya-mohan0209 commented on #130
Done, I've tried centering it as far as the widgets allow. Let me know if this needs further changing, please.

[2020-10-08 14:31] sbtaylor15 commented on #130
@divya-mohan0209 that works.  Thanks for fixing it.

[2020-10-08 14:31] #130 closed, assigned to divya-mohan0209

[2020-10-12 14:31] TinyCyber commented on #99
Added two possible logo directions to ortelius outreach folder

[2020-10-12 16:00] sbtaylor15 opened #135 "Change CLA from CDF EasyCLA to local one"
Add CLA pdfs instead of using the CDF EasyCLA.  EasyCLA not available for non-LF projects.

[2020-10-12 18:24] sbtaylor15 commented on #135
See [Ortelius Docs PR 19](https://github.com/ortelius/ortelius-docs/pull/19)

[2020-10-12 18:24] #135 closed, assigned to nobody

[2020-10-13 15:48] Neetuj opened #137 "create personas for ortelius customers"

[2020-10-13 15:49] Neetuj commented on #128
@TracyRagan @markyjackson-taulia  let me know your thoughts on landing page.

[2020-10-16 21:37] TracyRagan opened #138 "Document Hermetic Helm Charts"
Need to add documentation around how Ortelius stores hermetic Helm Charts associated to logs so the deployment can be repeated. .

[2020-10-16 21:37] TracyRagan opened #139 "Need to document the Difference Report feature - Hactoberfest"
There is a new feature that compares deployments and clusters which has not been documented.

[2020-10-22 19:29] Neetuj commented on #137
@TracyRagan @sbtaylor15  @markyjackson-taulia   can you point me to few different types of users and buyers to start creating these personas?

[2020-10-22 21:43] TracyRagan commented on #137
Great question.

**Cloud Architects** are interested in designing around microservices, how to mange them, track them and create reuse.
**SREs** are the ones that must answer the questions and need the visibility maps in order to make confident decisions about pushing a service to a cluster.
  **DevOps engineers** are facing the shifting pipeline. They are looking for ways to evolve the Pipeline t

[2020-10-27 19:42] TracyRagan opened #141 "The website needs a community calendar - Hactoberfest"
A community calendar needs to be added to the events page on Ortelius.io

[2020-10-27 19:46] TracyRagan commented on #141
Created a Google Groups ortelius-dev@googlegroups.com.  Added the following code to the Ortelius events page.
<h2>Meeting Calendar</h2>
<iframe style="border: 0;" src="https://calendar.google.com/calendar/embed?src=c_vjebhusp537ftgsu6qiboiphcg%40group.calendar.google.com&amp;ctz=America%2FDenver" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<div class="sectionbody">
<div class

[2020-10-27 19:46] #141 closed, assigned to nobody

[2020-10-28 23:59] TracyRagan commented on #138
Updates for issue [#138](https://github.com/ortelius/ortelius/issues/138)

[2020-10-29 00:16] sbtaylor15 commented on #139
Issue is in wrong repo

[2020-10-29 00:16] #139 closed, assigned to nobody

[2020-10-29 00:24] TracyRagan commented on #68
Fixed

[2020-10-29 00:24] #68 closed, assigned to nobody

[2020-10-29 00:31] #52 closed, assigned to sbtaylor15

[2020-10-29 14:57] Neetuj commented on #137
Thanks .. will get a draft ready

[2020-10-30 18:02] TracyRagan opened #143 "We need 2021 project Goals - Hactoberfest"
We need to define the goals for 2021. They should be broken into 1st / 2nd quarter and 3rd / 4th quarter goals.

[2020-11-03 04:30] Neetuj commented on #137
https://app.xtensio.com/design/cdf8uvvd

[2020-11-05 05:07] Neetuj commented on #137
**Cloud Architect Clay**

_Who_
Role:-  Enterprise architect responsible for technology selection, taking architectural decisions and trade offs and designing solutions
Skills:- good domain knowledge since has been working in this domain for 10+ years

_What_
Goals:- Recommend latest and greatest tools, technologies that solves micro services related pain points
RTM:- conferences, Gartner, Market

[2020-11-06 04:51] tlazebnyk commented on #137
**DevOps engineer Jake**

**Who**:
Role:
- build and maintain the infrastructure and tools for continuous integration and delivery
- manage large scale software release deployments.

Skills:
- good knowledge of Unix/Linux based system and shell scripting
- familiarity with SOA, microservice, cloud native architecture and container-based solutions
- good understanding of relational/NoSQL databases

[2020-11-06 17:14] TracyRagan commented on #137
Ortelius Persona doc - https://docs.google.com/document/d/1Lt9bKz2fH_JH8iRVIpcaH_4aTxYqk8y8YmTfHn91AgU/edit?usp=drive_web

I created a Google Doc for this - Great job!  This gives us an amazing
start.

[2020-11-09 06:13] Neetuj commented on #137
These have been added to the docs

DevOps engineer Jake
Who:
Role:
build and maintain the infrastructure and tools for continuous integration and delivery
manage large scale software release deployments.
Skills:
good knowledge of Unix/Linux based system and shell scripting
familiarity with SOA, microservice, cloud native architecture and container-based solutions
good understanding of relational/N

[2020-11-10 06:27] tlazebnyk commented on #137
Added to doc one more persona - QA Engineer Maria.
Planning to add tomorrow:

- Delivery Manager Alex (FinTech)

- Business Development Manager Tom (IBM/VMWare)

[2020-11-10 17:22] Neetuj opened #145 "Create personas for Opensource community contributors (wrt to ortelius)"
Just like the product has user/buyer personas which helps us understand who they are , what they are looking to do and why same way opensource contributers persona can help us understand the who , what and why behind our contributors and help us support them

[2020-11-10 17:23] Neetuj commented on #145
@sbtaylor15  @TracyRagan @jiakalita

[2020-11-11 06:44] tlazebnyk commented on #137
Updated Google document. Please let me know your thoughts. Thank you.

[2020-11-11 17:08] sbtaylor15 commented on #137
@tlazebnyk join the [Ortelius Google Group](https://groups.google.com/g/ortelius-dev) so you can have access to the Google Docs, Calendar etc.

[2020-11-12 04:03] tlazebnyk commented on #137
Thank you. Requested access as needed.

[2020-11-19 15:42] Neetuj commented on #137
@tlazebnyk
I am unable to access google docs at office :) so will add more on that later.
Also I feel that since google doc is not accessible to everybody we should also add our personas here in comments ( so that others who might be interested in similar personas can refer to them and may be even help us improve/refine these personas)

@sbtaylor15  @TracyRagan any concerns on adding personas  her

[2020-11-19 15:51] Neetuj commented on #145
@tlazebnyk  this will be a good one to start with here are a couple of personas I have in mind (we can use the same persona format that we have been using in the past)
1) Programmer Polly ( professional already in this space and interested in contributing to this project)
2) Programmer Paula ( early career new to this space/language but already into programming looking to expand her skills and bui

[2020-11-19 17:58] TracyRagan commented on #137
@Neetuj  and @tlazebnyk  no problem with adding personas here.

[2020-11-19 19:15] tlazebnyk commented on #145
Sounds good @Neetuj I will start working on the suggested list. Thank you.

[2020-11-23 15:17] tlazebnyk commented on #145
I've started Google doc for contributors personas: https://docs.google.com/document/d/1lLsYp_CiNoKo96ErrcTGeKNXUhJmktMDhofc0vlDInI/edit?usp=sharing

[2020-11-24 16:40] Neetuj commented on #145
@sbtaylor15  fyi

[2020-11-25 15:25] tlazebnyk commented on #145
@Neetuj @sbtaylor15 @TracyRagan
I have finished 2nd document with personas for Ortelius community contributors.
Can be found by the link and in the comment below:
https://docs.google.com/document/d/1lLsYp_CiNoKo96ErrcTGeKNXUhJmktMDhofc0vlDInI/edit?usp=sharing

1.
### **Programmer Polly (professional already in this space and is interested in contributing to this project)**
**Who**
Role:

- Takes p

[2020-11-25 16:31] tlazebnyk commented on #137
@TracyRagan and @Neetuj Adding personas details below (including IT Executive and Security Engineer added during community session on Monday 11/23):

1.

### **DevOps engineer Jake**
**Who:**
_Role:_
- build and maintain the infrastructure and tools for continuous integration and delivery
- manage large scale software release deployments.

Skills:
- good knowledge of Unix/Linux based system and sh

[2020-11-30 05:35] Neetuj commented on #145
This looks great! @tlazebnyk ! great work!
@jiakalita  you can find the personas here.

[2020-11-30 05:37] Neetuj commented on #145
@jiakalita @tlazebnyk  @sbtaylor15  @TracyRagan  to be able to use these personas in a form either we can use the one-line description of the personas we have at the beginning of the issue .. or we can  simplify and create some visuals around them ? these persona details  are good for our "deep dive" and understanding into how to serve these personas but they are not "readily/easily consumable in

[2020-11-30 05:54] Neetuj commented on #145
Option 1:- use the online description of each persona in the volunteer entry form
Option 2:- create visuals based on the current personas we have for usability.
If we go with option 2 :-
here is a Visuals for Personas template (we will have to customize it based on our needs)  tracy@deployhub.com  Steve Taylor  we will need your inputs on which fields from above are more important to add to the vi

[2020-11-30 15:13] jiakalita commented on #145
Thanks @Neetuj and @tlazebnyk for the user personas. For the purpose of the Google form, I suggest we stick to the brief, one-line descriptions to keep it simple and later can share these detailed templates once they are ready.

[2020-11-30 15:18] jiakalita opened #149 "Create resources page"
Resources page for list of useful learning resources and links

[2020-11-30 20:34] sbtaylor15 commented on #124
Completed by @jgarverick

[2020-11-30 20:34] #124 closed, assigned to nobody

[2020-11-30 20:35] sbtaylor15 commented on #122
Completed by @sbtaylor15

[2020-11-30 20:35] #122 closed, assigned to nobody

[2020-11-30 20:35] sbtaylor15 commented on #110
Completed by @jgarverick

[2020-11-30 20:35] #110 closed, assigned to jgarverick

[2020-11-30 20:36] sbtaylor15 commented on #124
Duplicate #110

[2020-11-30 20:39] sbtaylor15 opened #150 "helm: ortelius-ms-rpt-comp2env needs helm chart"
Need helm chart for [ortelius-ms-rpt-comp2env](https://github.com/ortelius/ortelius-ms-rpt-comp2env)

[2020-11-30 20:40] sbtaylor15 opened #151 "cloudbuild: ortelius-ms-rpt-comp2env needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-comp2env](https://github.com/ortelius/ortelius-ms-rpt-comp2env)

[2020-11-30 20:42] sbtaylor15 commented on #121
Using the same cluster as hipster store. See #122

[2020-11-30 20:42] #121 closed, assigned to nobody

[2020-11-30 21:11] sbtaylor15 commented on #151
See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example

[2020-11-30 21:13] sbtaylor15 commented on #150
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-11-30 21:24] sbtaylor15 opened #152 "docker build: ortelius-ms-rpt-comp2env needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-comp2env](https://github.com/ortelius/ortelius-ms-rpt-comp2env) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

Also, the main python file should be renamed to main.py

[2020-11-30 21:29] sbtaylor15 opened #153 "docker build: ortelius-ms-rpt-app2comp needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-app2comp](https://github.com/ortelius/ortelius-ms-rpt-app2comp) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

[2020-11-30 21:39] sbtaylor15 opened #154 "docker build: ortelius-ms-rpt-app2env needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-app2env](https://github.com/ortelius/ortelius-ms-rpt-app2env) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

[2020-11-30 21:40] sbtaylor15 opened #155 "docker build: ortelius-ms-rpt-comp2app needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-comp2app](https://github.com/ortelius/ortelius-ms-rpt-comp2app) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

[2020-11-30 21:42] sbtaylor15 opened #156 "docker build: ortelius-ms-rpt-env2comp needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-env2comp](https://github.com/ortelius/ortelius-ms-rpt-env2comp) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

[2020-11-30 21:47] sbtaylor15 opened #157 "cloudbuild: ortelius-ms-rpt-env2app needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-env2app](https://github.com/ortelius/ortelius-ms-rpt-comp2env).  See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example.

[2020-11-30 21:48] sbtaylor15 opened #158 "cloudbuild: ortelius-ms-rpt-app2env needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-app2env](https://github.com/ortelius/ortelius-ms-rpt-app2env).  See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example.

[2020-11-30 21:50] sbtaylor15 opened #159 "cloudbuild: ortelius-ms-rpt-comp2app needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-comp2app](https://github.com/ortelius/ortelius-ms-rpt-comp2app).  See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example.

[2020-11-30 22:15] tlazebnyk commented on #145
@Neetuj Thank you too! From my experience visuals would be great to represent personas.
I am also thinking about adding one more - Support Engineer/Customer Support internal contributor to support Ortelius once adoption by developers is spin off.

[2020-12-01 01:05] sbtaylor15 opened #160 "cloudbuild: ortelius-ms-rpt-env2comp needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-env2comp](https://github.com/ortelius/ortelius-ms-rpt-env2comp).  See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example.

[2020-12-01 01:07] sbtaylor15 opened #161 "helm: ortelius-ms-rpt-env2app needs helm chart"
Need helm chart for [ortelius-ms-rpt-env2app](https://github.com/ortelius/ortelius-ms-rpt-env2app).
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-12-01 01:08] sbtaylor15 opened #162 "helm: ortelius-ms-rpt-app2env needs helm chart"
Need helm chart for [ortelius-ms-rpt-app2env](https://github.com/ortelius/ortelius-ms-rpt-app2env).
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-12-01 01:09] sbtaylor15 opened #163 "helm: ortelius-ms-rpt-comp2app needs helm chart"
Need helm chart for [ortelius-ms-rpt-comp2app](https://github.com/ortelius/ortelius-ms-rpt-comp2app).
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-12-01 01:10] sbtaylor15 opened #164 "helm: ortelius-ms-rpt-env2comp needs helm chart"
Need helm chart for [ortelius-ms-rpt-env2comp](https://github.com/ortelius/ortelius-ms-rpt-env2comp).
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-12-01 01:11] sbtaylor15 opened #165 "helm: ortelius-ms-rpt-app2comp needs helm chart"
Need helm chart for [ortelius-ms-rpt-app2compp](https://github.com/ortelius/ortelius-ms-rpt-app2comp).
See [helm chart](https://github.com/ortelius/ortelius-ms-rpt-app2comp/tree/main/helm-chart) for an example

[2020-12-01 01:12] sbtaylor15 opened #166 "cloudbuild: ortelius-ms-rpt-app2comp needs cloudbuild yaml"
Need cloudbuild for [ortelius-ms-rpt-app2comp](https://github.com/ortelius/ortelius-ms-rpt-app2comp).  See [cloudbuild.yaml](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml) for an example.

[2020-12-01 01:15] sbtaylor15 commented on #114
Broke out new issue for each microservice.

[2020-12-01 01:15] #114 closed, assigned to nobody

[2020-12-01 01:16] sbtaylor15 commented on #115
Broke out new issue for each microservice.

[2020-12-01 01:16] #115 closed, assigned to nobody

[2020-12-01 01:16] sbtaylor15 commented on #116
Broke out new issue for each microservice.

[2020-12-01 01:16] #116 closed, assigned to nobody

[2020-12-01 01:16] sbtaylor15 commented on #119
Broke out new issue for each microservice.

[2020-12-01 01:16] #119 closed, assigned to nobody

[2020-12-01 01:18] sbtaylor15 opened #167 "docker build: ortelius-ms-rpt-env2app needs Dockerfile with python odbc libs and new base image"
Dockerfile in [ortelius-ms-rpt-env2app](https://github.com/ortelius/ortelius-ms-rpt-env2app) needs to include python odbc libs and use the alpine base img to fix CVEs.  See [Dockerfile](https://github.com/ortelius/ortelius-ms-rpt-env2app/blob/dev/Dockerfile).

[2020-12-01 01:30] sbtaylor15 commented on #166
[Commit 0d40580](https://github.com/ortelius/ortelius-ms-rpt-app2comp/commit/0d405806135f74b8162cb90adcd1ff3ae7856283#diff-e80a89fbcfd7e9ac6d5a5766e2a6695ac3cd002200f4dbf70cf21e890b44d751)

[2020-12-01 01:30] #166 closed, assigned to nobody

[2020-12-01 01:33] sbtaylor15 commented on #165
[Commit cab50538](https://github.com/ortelius/ortelius-ms-rpt-app2comp/commit/cab50538f2e06ae3054fbefe2bb2e85b530c848c#diff-900cbdbecb469c06f849dd9856dcf670404d45d371753a17220c658b820e4cfd)

[2020-12-01 01:33] #165 closed, assigned to nobody

[2020-12-01 01:36] sbtaylor15 opened #168 "github actions: Create and document CodeQL and image scanning"
Github actions are used for all of the reporting microservices to run codeQL and image scanning.  This needs to be documented.

[2020-12-01 16:08] chicks-net opened #206 "Create database documentation"
Some sort of diagram (ERD, etc.) and a data dictionary would be nice.  Hopefully this can be semi-automatic.

[2020-12-03 18:14] chicks-net opened #170 "Slack integration"
Write a bot to integrate with Slack.  Start with notifications of updates.

[2020-12-03 18:15] chicks-net opened #171 "Discord integration"
Write a bot to integrate with Discord.  Start with notifications of updates.

[2020-12-03 18:20] sbtaylor15 commented on #170
Here is the [C code](https://github.com/ortelius/ortelius/blob/master/dmengine/notifiers/slack/slack.cpp) that does a Slack Notify.  This is called as a Notifier to an Application.  I think we should be duplicated into the [ortelius/compupdate](https://github.com/ortelius/compupdate) python code since that is the main integration point into CI.

Need to flush out where the notifications should hap

[2020-12-03 18:21] sbtaylor15 commented on #171
Need to flush out where in the pipeline notifications should happen.

[2020-12-04 07:30] tlazebnyk commented on #145
@Neetuj @TracyRagan @jiakalita Edited initial comment with personas details above, added:

- Data Scientist Anna
- Support Engineer Dave

[2020-12-04 15:37] Neetuj commented on #145
sounds good @tlazebnyk. Do you have a started template to work for the visuals? if not I pulled one here feel free to edit that one https://docs.google.com/presentation/d/1fBQeSdXuUHsMUMoft-11QA_8l4MgorYLhkCbjIblCJg/edit#slide=id.p1
we might want to change some fields -

- skip demographics (not sure if they help at this point .. we can add them later)
- collapse professional background into Work

[2020-12-04 16:01] Neetuj opened #172 "Explore Open Sauced partnership for improving new contributors experience"
https://github.com/open-sauced/open-sauced

I had met Brian https://github.com/bdougie at OSSNA too. May be we can partner or off the shelf integrate/use it.

[2020-12-04 16:41] tlazebnyk commented on #145
@Neetuj thank you! I will pick it up and continue with visuals for both internal and external personas. ETA - next Tuesday 12/8.

[2020-12-04 16:43] sbtaylor15 opened #173 "cdf: domain name transfer"
ortelius.io needs to be transferred to LF.  nic.io is the domain registrar.

[2020-12-04 16:45] sbtaylor15 opened #174 "cdf: domain name renewal"
ortelius.io domain renewal needs to be done by March 14, 2021.

[2020-12-04 16:46] sbtaylor15 opened #175 "cdf: trademark transfer"
Transfer trademark fro LF.

[2020-12-04 16:48] sbtaylor15 opened #176 "cdf: change license to Apache 2"
Need to change the license from Afferro to Apache 2.  This change needs to be done for all repos license.md and source code headers need to be changed as well.

[2020-12-04 16:52] sbtaylor15 opened #177 "cdf: code of conduct/cla signoff"
New contributors need to sign the CLA before getting access to everything.  Need an automated process to verify CLA is done before access is provided.

Can a person come to the meetings before signing a CLA?  And can the access the Google Docs before a CLA?

LF uses EasyCLA to keep track of the signatures.  Should integrate with EasyCLA.

[2020-12-07 15:17] Neetuj opened #178 "developer guide"
Developer guide to help incoming contributors

[2020-12-07 15:18] markjacksonfishing commented on #178
I will have this skeleton out later this morning

[2020-12-07 17:10] markjacksonfishing commented on #178
The base dev guide is here: https://docs.google.com/document/d/1SwcDbd71XEakzx4jisqKK5L8MVV0bbBHS71y1AM3_jw/edit?usp=sharing

cc: @Neetuj

[2020-12-08 22:07] sbtaylor15 opened #180 "doc: Change logo on userguide"

[2020-12-08 22:07] sbtaylor15 commented on #180
Need to use alien svg

[2020-12-08 22:10] sbtaylor15 commented on #143
Added to readme in #144

[2020-12-08 22:10] #143 closed, assigned to nobody

[2020-12-09 01:42] tlazebnyk commented on #145
@Neetuj @jiakalita Added corresponding visuals to all personas - https://docs.google.com/presentation/d/1Cbe2CJ0Y_0Z3MM2ZS49NUxuW5N6JpmkhWfqH0opU7iA/edit?usp=sharing

@Neetuj I was not able to remove sections we do not need in the template from Compose.ly so worked on another template.

[2020-12-09 06:38] sanjeepan23 commented on #180
I would like to contribute to this project, but I'm new here. can someone guide me?

[2020-12-09 17:39] sbtaylor15 commented on #180
@goat023 we need to take the [ortelius logo](https://github.com/TracyRagan/artwork/blob/master/ortelius/ortelius-logo.svg) and add it to the userguide.  It goes in the [ortelius/ortelius-docs repo logo,svg](https://github.com/ortelius/ortelius-docs/blob/master/themes/docsy/assets/icons/logo.svg).

You will need to fork the [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) repo, m

[2020-12-09 18:08] sbtaylor15 commented on #173
Domain transfer has been approved on our side in nic.io.  LF has all of the nameserver info to accept the transfer.

[2020-12-09 18:10] sbtaylor15 commented on #174
LF is moving the domain to another registrar.  This issue is no longer applicable.

[2020-12-09 18:10] #174 closed, assigned to nobody

[2020-12-09 18:44] markjacksonfishing opened #181 "Create Issue/PR triage dashboard"
To better ensure issues and PR's are being handled in a timely manner, it would be nice to have a dashboard that list out the age of issues and pr for better visibility and action.

Acceptance Criteria:

- [ ] Creating new repository
- [ ] Adding code to repository
- [ ] Creating new config file for Ortelius
- [ ] Hosting infrastructure determination
- [ ] Build out the infrastructure
- [ ] Secure

[2020-12-09 18:48] sbtaylor15 commented on #128
Hacktoberfest is now over

[2020-12-09 18:48] #128 closed, assigned to nobody

[2020-12-09 18:49] sbtaylor15 commented on #127
Broken this out for each microservice.

[2020-12-09 18:49] #127 closed, assigned to nobody

[2020-12-09 18:52] sbtaylor15 commented on #181
![image](https://user-images.githubusercontent.com/14826572/101673860-f17a1980-3a14-11eb-8680-95df2a962154.png)

[2020-12-09 19:59] sbtaylor15 opened #182 "change website to be file based instead of all in Wordpress"

[2020-12-09 21:01] sbtaylor15 commented on #173
LF has finished the transfer to their registrar.  Verified whois.

[2020-12-09 21:01] #173 closed, assigned to sbtaylor15

[2020-12-09 21:29] sbtaylor15 commented on #177
Awesome, thank you! EasyCLA should now be installed under the CDF account. From here, you can sign as an individual or you can add DeployHub as a corporate signatory. I'll include a link with instructions for that below.

Add a company: https://docs.linuxfoundation.org/lfx/easycla/cla-manager/add-a-company-to-a-project

Approve contributors: https://docs.linuxfoundation.org/lfx/easycla/cla-manager

[2020-12-10 04:13] sanjeepan23 commented on #180
thank you so much. I will do the change.

[2020-12-10 16:02] sachajw commented on #162
I have done this. I just need to merge it.

[2020-12-10 17:41] sbtaylor15 opened #183 "Add cloudbuild to the ortelius-doc repo"
Need to add the cloudbuild directory and yaml to the [ortelius-doc](https://github.com/ortelius/ortelius-docs) repo.  An example, can be found in [ortelius-ms-rpt-app2com repo](https://github.com/ortelius/ortelius-ms-rpt-app2comp/blob/main/cloudbuild/cloudbuild.yaml)

The following need to be change from ortelius-ms-rpt-app2comp to ortelius-doc

      - 'COMPONENT_GITURL=https://github.com/orteliu

[2020-12-14 16:32] sanjeepan23 commented on #164
I would like to work on this issue.

[2020-12-21 19:40] sachajw commented on #162
PR submitted and I think it was approved by Marky.

[2020-12-21 19:43] markjacksonfishing commented on #162
@sachajw see my latest [comment](https://github.com/ortelius/ortelius-ms-rpt-app2env/pull/5#issuecomment-749162510)

[2020-12-21 22:27] dnilasor opened #184 "On-prem install admin cred setup"
I'm playing with Ortelius for the first time and did a local install.

![image](https://user-images.githubusercontent.com/36797588/102827929-5bd97500-4398-11eb-8335-2a21a75a56f1.png)

[This part of the doc](http://docs.ortelius.io/guides/userguide/installation-and-support/0-on-premise-installation-for-pro/#step-5---access-ortelius-from-your-browser) mentions that I should be prompted to set up adm

[2020-12-21 22:56] sbtaylor15 commented on #184
For a local install creds should be user: admin pw: admin

[2020-12-24 00:50] scanalesespinoza opened #185 "404 Error on Installation and Support Guide link"
Hello Team!

At ortelius github home, preview of "README" has a link for "_Installation and Support Guide_" who points to "http://docs.ortelius.io/userguide/installation-and-support/" giving a **404** page error.

[2020-12-24 15:48] sbtaylor15 commented on #185
We added a new chapter that changed the directory structure.  The correct url is:
http://docs.ortelius.io/guides/userguide/installation-and-support/

[2020-12-24 15:49] sbtaylor15 commented on #184
Did the admin/admin work to get you in?

[2020-12-24 16:02] sbtaylor15 commented on #185
PR merged

[2020-12-24 16:02] #185 closed, assigned to nobody

[2020-12-24 21:43] scanalesespinoza commented on #180
Hi @sbtaylor15 where exactly the logo need to be?
![image](https://user-images.githubusercontent.com/11546953/103106856-cfd58080-4617-11eb-998c-bca6bec1c431.png)
A screenshot with the draft will be great

[2020-12-26 19:35] karamjotsingh commented on #152
Incorporated in ortelius/ortelius-ms-rpt-comp2env#4

[2020-12-26 19:36] karamjotsingh commented on #150
Incorporated in ortelius/ortelius-ms-rpt-comp2env#4

[2020-12-26 19:38] karamjotsingh commented on #151
Incorporated in ortelius/ortelius-ms-rpt-comp2env#3 and ortelius/ortelius-ms-rpt-comp2env#5

[2020-12-27 08:04] gkdevops opened #188 "Change the Logo of the Ortelius Project"
Change the Logo of the Ortelius Project from alien to another logo which clearly represents the project

[2020-12-27 22:36] dnilasor commented on #184
Yes! It did. Thanks for your help. When I get the chance I will make a PR with a small doc update to clarify this.

[2020-12-28 23:50] sbtaylor15 commented on #180
@scanalesespinoza looks like the change has been made.  It's the logo in the top left of the page.  This issue was not closed when the PR was merged.  Right now closing issues is a manual process.

[2020-12-28 23:50] #180 closed, assigned to sanjeepan23

[2020-12-29 03:34] scanalesespinoza commented on #188
Hello I start reading about Ortelius, I don't know if this represents crearly the project but is an idea, and with feedback I can do another trys:

So the proposal is this abstract logo, who represents in the old ages the sunset/horizont, the limit of what we see and what exist, then is sorrounding with grounds, seas and skies (the world) what we complete/achieve after years of collaboration.

It

[2020-12-29 03:43] markjacksonfishing commented on #188
I really like this

[2020-12-29 17:47] scanalesespinoza commented on #188
what did you think @gkdevops ? For the aceptance criteria we need a minimun of options and then voting?

[2020-12-29 20:31] TracyRagan commented on #188
Its a great design.  What was discussed during our logo talks was to have a logo that could be used as a mascot. Something that user groups could make their own.  Think of the Jenkins "Butler" or GitHub Octacat.  A mascot type logo is more 'approachable' and can be used in many ways. For example our Alien logo can be used to create achievement badges with the alien wearing different hats.  We coul

[2020-12-29 23:50] scanalesespinoza commented on #188
Totally understood, a mascot a lot friendly too. When that time arrieve just let me know to help with the design.

[2020-12-31 00:51] TracyRagan opened #189 "Blog 1 for GitOps and Config Management"
We need to add content for the "GitOps and Config Management" blog category.  Please create your blog in Google docs under the /blog directory.

[2020-12-31 00:51] TracyRagan opened #190 "Blog 2 for GitOps and Config. Management"
We need to add content for the "GitOps and Config Management" blog category.  Please create your blog in Google docs under the /blog directory.

[2020-12-31 00:53] TracyRagan opened #191 "Blog 1 - Ortelius Contributor Content"
We need to add content for the " Ortelius contributor content" blog category.  Please create your blog in Google docs under the /blog directory.  https://ortelius.io/category/ortelius-contributors/

[2020-12-31 00:55] TracyRagan opened #192 "Blog 2 - Ortelius Contributor Content."
We need to add content for the " Ortelius contributor content" blog category.  Please create your blog in Google docs under the /blog directory.  https://ortelius.io/category/ortelius-contributors/

Any subject around CD Trends, K8s, microservices, service mesh you feel passionate about.

[2020-12-31 00:55] TracyRagan commented on #191
Any subject around CD Trends, K8s, microservices, service mesh you feel passionate about.

[2020-12-31 00:56] TracyRagan opened #193 "Blog 1 "Tips and Tricks""
We need to add content for the " Ortelius Tips and Tricks" blog category.  Please create your blog in Google docs under the /blog directory. https://ortelius.io/category/ortelius-tips-and-tricks/

A good place to start would be a blog about signing up and testing out the Hipster store.

[2020-12-31 00:57] TracyRagan opened #194 "Blog 2 - "Tips and Tricks""
We need to add content for the " Ortelius Tips and Tricks" blog category.  Please create your blog in Google docs under the /blog directory. https://ortelius.io/category/ortelius-tips-and-tricks/

A suggestion would be 'how to publish your microservice to a domain.'

[2021-01-04 15:23] tlazebnyk opened #195 "Business Model / Value Proposition Canvas"
Build product vision and analyze key indicators to fulfill go-to-market strategy

[2021-01-04 16:06] TracyRagan opened #196 "Rebrand DeployHub Team to Ortelius"
We need to update the DeployHub logo to Ortelius on free version.

[2021-01-04 16:10] Neetuj commented on #194
This blog helps us reach our "increase the sign ups by Q2021". Having tips and tricks for informational blogs on setting up Ortelius will be really helpful in meeting this goal.

[2021-01-04 16:11] Neetuj commented on #193
This blog helps us reach our "increase the sign ups by Q2021". Having tips and tricks for informational blogs on setting up Ortelius will be really helpful in meeting this goal.

[2021-01-04 16:13] Neetuj commented on #195
I can help with that.

[2021-01-04 16:29] Neetuj commented on #188
So are we slating this issue for now @TracyRagan ?

[2021-01-04 16:46] Neetuj opened #197 "Training videos to activate first-time users and improve their onboarding experience to help them adopt ortelius : Training Video 1"
First impressions are important. We want firs-time users of ortelius to have a good experience. One way to do is to provide training videos to help them see how to get started.

few ideas :-
Define the goal this video will accomplish.
Define what users should do first to adopt Ortelius.
Add a step by step guide to download and get started with Ortelius.
Show how to follow/act on that guide in the

[2021-01-04 16:47] Neetuj opened #198 "Training videos to help first-time users get started and adopt ortelius : Training Video 2"
First impressions are important. We want first-time users of ortelius to have a good experience. One way to do is to provide training videos to help them see how to get started.

few ideas :-

video 1:-
Define the goal this video will accomplish.
Define what users should do first to adopt Ortelius.
Add a step by step guide to download and get started with Ortelius.
Show how to follow/act on that g

[2021-01-04 17:30] Neetuj opened #200 "Submit this project for GSOC Google Summer of Code"
GSoc is a great way to get contributors, visibility etc.

Timeline https://developers.google.com/open-source/gsoc/timeline

- [x] Identify project ideas for GSOC

- [x] Submit those ideas to CDF/SOC

- [ ] Evangelize our GSOC entry to seek applicants
- [ ] create a meeting plan for GSOC to welcome, set context+expectations and timelines with 3-4 meetings

[2021-01-04 17:30] Neetuj commented on #200
@sbtaylor15  @TracyRagan  we still have time ..applications open on  Jan 29th and deadline is feb 19th 2021.

Please review the entry criteria :- https://summerofcode.withgoogle.com/get-started/
Organization Eligibility
Mentor organizations must run an active open source or free software project.
Have produced and released software under an OSI approved license.
Must not be based in a country curr

[2021-01-04 18:29] sbtaylor15 commented on #200
@neettuj - everything looks good except we need to change our license from Affero to Apache 2.  Let's put that change to the members at our next General working group meeting.

[2021-01-04 19:51] sbtaylor15 commented on #188
@Neetuj - yes.   We are going to table this for now and go with what we have already got for the logo.

[2021-01-04 21:03] #188 closed, assigned to nobody

[2021-01-04 21:38] sbtaylor15 commented on #184
[Access Ortelius from your browser](http://docs.ortelius.io/guides/userguide/installation-and-support/0-on-premise-installation-for-pro/#step-5---access-ortelius-from-your-browser) section needs to be changed.  The prompt is no longer used instead, first userid is `admin` with password `admin`.

[2021-01-05 18:27] sbtaylor15 commented on #200
@Neetuj the CDF is going to apply for us.  We will need to come up with a project idea, and who wants to be a mentor.

Here is what Jenkins is doing:  https://www.jenkins.io/blog/2020/12/16/call-for-mentors/

[2021-01-05 18:40] sbtaylor15 commented on #200
Need to update the [CDF Summer of Code](https://github.com/cdfoundation/soc) page with Ortelius

[2021-01-05 21:59] Neetuj commented on #200
@sbtaylor15 Cool in that case I can submit a PR  here https://github.com/cdfoundation/soc/blob/master/project-ideas-2021 once we decide on project ideas.

would Helm, Cloudbuild, Dockerbuilds issues clubbed together make good project ideas? or will they be too small for such a  duration?

[2021-01-05 22:06] Neetuj commented on #162
Does this mean we can close this issue? are we waiting for other approvals? https://github.com/ortelius/ortelius-ms-rpt-app2env/pull/5#issuecomment-749162510

[2021-01-05 22:09] #152 closed, assigned to karamjotsingh

[2021-01-05 22:09] #151 closed, assigned to karamjotsingh

[2021-01-05 22:10] #150 closed, assigned to karamjotsingh

[2021-01-05 22:13] Neetuj commented on #145
This looks great! Thanks @tlazebnyk

[2021-01-05 22:13] #145 closed, assigned to Neetuj

[2021-01-05 22:17] Neetuj commented on #137
@tlazebnyk  do we have visuals for these personas too?

[2021-01-05 22:17] sbtaylor15 commented on #162
@Neetuj waiting on @sachajw to squash the commits locally before we merge the PR

[2021-01-05 22:19] sbtaylor15 commented on #200
@Neetuj we need to look at bigger ideas such as Application Sets.  Going to open up the discussion at the Architecture working group this Thursday.

[2021-01-05 22:24] sbtaylor15 opened #201 "Add Github action to autoclose issues listed in the PR comments."
Need to add a 3rd party action for the autoclose.  The default github close only works for issues in the same repo.  Our issues are across repos.

Once we get this working with one repo we will need to copy the action into the other repos.  Templating actions/workflows are not supported by GitHub.

May want to look at a different CI/CD tool that handles templating or events, ie Jenkins Templating

[2021-01-08 21:44] sbtaylor15 opened #203 "documentation: broken link in User Guide doc markdown"
In http://docs.ortelius.io/guides/userguide/packaging-applications/buildingapplications/ the `CD Engines Chapter` link should point to http://docs.ortelius.io/guides/userguide/integrations/ci-cd_integrations/.  Markdown needs to be corrected.

![image](https://user-images.githubusercontent.com/14826572/104067150-de976800-51bf-11eb-9ed7-298fa12b8b27.png)

[2021-01-09 15:33] Javailabe commented on #203
Hello Steve! I would like to try solve this issue - that would be my first contribution ever.

[2021-01-11 16:48] sbtaylor15 commented on #203
@Javailabe - Just merged your [PR 31](https://github.com/ortelius/ortelius-docs/pull/31).  Everything looked perfect.  Thanks for working on this.

[2021-01-12 21:28] sbtaylor15 commented on #205
Used wildcard ssl cert instead of Lets Encrypt.

[2021-01-12 21:51] #183 closed, assigned to nobody

[2021-01-12 21:52] sbtaylor15 commented on #203
PR has been merged

[2021-01-12 21:52] #203 closed, assigned to nobody

[2021-01-12 22:06] sbtaylor15 commented on #181
Here is the link to [triage-party](https://github.com/google/triage-party)

[2021-01-12 22:24] sbtaylor15 commented on #181
Triage is running locally.  We can use it whenever we need to look at "stale/backlog" issues.

[2021-01-12 22:24] #181 closed, assigned to markjacksonfishing

[2021-01-12 22:37] sbtaylor15 commented on #205
ssl verified and ortelius.io updated to https to docs.ortelius.io

[2021-01-12 22:37] #205 closed, assigned to sbtaylor15

[2021-01-13 18:15] sbtaylor15 opened #209 "documentation: add variable names for attributes being updated by CI/CD tools"
Key name column needs to be added to the tables on [Defining Components](https://docs.ortelius.io/guides/userguide/publishing-components/2-define-components/#container-specific-data-definition).  The key name is used to map the value to the specific entry field on the Component Definition.

- BuildId
- BuildUrl
- Chart
- chartversion
- operator
- DockerBuildDate
- DockerSha
- DockerRepo
- GitCommi

[2021-01-13 18:16] sbtaylor15 opened #210 "documentation: add key name to tables describing component fields"
Key name column needs to be added to the tables on [Defining Components](https://docs.ortelius.io/guides/userguide/publishing-components/2-define-components/#container-specific-data-definition).  The key name is used to map the value to the specific entry field on the Component Definition.

- BuildId
- BuildUrl
- Chart
- chartversion
- operator
- DockerBuildDate
- DockerSha
- DockerRepo
- GitCommi

[2021-01-13 18:17] sbtaylor15 commented on #210
dup

[2021-01-13 18:17] #210 closed, assigned to nobody

[2021-01-13 18:18] sbtaylor15 commented on #209
Change needs to be made in [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) repo

[2021-01-13 22:47] sbtaylor15 commented on #209
Application Definition key names:

- FailureTemplate
- SuccessTemplate
- CustomAction
- PostAction
- PreAction
- ChangeRequestDS

Note: The templates are unique so no domain name is required.

[2021-01-13 23:15] sbtaylor15 commented on #184
@Javailabe - here is another doc update.  Make sure your fork is in sync with the ortelius/ortelius-docs#master branch before making the change.  Let us know if you need help getting your forked repo in sync and ready to go.

[2021-01-13 23:16] obowersa commented on #182
Hey Folk,

A couple of updates on this, some questions we need to think about and general discussion.

I've put together a barebones demo repo here: https://github.com/obowersa/ort-netlify

A couple of notes on this:
- The repo is barebones, based around hugo/docsy ( which we already use for the documentation site ). As it stands it has a handful of headings and a working deployment mechanism.
- T

[2021-01-14 18:50] sbtaylor15 commented on #182
@obowersa the docs.ortelius.io is a hugo server running as a container in our Azure k8s cluster.  Builds are setup to create the container on a PR.  Ortelius is hooked is to grab the necessary info for deployments.  The Linux Foundation will pick up the cost of running our cluster.

I will look at the site on netify and play with it.  Thanks for working on this.

[2021-01-14 19:06] obowersa commented on #182
No problem! I’m currently putting together a couple of initial themes and moving over a couple of bits of content to give more of a ‘feel’ for it.

On the azure front, AKS makes generate preview URLs fairly straight forward depending on the config. We can utilise the azure service annotation  to generate a public facing dev url, the annotation is along the lines off ‘ service.beta.kubernetes.io/az

[2021-01-14 19:39] sbtaylor15 commented on #182
@obowersa fyi, we have istio as part of the cluster and currently routing the docs.ortelius.io url to the docs container.  We could do a dev.ortelius.io for a branch update and www.ortelius.io for the prod (master branch).  Istio would route based on domain url to the correct backend.

[2021-01-14 20:03] obowersa commented on #182
Ok, cool. I was hoping we could achieve a short lived url per pr, but I'll need to catch up with you on the aks/istio setup. I'll look to do that via discord.

At a high level ( and my istio knowledge is a little rusty! ), if the istio operator is in use I think it's a case of generating a new entry in the list with the correct label, a little like this:
[code]
Anyhow. Going to progress a couple o

[2021-01-14 21:22] sbtaylor15 commented on #182
@obowersa  The gateway will be predefined to handle the ingress on a static ip.  From there a VirtualService and DestinationRoute would be used to get the traffic to the right backend container.  Annotations and labels are used to identify two different versions of the container image running.

I think this is what istio defintion will look like (should be close)

[code]

The destination rule is w

[2021-01-14 22:27] sbtaylor15 commented on #177
Submitted google form to request that Ortelius be added to EasyCLA.

[2021-01-14 23:13] sbtaylor15 commented on #201
Added GitHub Action to auto close issue when PR is merged.  See [.github/workflows/autoclose.yaml](https://github.com/ortelius/ortelius/blob/maintenance/.github/workflows/autoclose.yml)

Format of close statements:
[code]

Use full url if the issue exists in another repo.

Action needs to be copied to all repos.

[2021-01-15 00:49] obowersa commented on #182
Ah cool. Thanks Steve. That's super useful to know.

Just as an update on the site side of things, I began working on the layout tonight. Still a fair bit to do as far as replacing the placeholders and translating some of the hardcoded values into more composable block codes, but I wanted to share the updated PR environment link here so it's easier to get a sense of the direction. I'm trying to ke

[2021-01-15 14:58] obowersa commented on #182
As a further update to the above, I've now ported over the bulk of the content from the current site, not including multi-media content and a couple of pages referenced on the home page: https://deploy-preview-1--peaceful-bhaskara-fc75a4.netlify.app/

[2021-01-15 17:08] Neetuj opened #213 "Work on the project board for Ortelius"
1)Work on the project board for Ortelius (Neetu and Siddharth) and make a reccomendation.
2) Adapt the results into contributor guide ..

[2021-01-15 17:28] Neetuj commented on #213
@sbtaylor15  @TracyRagan  there are a couple of options for project boards (@devops-novice  and I discussed them)
1)  we feel we can get started with the github project board and then see if we need another trello board or not.
2) There are options to create project board per repos and also to have  one central project board.  We see a lot of repos  @sbtaylor15  can you please let us know the sign

[2021-01-15 18:55] sbtaylor15 commented on #105
Need to create an Ortelius Spinnaker plugin for capturing configuration, deployment data and relationships for visualization in the Ortelius UI.  [Spinnaker Plugin Guide](https://spinnaker.io/guides/developer/plugin-creators/).

Configuration Data:

| **Field**| **Description** |
| --- | --- |
|**Build Job** | The Continuous Delivery Build Job that is used to build/compile the _Component_.  |
|**L

[2021-01-15 19:05] Neetuj commented on #213
here is a link to this repo's board https://github.com/ortelius/ortelius/projects/1

while here is one for the master project board https://github.com/orgs/ortelius/projects

we can work together to understand what items should go on which board.

[2021-01-15 23:27] sbtaylor15 opened #215 "Integration with ArgoCD resource hook : create an Ortelius resource hook for capturing deployment data and relationships for visualization in the Ortelius UI"
**Project Overview**
@sbtaylor15  It will be useful to back up a little but and provide them some overall big picture view

**Project Goals**
Need to create an Ortelius resource hook for capturing deployment data and relationships for visualization in the Ortelius UI.  [ArgoCD Resource Hook Example](https://argoproj.github.io/argo-cd/user-guide/resource_hooks/).

**Related Documentation**
Deployme

[2021-01-18 20:53] Javailabe commented on #184
@sbtaylor15 - I am still not familiar with GitHub interface and functionalities and need some help here.

![image](https://user-images.githubusercontent.com/68078922/104961535-cc46d680-59d6-11eb-9559-48b0b0feef80.png)

 I think, I forked  ortelius/ortelius but now cannot find the issue. I would appreciate any hint how I can get there.

Thank you!

[2021-01-18 22:18] sbtaylor15 commented on #215
Argo does not have a CI/CD process so no way to hook into the build process for docker image creation.  This means that the Git info that triggered the docker build does not exist.  For example, Jenkins would be the orchestration tool that has a pipeline step to do the docker build, docker push and git push to the application git repo to update the manifests with the new docker digest/tag info.  A

[2021-01-18 23:08] sbtaylor15 commented on #184
@Javailabe the issue remains tied to the original repo and doesn't move over to your forked repo.  We need to get your forked repo in-sync with the original one.  Contact me on our Discord server ( handle sbtaylor15) so we can schedule some time to do a quick web meeting.  Here is the [link to the channel](https://discord.gg/ZtXU74x).  Thanks, Steve

[2021-01-19 18:15] tlazebnyk commented on #137
@Neetuj no, not yet, I will create them by the end of this week

[2021-01-19 18:33] tlazebnyk commented on #195
[Ortelius_BusinessModelCanvas.pdf](https://github.com/ortelius/ortelius/files/5837979/Ortelius_BusinessModelCanvas.pdf)

@Neetuj please see attached, appreciate your thoughts. and please feel free to update as needed

[2021-01-20 19:51] Neetuj commented on #213
@devops-novice  I missed this week's meetings .. are there any action items for us regarding project board ? next steps?

[2021-01-20 20:03] Neetuj commented on #195
Looks good to me. we can certainly modify based on inputs ..

[2021-01-20 20:03] #195 closed, assigned to Neetuj, tlazebnyk

[2021-01-20 20:29] Neetuj commented on #215
@sbtaylor15  are there any skills /tech that students will need to know/learn ? for this issue? It will help students see if they are interested in picking up this issue.

[2021-01-20 20:37] Neetuj commented on #200
@sbtaylor15   @TracyRagan  let me know when the ideas for gsoc are identified. I will like to work with you to get them ready so that students can easily selects and work on them.

This should give us some idea of how it works :- https://gist.github.com/anjali-dhanuka/76563d3c9b953b2e754a5a03ddc300e7

based on this we should
1) clearly identify some projects ( each project should have an overview

[2021-01-20 22:26] TracyRagan commented on #213
We did complete the submission for GSOC so that can get moved to Done.

We might want to create some tasks for the Blog-A-Thon.
1) Website
2) Rules of engagement
3) We need editors/judges to determine if the blogs qualify

That is a start - I'm working on the Website page.
Here is the doc I'm working from:

https://docs.google.com/document/d/1YzGQaejr2-bvkbaChpv7ugIurANDdyWj-XvvN8mRWMI/edit#

On W

[2021-01-25 17:44] Neetuj commented on #200
@sbtaylor15  @TracyRagan  I see 3 issues (apart from this one) tagged for gsoc.

- are we expecting more ?
- If not should I go ahead and submit this PR https://github.com/cdfoundation/soc/compare/master...Neetuj:patch-2 ?
- once we have finalized I can write a blog about our plans to enter GSOC, what to expect etc

[2021-01-25 17:52] sbtaylor15 commented on #200
@Neetuj just three issues at this time.  I updated the soc readme with our project ideas and created the PR https://github.com/cdfoundation/soc/pull/15.  It sounds like there will be a limited number of students based on what they were telling us on the CDF TOC meeting last week.

[2021-01-25 20:09] sbtaylor15 opened #218 "documentation: docker run command syntax error"
[On-prem command](https://docs.ortelius.io/guides/userguide/installation-and-support/0-on-premise-installation-for-pro/)

--hostname is incorrect.  here is the correct syntax

```docker run -v ~/.ssh:/keys:Z -v ~/ortelius/data:/var/lib/pgsql/data:Z -v ~/ortelius/logs:/opt/ortelius/logs:Z -p 7171:8080 -d --hostname docker_dhpro <imageid>```

[2021-01-25 20:10] sbtaylor15 commented on #218
code that needs to be changed is in [ortelius-docs](https://github.com/ortelius/ortelius-docs)

[2021-01-25 21:44] sbtaylor15 commented on #201
Found that the action needs to be updated to handle link to issue.  Parsing is skipping over issues from another repo

[2021-01-26 15:56] devops-novice opened #220 "Demo Kanban Board for Github"
Converting Card into an Issue

[2021-01-27 16:02] Neetuj commented on #200
@sbtaylor15  cool!

1. I will go ahead and write a blog about our plans to enter GSOC in that case and get it reviewed by you and @TracyRagan
2. I will also create some Issues (more like to-dos) regarding the welcome meeting, mid point checkup and final demo for us to collaborate on how to communicate expectations and welcome the new mentees.

[2021-01-28 17:57] #220 closed, assigned to nobody

[2021-01-28 21:57] #208 closed, assigned to sbtaylor15

[2021-01-28 21:58] sbtaylor15 commented on #51
Helm chart is in place to deploy Ortelius as a single image to a cluster.  Requires a persistent volume mount to for the database.

[2021-01-28 21:58] #51 closed, assigned to markjacksonfishing

[2021-01-28 22:00] sbtaylor15 commented on #117
Added to the [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) cloudbuild.yaml

[2021-01-28 22:04] #218 closed, assigned to nobody

[2021-01-28 22:06] sbtaylor15 commented on #125
Connection between DeployHub and Azure are in place.  DeployHub is now deploying updates to the aks-cluster for the [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) .

[2021-01-28 22:06] #125 closed, assigned to nobody

[2021-02-01 21:25] #201 closed, assigned to sbtaylor15

[2021-02-01 21:37] #123 closed, assigned to nobody

[2021-02-01 21:38] #118 closed, assigned to nobody

[2021-02-01 21:59] sbtaylor15 opened #221 "website: add helm chart and deploy to azure"
use helm, DeployHub and cloudbuild the steps to deploy the hugo base website to Azure

[2021-02-08 19:48] TracyRagan commented on #189
The Pros and Cons of GitOps.  https://docs.google.com/document/d/1xGN0_nFxeIxa-A3PmBcE9fcMkbJ3YHzJ3VS3dkkM30U/edit

[2021-02-08 23:29] sbtaylor15 commented on #200
CDF added my userid to the CDF team gsoc-admin-and-mentors

[2021-02-10 20:42] #184 closed, assigned to nobody

[2021-02-14 13:54] Javailabe commented on #209
Hello @sbtaylor15,

Are these keys should be added to subsections: [Container Specific Data Definition](https://docs.ortelius.io/guides/userguide/publishing-components/2-define-components/#container-specific-data-definition) and [Application Specific Data Definition](https://docs.ortelius.io/guides/userguide/publishing-components/2-define-components/#application-specific-data-definition) ?

For so

[2021-02-16 18:15] sbtaylor15 commented on #200
Our PR cdfoundation/soc#19 has been merged.  CDF is submitting application to Google on 2/19.

[2021-02-16 18:16] sbtaylor15 commented on #200
Closing issue since CDF is handling the rest of the process for us.

[2021-02-16 18:16] #200 closed, assigned to Neetuj, TracyRagan, sbtaylor15

[2021-02-17 22:01] sbtaylor15 commented on #221
Added chart,  Dockerfile and cloudbuild to build, push and deploy to Azure using DeployHub

[2021-02-17 22:01] #221 closed, assigned to nobody

[2021-03-01 15:39] sbtaylor15 opened #224 "SEO website"
Need to tune Ortelius hugo website for SEO.  Repo https://github.com/ortelius/website

[2021-03-01 17:21] sbtaylor15 opened #225 "SSL certificate needs full certificate chain."
![image](https://user-images.githubusercontent.com/14826572/109533818-dd741000-7a77-11eb-8a9f-c743f99eebbf.png)

[2021-03-01 22:10] obowersa opened #229 "Update README.MD for ortelius/website"
Currently we have a pretty blank README which was used as a sample for the preview site.

Ideally we need to rewrite the README to guide folk on how best to contribute to the website.

Main headers I've got in mind at the moment are:
- How to use the repository
- How to develop locally from a content creator perspective
- How to develop locally from an 'updating the layout/hugo templating' perspec

[2021-03-01 22:36] Javailabe opened #227 "Typos correction in Pull Request Cheat Sheet"
Typos in [Pull Rest Cheat Sheet](https://docs.ortelius.io/guides/contributorguide/pull-request-cheat-sheet/) need to be corrected

![typos](https://user-images.githubusercontent.com/68078922/109568211-e18b4680-7ae6-11eb-8397-f016e8933d7f.png)

[2021-03-02 19:27] sbtaylor15 commented on #229
Moving issue over to [ortelius/ortelius](https://github.com/ortelius/ortelius) repo where all the issues are located.

[2021-03-02 22:54] sbtaylor15 commented on #225
Added new tls secret to istio-system namespace for cert that has intermediate cert chain in it.

`kubectl -n istio-system create secret tls ortelius-credential --cert=ortelius.io.cert+chain.crt --key=ortelius.io.key`

[2021-03-02 22:54] #225 closed, assigned to nobody

[2021-03-02 23:38] sbtaylor15 commented on #209
@Javailabe the keys that need to be updated are just for the Application Specific Data Section.

| Field | Description |
| ---- | -------------|
| FailureTemplate | The name of the Failure Notification Template to use on a deployment failure. |
| SuccessTemplate | The name of the Success Notification Template to use on a deployment succes. |
| CustomAction | The name of the custom action to execut

[2021-03-05 21:49] #229 closed, assigned to sbtaylor15

[2021-03-05 21:54] sbtaylor15 commented on #224
Looks like the easiest way to add SEO such as gzip, minify, cache date etc is by putting ngnix between istio and hugo.

[2021-03-07 16:59] scanalesespinoza opened #232 "Broken link to contributors page"
There is a broken link in https://docs.ortelius.io/guides/contributorguide/community-membership/ page
Link need to be updated
![image](https://user-images.githubusercontent.com/11546953/110247874-2979f580-7f4d-11eb-86d3-5adcd8e9f7df.png)
![image](https://user-images.githubusercontent.com/11546953/110247894-3d255c00-7f4d-11eb-8a57-e3860c5520d0.png)

The right link should be https://ortelius.io/cont

[2021-03-08 23:03] sbtaylor15 opened #233 "microservice: domains ids for logged in user"
After a successful login the user token id should be returned.  This userid/token combo should then be passed to the microservices to return a list of domain ids that the user has view access to.

Input:

UserId (string) - userid for the logged in user
Token (string) - token returned from the login api after successful login

Output:

Domain Id List (json array of ints): domain ids that the user c

[2021-03-08 23:15] sbtaylor15 opened #234 "microservice: base service catalog data"
The microservice should perform Create, Update, and Retrieve of the base service catalog data:

#### Build URL
Url to the build log in the CI tool for the execution of the build.

#### Build Id
Id used by the CI tool to identify the build execution.

#### Build Number
Number representing the execution of build.  This number may not be unique.  Build numbers can be reused as part of the re-run of a

[2021-03-08 23:21] sbtaylor15 opened #235 "frontend: split component details boxes"
# Current Component Details

![pasted image 0](https://user-images.githubusercontent.com/14826572/110394599-ef325600-8029-11eb-98de-8cca206150da.png)

# New Component Details - Deployment Section

![unnamed](https://user-images.githubusercontent.com/14826572/110394669-0e30e800-802a-11eb-8e22-e46c59628ab5.png)

# New Component Details - Service Catalog Section

![unnamed (1)](https://user-images.gi

[2021-03-08 23:28] sbtaylor15 opened #236 "microservice: load CycloneDX xml or json file for a component version"
The microservice should Create, Update or Retrieve the CycloneDX data.  [CycloneDX tools](https://cyclonedx.org/tool-center/) are used to scan the container and look for CVE and Licenses.

# Create/Update Input
CycloneDx json or xml + component id + userid + token

# Create/Update Output
json {success: true/false}

# Retrieve Input
component id + userid + token

# Retrieve Output
CycloneDx json

[2021-03-08 23:50] sbtaylor15 opened #237 "frontend: Container Dependency Box"
# New Component Image Dependencies Section

Package | Version | License | Severity | CVE
-- | -- | -- | -- | --
github.com/coreos/etcd | 3.3.13+incompatible | Apache 2 | High | CVE-2020-15114
github.com/coreos/etcd | 3.3.13+incompatible | Apache 2 | High | CVE-2020-15115
github.com/coreos/etcd | 3.3.13+incompatible | Apache 2 | Medium | CVE-2020-15136

See #236

[2021-03-09 03:26] sbtaylor15 commented on #182
Site has been rolled out. Files are in the [ortelius/website](https://github.com/ortelius/website) repo

[2021-03-09 03:26] #182 closed, assigned to obowersa, sbtaylor15

[2021-03-09 03:32] sbtaylor15 commented on #224
@knatch - would you be interested in changing the docker build to a multistage build to generate static site? See https://backbeat.tech/blog/static-site-docker-images.

We can then use nginx to control the gzip, caching of images, css etc from its config settings.

[2021-03-09 03:52] sbtaylor15 commented on #224
The pagespeed version of nginx will allow us to turn on the optimization we need. Here is the docker image we should use for the nginx layer, [alpine-nginx-pagespeed](https://hub.docker.com/r/wernight/alpine-nginx-pagespeed/).

[2021-03-09 20:00] Neetuj commented on #191
_Ok copying the GSOC bog content here for now (since I can't access google drive)_

**Announcing Ortelius Entry to GSOC( Google Summer Of Code)**
We are excited to announce that this year will be Ortelius’s first entry (through CD Foundation) at Google Summer Of Code (GSOC )and we are looking forward to welcoming some new students to this community through GSOC.
We have carefully chosen 3 projects

[2021-03-09 20:02] Neetuj commented on #191
@sbtaylor15  please let me know if we should go deeper into the 3 issues that are identified for GSOC .. (why we chose them .. why they should be good for a 2 month project for a new student .. what all they will learn (apart from soft skills) ??

[2021-03-09 20:04] Neetuj commented on #232
Please move it to "done" project state when the PR is closed.

[2021-03-09 20:07] #227 closed, assigned to Javailabe

[2021-03-09 20:08] Neetuj commented on #227
@marcvelasco I am unable to assign this issue to you .. feel free to assign it to yourself ..

[2021-03-09 20:49] Neetuj commented on #191
Uploaded a copy in the blog folder as well

[2021-03-09 21:27] #232 closed, assigned to scanalesespinoza

[2021-03-09 21:27] scanalesespinoza commented on #232
ready in production (master Branch)

[2021-03-11 15:42] obowersa opened #238 "website: Preview on PR"
# Description
For content creators ( and PR reviewers ) it would be useful to have a preview of the website changes available as a comment on the PR.

# Potential Workflow
The rough workflow would be:
-> PR Opened
-> Base build of website carried out
-> Static content published to a dynamicly generated preview URL
-> Preview URL made visible to the Pull Request
-> URL can be reviewed
-> Loop repea

[2021-03-11 16:32] sbtaylor15 commented on #224
This site has a good starting point for enabling the [pagespeed options](https://www.optiweb.com/blog/install-and-configure-nginx-pagespeed-module-for-better-performance/).

[2021-03-11 18:17] sbtaylor15 commented on #238
Istio just needs to be tweaked to do this.  Right now both the dev.ortelius.io and ortelius.io hosts are backed by the same container.  Just need to split the hosts to separate containers.  Also change the cloud build to handle actions on a merge

[2021-03-11 19:36] #209 closed, assigned to Javailabe

[2021-03-12 17:16] sbtaylor15 commented on #62
Discord Link - https://discord.gg/ZtXU74x

[2021-03-15 17:23] #224 closed, assigned to nobody

[2021-03-18 14:51] sbtaylor15 opened #240 "website: Avoid CSS @import"
Need to flatten the css imports using the pagespeed nginx module.  This change should go in the [ortelius/website](https://github.com/ortelius/website) repo in the conf/pagespeed.conf file.

https://www.modpagespeed.com/doc/filter-flatten-css-imports

gtmetrix output below showing issue

![image](https://user-images.githubusercontent.com/14826572/111645750-a9625400-87c6-11eb-9e7f-b91f06a67a42.png)

[2021-03-18 15:20] sbtaylor15 opened #241 "website: optimize images"
Images need to be optimized (reduce image size and eliminate invisible junk).  See https://imageoptim.com/mac

[2021-03-18 15:22] sbtaylor15 commented on #241
![image](https://user-images.githubusercontent.com/14826572/111651039-7ff7f700-87cb-11eb-815c-3ee1f4051f76.png)

[2021-03-18 16:19] #241 closed, assigned to nobody

[2021-03-19 14:20] bradmccoydev commented on #170
I have experience in writing Slack Bots, so am happy to help here where required

[2021-03-19 17:53] sbtaylor15 commented on #240
@knatch test notification

[2021-03-19 19:20] sbtaylor15 commented on #170
@bradmccoydev there was discussion of going the route of ChatOps and have Slack kick of a deployment of an application to an environment via Ortelius.  Any experience with ChatOps?

[2021-03-19 19:34] sbtaylor15 opened #242 "documentation: PR Cheatsheet needs to use git rebase"
git rebase works better than git merge for keeping the commit history in sync.

I will add the exact changes after testing them out.

[2021-03-19 22:25] bradmccoydev commented on #170
@sbtaylor15 yes I have lots of experience in chatops I will get an async meeting going for this to demonstrate a project in the past I have done in this space

[2021-03-22 15:42] sbtaylor15 opened #243 "plumbing: latest tag missing from docker tag in cloudbuild"
Need to double tag quay.io/ortelius/ortelius images with schema tag and latest

[2021-03-22 15:43] sbtaylor15 commented on #243
Add additional -t quay.io/ortelius/ortelius:latest

[2021-03-22 15:49] sbtaylor15 commented on #242
Step 9 should be: `git rebase upstream/master`
Step 10 should be: `git rebase master`
Step 11 should be: `git push -f`  (forced push)

Add step 12 - After the PR has been merged you need to do steps 9 - 11 in order to bring your repo in sync with upstream since it has new commits.

[2021-03-22 18:58] Javailabe commented on #242
I am thinking about rebuilding of PR Cheat Sheet to understand whole workflow easier. I will make proposal and let you know.

[2021-03-23 23:59] zacharyljones commented on #161
@sbtaylor15 I can take this issue

[2021-03-23 23:59] zacharyljones commented on #163
@sbtaylor15 I can take this issue

[2021-03-25 18:02] sbtaylor15 commented on #243
And add push of quay.io/ortelius/ortelius:latest

[2021-03-25 18:13] #117 closed, assigned to nobody

[2021-03-25 18:15] #71 closed, assigned to nobody

[2021-03-26 16:15] Javailabe opened #244 "Archiving of unused components"
Possibility of archiving not used components might be useful for sake of space saving and better arrangement.

I am opening the discussion:

- Any pros and cons?
- How this functionality could work?

[2021-03-26 16:47] sbtaylor15 commented on #244
Need to change the filter dropdown to add "show archived".

[2021-03-29 02:35] bradmccoydev commented on #170
@sbtaylor15 please find our overview of how we have used chatops here: https://www.youtube.com/watch?v=GHQelgBGOzc

Notes:
In this part we show previous experience with ChatOps.  The idea is to show what is possible with Slack and how we can contribute this knowledge into the project.

Agenda:
- Show our bot "shelly" working in production
- Show high level Architecture of the framework
- Show how

[2021-03-30 03:23] bradmccoydev commented on #170
Part 2 of the meeting: https://www.youtube.com/watch?v=nQ9UO_DPXi4 here we discuss a high level overview of the teams capability, not related to slack but shows how our framework can talk to both.

[2021-03-30 05:42] obowersa opened #246 "website: template subfolder in blog visible on public facing ortelius, but not when run locally"
The subdirectory/category which contains the new draft blog template is showing up on the public facing website.

Notably, the draft blog post itself isn't showing up, and neither shows up locally. I suspect this is something about how we're building the site.

If we can't track down the issue, we can move the templated blog post into an existing category and scrap the template folder.

What we se

[2021-03-30 13:44] obowersa commented on #246
Follow up note on this. I've been able to track it down to the version of hugo used within the build alpine image. I'll open up a PR later today once I'm back on my workstation.

[2021-03-30 22:49] #246 closed, assigned to nobody

[2021-03-31 15:16] Javailabe commented on #242
Maybe two things:

1. Sort alphabetically _Terms_ section.

2. I would divide _Example scenario_ section for 2 sections:

- 1st would include some basic settings like: forking repo, making local copy, creating branches, creating remotes and finally changes in the files and then push and pull requests,

- 2nd could be shorter section when you already have configured everything and working in _fetch

[2021-03-31 15:26] sbtaylor15 commented on #242
@Javailabe Yes, those are good suggestions.  Please make the changes.

[2021-03-31 15:34] sbtaylor15 opened #247 "Need to version environments"
Any change to an environment should create a new version.  This way we can keep track of the history for an environment.  This versioning needs to be hermetic so you can reproduce and environment from a previous state.  Maybe replicate the version into git repo for handling the hermetic persistence.

[2021-04-01 19:50] sbtaylor15 opened #249 "plumbing: load hipster store for on perm install"
need to run CLI to load in sample data.  Also, need to push the sample data to a repo.

[2021-04-01 19:52] sbtaylor15 commented on #243
These changes go in the cloudbuild.xml file

[2021-04-01 23:07] obowersa opened #250 "Recommended local dev environment"
We briefly discussed options around local dev stacks, just gathering a new notes/thoughts here to expand on.

None of these will be required, but, recommendations/guidelines might help folk get up to speed.

There are a few use cases for local environments, which might have different solutions.

- Local dev environment for ortelius service development
This is not necessarily requiring a full envir

[2021-04-02 15:47] sbtaylor15 opened #252 "documention: add pgAdmin to Developer Tools"
https://docs.ortelius.io/guides/contributorguide/developer-resouces/

[2021-04-02 16:41] sbtaylor15 commented on #250
Need to make sure we handle a dev env for a least Windows and OS/X.

[2021-04-02 17:19] sbtaylor15 opened #253 "microservice: flask bubble sort 1"
Need python flask program to return json string of the following array sorted using the bubble sort algorithm.

[ 10, 1, 200, -19, 21, 321, 0, 200 ]

Use [ortelius/ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud) repo for your code.