[2021-04-02 17:22] sbtaylor15 opened #254 "microservice: flask bubble sort 2"
Need python flask program to return json string of the following array sorted using the bubble sort algorithm.

[ 10, 1, 200, -19, 21, 321, 0, 200 ]

Use [ortelius/ortelius-ms-dep-pkg-r]( https://github.com/ortelius/ortelius-ms-dep-pkg-r) repo for your code.

[2021-04-02 17:31] ayesha-kr commented on #254
@BBimie this is going to be the issue that you will be working on.

[2021-04-02 17:32] ayesha-kr commented on #253
@munnyraht this going to be the issue that you will be working on

[2021-04-02 17:52] sbtaylor15 opened #255 "database: add table for Component Version to Dependency Packages"
| Column | Type | Desc |
| ------- | ---- | --- |
| compid | int | Component Id |
| packagename | vchar(1024) | Name of the package |
| packageversion | vchar(256) | Version of the package |
| cve | vchar(80) | Name of the CVE |
| cve_url | vchar(1024) | Url to the CVE details in the CVE website |
| license | vchar(256) | Name of the License for the package |
| license_url | vchar(1024) | Url to t

[2021-04-05 14:28] sbtaylor15 opened #256 "plumbing: postgres docker image for test data"
Need a docker image that can be run locally to serve up postgres test data.

[2021-04-05 14:41] scanalesespinoza opened #257 "Assignees issue"
Assign issue, checking I can assign to myself

[2021-04-05 14:49] scanalesespinoza commented on #257
![image](https://user-images.githubusercontent.com/11546953/113587268-888a6300-95fc-11eb-9c53-b9f6630874ea.png)
No edit permissions @sbtaylor15

[2021-04-05 14:52] sbtaylor15 opened #258 "plumbing: istio routing for new microservices"

[2021-04-05 15:03] chicks-net commented on #160
What is needed for this?  https://github.com/ortelius/ortelius-ms-rpt-env2comp/blob/master/cloudbuild/cloudbuild.yaml already exists and looks pretty similar to the example suggested.

[2021-04-05 15:36] sbtaylor15 opened #259 "docker build: base image for python with odbc libraries"
Need base python 3 image that has the python odbc libraries.  Should be base on Apline or better yet a [Distroless image](https://github.com/GoogleContainerTools/distroless).

Goal is to minimize CVEs and only include what is needed.

Following issues will consume this base image:
#153
#154
#155
#156

[2021-04-05 15:52] sbtaylor15 commented on #257
@scanalesespinoza see if you can self assign now.  Change the Dev team to have maintainer access.

[2021-04-05 17:18] chicks-net commented on #160
This is not done. @sbtaylor15

It looks like something needs to be enabled in the cloudbuild console to get this to start going.  https://cloud.google.com/build/docs/automating-builds/run-builds-on-github

[2021-04-05 17:19] scanalesespinoza commented on #257
![image](https://user-images.githubusercontent.com/11546953/113603069-7535c280-9611-11eb-93e1-cbf3bae5a54d.png)
Fixed!

[2021-04-05 17:19] #257 closed, assigned to scanalesespinoza

[2021-04-05 17:42] sbtaylor15 commented on #160
@chicks-net look at the #bot-build-results channel in Discord for the cloudbuild logs.  Looks like the build failed due to a missing docker file.  Let me know if you can't view the build logs.

[2021-04-05 17:50] chicks-net commented on #160
Sweet!  I can see the channel and the logs.  There is no script or `Dockerfile` in this repo so the cloudbuild getting invoked seems good enough to consider this done to me.  Please reopen if anyone disagrees.

[2021-04-05 18:05] #159 closed, assigned to chicks-net

[2021-04-05 18:17] chicks-net commented on #159
* this was already done by @goat023
* there's no code or `Dockerfile` in this repo either so the codebuild blows up when it can't find the `Dockerfile`
* so there's nothing else to test here
* profit! :moneybag:

[2021-04-05 18:17] scanalesespinoza commented on #160
Totally agreed

[2021-04-05 18:17] chicks-net commented on #159
:heavy_plus_sign:  you got a `README.md` for free. :smile:

[2021-04-05 18:31] chicks-net commented on #160
If you agree, why did you reopen?  Do we want to keep this open for a chance that there is more to do here after an actual service is in there?

[2021-04-05 18:44] chicks-net commented on #158
@sbtaylor15 the build results haven't shown up in the Discord channel for this after 15 minutes.  Previous builds for this repo seem to only take a minute to complete.  Any ideas?

[2021-04-05 19:15] scanalesespinoza commented on #160
Wow, I'm really sorry, my bad reading, sorry again @chicks-net

[2021-04-05 19:15] #160 closed, assigned to chicks-net

[2021-04-06 08:33] hatati opened #260 "Error when creating and managing components"
I have installed ortelius on our IBM Cloud Kubernetes service. When I try to create, edit and save a new component I get the following error in the console
`SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at n.parseJSON (jquery.min.js:4)
    at Qc (jquery.min.js:4)
    at x (jquery.min.js:4)
    at XMLHttpRequest.b (jquery.min.js:4)`
It looks like this:
![image](https

[2021-04-06 17:32] sbtaylor15 opened #261 "microservice: dockerize and add helm chart and cloudbuild to bubble sort 1"
Do the following task one by one. Create for every separate task.

1. Dockerize the Bubble sort1 application.
2. Install and setup minikube on your machine and run the containerized image created above as pod and service.  (You need to do a read up on kubernetes, minikube, pod and services)
Output should be a yaml file that can be run kubernetes.
3. Create the helm chart for the above created POD

[2021-04-06 17:34] sbtaylor15 opened #262 "microservice: dockerize and add helm chart and cloudbuild to bubble sort 2"
Do the following task one by one. Create for every separate task.

1. Dockerize the Bubble sort2 application.
2. Install and setup minikube on your machine and run the containerized image created above as pod and service.  (You need to do a read up on kubernetes, minikube, pod and services)
Output should be a yaml file that can be run kubernetes.
3. Create the helm chart for the above created POD

[2021-04-06 23:44] sbtaylor15 commented on #260
@hatati - let me take a look at what is happening.

[2021-04-06 23:47] sbtaylor15 commented on #256
Instructions are in the readme in [ortelius/test-database](https://github.com/ortelius/test-database).

@Javailabe can we add this to the [Testing Environment](https://docs.ortelius.io/guides/contributorguide/developer-resouces/ )?

[2021-04-06 23:55] #252 closed, assigned to Javailabe

[2021-04-06 23:57] #242 closed, assigned to Javailabe

[2021-04-06 23:58] sbtaylor15 commented on #149
[Main resources page](https://docs.ortelius.io/guides/contributorguide/)

[2021-04-06 23:58] #149 closed, assigned to nobody

[2021-04-07 18:46] Javailabe commented on #256
@sbtaylor15 update of Developer Resources pushed

[2021-04-07 21:31] sbtaylor15 commented on #260
Give the following image a try.  Should fix your issue.

`docker pull quay.io/ortelius/ortelius:maintenance-v9.0.0.360-gbe148b6`

[2021-04-08 20:16] hatati commented on #260
Now I am not able to see or add any domains. Also, there is another TypeError this time. Without a domain, I can't test the component creations
![image](https://user-images.githubusercontent.com/8775749/114090719-147be380-98b8-11eb-8093-f4457d27a85c.png)

[2021-04-08 21:42] sbtaylor15 commented on #260
A sql file was missed in the merge from the downstream project.  Fixed now.  Use the following image
` docker pull quay.io/ortelius/ortelius:maintenance-v9.0.0.361-g2128af2`

[2021-04-09 05:03] hatati commented on #260
Awesome, domains are present again and component creation is working. I'm closing this one. Thanks for the help!

[2021-04-09 05:03] #260 closed, assigned to nobody

[2021-04-09 14:49] sbtaylor15 commented on #258
@scanalesespinoza thinking this for url paths:

/ms/deppkg - POST -> dep-pkg-cud container
/ms/deppkg - GET -> dep-pkg-r container

Open to suggestions on this.

[2021-04-10 05:33] zacharyljones commented on #162
@sbtaylor15 A helm chart already exists for the ortelius-ms-rpt-app2env repo. It was added in this [PR](https://github.com/ortelius/ortelius-ms-rpt-app2env/pull/6)

I believe this issue can be closed.

[2021-04-10 05:44] zacharyljones commented on #163
Resolved by [PR #2](https://github.com/ortelius/ortelius-ms-rpt-comp2app/pull/2) in the ortelius-ms-rpt-comp2app repo. I did not add the issue link when the PR was created so auto-close failed.

Closing manually.

[2021-04-10 05:44] #163 closed, assigned to zacharyljones

[2021-04-10 05:46] zacharyljones commented on #161
Resolved by [PR #7](https://github.com/ortelius/ortelius-ms-rpt-env2app/pull/7) in the ortelius-ms-rpt-env2app repo. I did not add the issue link when the PR was created so auto-close failed.

Closing manually.

[2021-04-10 05:46] #161 closed, assigned to zacharyljones

[2021-04-10 14:51] karamjotsingh commented on #259
@ayesha-kr please refer to the latest Dockerfile from [here](https://github.com/ortelius/ortelius-ms-rpt-comp2env/blob/dev/Dockerfile). Tried for a multi-stage build, but python being an interpreted language no benefit in using a multi-stage build. Have added cyclonedx and trivy, both will generate their output JSON files which would be pushed to Ortelius down the line. Trivy might be moved to clo

[2021-04-10 14:51] #259 closed, assigned to karamjotsingh, ayesha-kr

[2021-04-12 14:45] chicks-net commented on #158
I've compared `cloudbuild.yaml` from this repo with the one from `ortelius-ms-rpt-comp2app` which works and found that:

* both have the same errors from `yamllint`: line length, trailing spaces, indentation, brackets
* the only differences are the names of the repos (shown below)

[code]

* I was able to check out the git repo with that URL so that's ok.
* So it doesn't seem like this has anythin

[2021-04-12 16:05] ayesha-kr commented on #261
@munnyraht I have added some details in the tickets. Please take a look that them

[2021-04-12 16:05] ayesha-kr commented on #262
@BBimie I have added some details in the ticket please take a look at them.

[2021-04-13 05:55] zacharyljones commented on #162
Closing. Resolved by [PR #6](https://github.com/ortelius/ortelius-ms-rpt-app2env/pull/6) in [ortelius-ms-rpt-app2env](https://github.com/ortelius/ortelius-ms-rpt-app2env) repo

[2021-04-13 05:55] #162 closed, assigned to zacharyljones

[2021-04-13 05:59] zacharyljones commented on #164
Resolve by [PR #3](https://github.com/ortelius/ortelius-ms-rpt-env2comp/pull/3) in [ortelius-ms-rpt-env2comp](https://github.com/ortelius/ortelius-ms-rpt-env2comp) repo

[2021-04-13 05:59] #164 closed, assigned to zacharyljones

[2021-04-13 12:51] scanalesespinoza commented on #258
@sbtaylor15 works fine, I test it with:
[code]
And got a nice 301

[code]
I only have running the monolith, so need to deploy the other MS, thats why I ask for the meeting with you, want to check all the deployment we have

[2021-04-14 17:35] camba1 opened #266 "DB credentials displayed in plain text in the log"
Running latest version of the Ortelius image pulled from quay.io:

Going through the Ortelius logs,  I found:

[code]
Note that I use` <readcted> `instead of posting the credentials in plain text in this issue

[2021-04-14 17:47] camba1 opened #267 "Unable to create new function or procedure"
How to reproduce:

go to the functions tab
Open an existing function (e.g. RunSQLScript)
close the  function (go back to actions search screen)
select any of the options under Add Function or Add script
Application of opens the previously opened function (e.g. RunSQLScript)
If you modify the 'new' function and save , the previously opened function (e.g. RunSQLScript) is actually modified.

Running

[2021-04-14 17:53] camba1 opened #268 "Datatables warning appears randomly"
Unfortunately, I do not know how to reproduce this consistently, but the warning below appears randomly while using the app:

`DataTables warning: table id=actionlist - Ajax eror. For more information about this error. please see http:/datatables.net/tn/7`

Looking at the error again , the table id seems to change, I am guessing depending on where I am in the app.

Using the latest Ortelius image

[2021-04-14 18:18] camba1 opened #269 "License has expired message when trying to create new application"
Step to recreate:

- Start with a fresh install of the latest Ortelius image from Quay
- Go to Applications
- Select Add Base
- Enter a name for the new application
- Hit save
- A message pops up saying the license key has expired
- New application is not saved

<img width="1393" alt="LicenseKeyNeeded" src="https://user-images.githubusercontent.com/7367366/114759391-b6218b80-9d23-11eb-8d27-82bdf5a

[2021-04-14 18:58] #269 closed, assigned to nobody

[2021-04-14 22:54] camba1 opened #273 "Component details disappear after save of new component"
Steps to recreate:

- Go to the components screen
- Click create new component
- Enter a name (and anything else you need)
- click save
- Application saves and the details disappear.
- Go back to search screen and notice the details of the component are still there (saved)
- Go into the component details and notice that the component details are still missing

This makes it really hard to modify c

[2021-04-15 15:15] #266 closed, assigned to nobody

[2021-04-15 15:19] sbtaylor15 commented on #243
Fixed in PR #263

[2021-04-15 15:19] #243 closed, assigned to ayesha-kr

[2021-04-15 17:23] #256 closed, assigned to sbtaylor15, Javailabe

[2021-04-15 17:40] camba1 opened #274 "Environment endpoint drop down does not refresh unless user signs out"
Steps to  recreate:

- Go to an environment tab
- Open an Environment
- Click add in the 'assigned endpoint' section
- open the endpoint drown down
- Close the drop down and hit cancel
- Go to the endpoint tab
- Create a new end point
- Save the newly created endpoint
- Go back to the Environment tab
- Click add in the 'assigned endpoint' section
- Open the endpoint dropdown
- Note that the new en

[2021-04-15 18:14] sbtaylor15 opened #275 "cli: enable running cyclondedx-py from outside of the image as trivy does"
Need to run the following command:

[code]

[2021-04-15 22:22] camba1 opened #276 "Package components screen visualization needs scrollbar"
In the package components tab of the application tab, the visualization :
- Is off center and thus can lead to components overlapping the component selector section and limits the amount of usable space
- Really needs vertical and horizontal scrolling. As it stands, the real-estate provided is just enough for a small number of components displayed (given that an real microservice app could have hu

[2021-04-15 23:23] sbtaylor15 commented on #276
This page needs to be replaced with a table to fix the layout issues and handle 1000s of components associated to an application.  Also, the current layout is deceiving since it is the deployment order and not the component to component relationships.

[2021-04-15 23:25] sbtaylor15 opened #277 "End Point test does not work"
Test Connection button on the end point does not populate the server details.

[2021-04-15 23:30] sbtaylor15 commented on #273
Not able to recreate this.  We will need to do a web meeting to debug.

[2021-04-15 23:39] #277 closed, assigned to sbtaylor15

[2021-04-16 00:14] sbtaylor15 commented on #268
We will need to look at the server logs to see why an exception is being thrown.  The data being returned is not parsable by the datatables js code.

[2021-04-16 00:29] bradmccoydev commented on #170
@wonboyn we will need to investigate Discord integration also API docs can be found here: https://discord.com/developers/docs/intro

[2021-04-16 13:55] camba1 opened #280 "Package components in applications should be divided into 2 pages"
The Package components page in the application tab currently combines two purposes:

- Define deployment order of components
- Define which components are associated with the application. In fact this is the only place you can associate a component to an app

However these two items are just loosely related and thus should be separated. For example, you probably want to associate a database to an

[2021-04-16 13:57] camba1 commented on #276
I created issue 280 for the fact that this page effectively has a split personality disorder :)(https://github.com/ortelius/ortelius/issues/280)
This issue can remain to fix the more short term layout issue

[2021-04-16 16:20] #274 closed, assigned to nobody

[2021-04-16 16:21] #267 closed, assigned to nobody

[2021-04-19 07:52] #262 closed, assigned to BBimie

[2021-04-19 16:07] zacharyljones commented on #255
Reopening to modify table name

[2021-04-19 21:59] sbtaylor15 commented on #275
[code]

[2021-04-20 16:38] #255 closed, assigned to zacharyljones

[2021-04-20 17:29] sbtaylor15 commented on #253
Resolved in PR ortelius/ortelius-ms-dep-pkg-cud#1

[2021-04-20 17:29] #253 closed, assigned to munnyraht

[2021-04-20 20:27] sbtaylor15 commented on #254
Resolved by PR ortelius/ortelius-ms-dep-pkg-r#1

[2021-04-20 20:27] #254 closed, assigned to BBimie

[2021-04-20 20:28] sbtaylor15 commented on #261
Resolved by ortelius/ortelius-ms-dep-pkg-cud#3

[2021-04-20 20:28] #261 closed, assigned to munnyraht

[2021-04-20 20:47] sbtaylor15 opened #286 "microservice: add sql queries to flask app - ortelius-ms-dep-pkg-r"
### API EndPoint
URL to access the API endpoint should be `/msapi/deppkg`
An http GET will be used from the client side to make the API call.

### Table Definition
[code]

### Rework of this repo
Needs to mirror - [ortelius/ortelius-ms-rpt-env2app](https://github.com/ortelius/ortelius-ms-rpt-env2app)
bubble-sort.py renamed to main.py

### Additional working sample
[ortelius/ortelius-ms-compitem-cr

[2021-04-20 20:55] sbtaylor15 opened #287 "microservice: add sql queries to flask app - ortelius-ms-dep-pkg-cud"
### API EndPoint
URL to access the API endpoint should be `/msapi/deppkg`
An http POST, DELETE, PUT verbs will be used from the client side to make the API call.

### Table Definition
[code]

### Rework of this repo
Needs to mirror - [ortelius/ortelius-ms-rpt-env2app](https://github.com/ortelius/ortelius-ms-rpt-env2app)
bubble-sort.py renamed to main.py

### Additional working sample
[ortelius/ort

[2021-04-23 13:45] hatati opened #289 "Missing image repository in component creation"
When creating a new component of type container the image repository property doesn't get persisted when saving the component.
Here is an example
![ortelius-bug](https://user-images.githubusercontent.com/8775749/115880904-8113e800-a44b-11eb-8417-bc10c3474562.gif)

This is running in AKS Kubernetes version 1.19.2

**Image**: quay.io/ortelius/ortelius:master-v9.0.0.388-g2c13bda

[2021-04-23 15:10] camba1 opened #290 "Access app at root instead of /dmadminweb/Home"
Enhancement request:

Currently accessing `http://<orteliusAddress>:<port>/ ` opens to an empty page. Can we instead redirect it to the application front page (`http://<orteliusAddress>:<port>/dmadminweb/Home`) ?
This way user do not have to remember the additional url portion (plus that way in minikube I can just do `minikube service ortelius` to launch the app :)  )

[2021-04-23 16:27] camba1 opened #292 "Change logout message"
When user hits the logout button, the application shows message saying the one is logging out of _DeployHub._ The message show be changed.

[2021-04-24 00:09] camba1 opened #293 "Deploy task in Applications failing: Failed to find engine"
I just pulled latest image from Quai and Ortelius is failing when trying to deploy app

To recreate:
- Go to applications
- select demo app (or any other)
- click task -> deploy
- error: Unhandled exception: Failed to find engine id for host 'ortelius-6db45d896d-msmnp'

Expected, application 'deploys' without error

<img width="1117" alt="Screen Shot 2021-04-23 at 6 56 01 PM" src="https://user-ima

[2021-04-24 19:54] camba1 opened #295 "Component shows as never deployed even though it has been "deployed""
Component in the Component search screen shows as never having been deployed while the detail screen (and the related application) shows that it has indeed been deployed. Note that I used the default 'Deploy to environment' option to deploy manually.

<img width="1207" alt="Screen Shot 2021-04-24 at 2 46 35 PM" src="https://user-images.githubusercontent.com/7367366/115971141-60f82d80-a50c-11eb-84c

[2021-04-24 20:00] camba1 opened #296 "Question: What is the map option meant to show in the component tab?"
Looking in the components tab, the list shows the mapping between the component and its domain.
On the other hand, the map appears to show a mapping between the components and the applications consuming them.

Should the map and the list views be consistent on what they are trying to convey? Or maybe there should be an option to see either the component - application  view or/and the component - d

[2021-04-27 03:00] sbtaylor15 commented on #290
Need to add ngnix to image an have it do the redirect since the tomcat webapp runner does not have a default ROOT context.

[2021-04-27 03:01] sbtaylor15 commented on #289
Resolved in image:   quay.io/ortelius/ortelius:maintenance-v9.0.0.392-g67b80e7
Need to verify before pushing to main branch.

[2021-04-27 16:39] sbtaylor15 commented on #296
The map from the components tab will show all of the application versions that are consuming the component version regardless of the domains.  This is the inverse of the map you get from the applications tab.

[2021-04-27 16:43] sbtaylor15 commented on #295
The component was manually deployed to the environments so there is no log file to show.  The Last Deployment column shows the deployment log number for deployments that have been performed by the deployment engine.  "Never deployed" is trying to say that the deployment engine has not been used to deploy the component version.

Any ideas on how to re-word this?  Maybe "Never deployed", "Manual Dep

[2021-04-27 16:46] sbtaylor15 commented on #293
What are the parameters you are using to start the image running?  It looks like the dm_engine table is not being updated with the correct hostname on startup of the container.

[2021-04-27 17:18] #273 closed, assigned to nobody

[2021-04-27 17:18] #289 closed, assigned to nobody

[2021-04-27 17:18] #292 closed, assigned to nobody

[2021-04-27 23:31] camba1 commented on #293
Interesting...
I had removed the hostname because 'docker_dhpro' is an invalid hostname in Kubernetes ( I am running Ortelius in Minikube).  Until 4 days ago, it was running fine without it.  But I guess it is now required.

Here is the error from K8s:

`The Deployment "ortelius" is invalid: spec.template.spec.hostname: Invalid value: "docker_dhpro": a lowercase RFC 1123 label must consist of lowe

[2021-04-27 23:38] camba1 commented on #295
I think it should be as consistent as possible with what would happen if the deployment engine had performed the task. So, if the deployment engine normally  puts a number there, a manual deployment should do the same thing if possible

[2021-04-28 01:49] obowersa opened #298 "Investigate options around tutorials"
We likely need a structured way to have tutorials through the docs part of the website. Base docsy is ok for this, but not always the easiest to read.

This could take the form of more interactive live examples using something like Katacoda (https://www.katacoda.com/), but I think a good starting point might be closer  to what Keptn uses ( based around the Google Code Lab Format: https://github.co

[2021-04-28 17:39] sbtaylor15 commented on #293
The hostname is used internally to distinguish multiple deployment engines on different subnets in an organization.  The startup of the container should set the value appropriately in the database.  So no interaction from the end user is required.

[2021-04-28 17:43] sbtaylor15 commented on #298
I agree that docsy may not be best for tutorials.  Hard to navigate.  Don't know much about Google Code Lab Format.  Tekton added tutorials in the last 6 months.  Need to see how they structured it.

[2021-04-28 17:45] sbtaylor15 commented on #295
The hard part is that a manual deployment doesn't have a deployment number.  So all we can do is use "Manual Deployment" in that column.  Do you think that will be clear enough?

[2021-04-28 18:02] camba1 commented on #295
'Manual deployment' is definitely  better than 'Never deployed' for sure.

[2021-04-29 14:53] tbulubas commented on #176
Maybe regex with perl could work. Like this https://stackoverflow.com/questions/37513584/perl-command-line-to-replace-text-block-across-multi-line-using-regex

[2021-04-30 04:24] bradmccoydev opened #299 "Setup Dev environment/access to k8s cluster for GitOps testing"
As a Developer in the GitOps working group
I require access to test Ortelius and GitOps tools such as ArgoCD
So I can collaborate with others, and finish the whitepaper on "Automating GitOps with Ortelius"

This environment should either already exist or we have access to spin up a k8's cluster for testing.

@bradmccoydev has his own deployment scripts for GCP, AKS, EKS, etc if required.

If an en

[2021-04-30 04:38] bradmccoydev opened #300 "Help writing/formatting Whitepaper for Automating GitOps with Ortelius"
As a Developer doing research into Automating GitOps with Ortelius
I need to write a whitepaper and don't have time in google docs to format it and manage it
I need someone to help with this, and they don't need to be technical.

I have already created the structure of the whitepaper, and need help linking the table of contents, etc to make it presentable to everyone.

@bradmccoydev is also happy

[2021-05-02 18:48] tbulubas commented on #176
Proposal of Apache 2 licence text:

[code]

[2021-05-02 19:00] tbulubas commented on #299
Hi @bradmccoydev
I am interested in GitOps, particularly ArgoCD & Co. (working on automation right now, k8s and openshift and other stuff) I would like to help you with this.
Regards, Taras

[2021-05-02 21:46] bradmccoydev commented on #299
Hi @tbulubas thats great news, which time zone are you in?

[2021-05-03 04:40] tbulubas commented on #299
Hi @bradmccoydev  I'm in Europe/Berlin Timezone, what about you?

[2021-05-03 18:15] tbulubas commented on #176
hi @sbtaylor15 is this what you had in mind? I added © but it is not a part of apache 2 proposal, not sure if you want to leave it away.

[2021-05-03 19:19] karamjotsingh opened #303 "Fixing broken link for Pull Request (PR) Cheat Sheet in documentation"
For this page [Developer Resources](https://docs.ortelius.io/guides/contributorguide/developer-resouces/) the link associated with the text **PR Cheat Sheet** is broken as pointing to an invalid resource. Needs to be fixed with this [link](https://docs.ortelius.io/guides/contributorguide/pull-request-cheat-sheet/).

[2021-05-03 22:38] bradmccoydev commented on #299
@tbulubas great, we can catch up sometime 12pm Berlin time suits me if you are available one day then. We need someone to learn Flux, or Flagger, as we have two people learning Argo at the moment. Do you have interest in either of those?

[2021-05-04 04:27] tbulubas commented on #299
hi @bradmccoydev 12pm Berin time is good, I am intersted in both frameworks, sounds perfect to me, flagger goes with flux together, let's talk later today

[2021-05-04 09:28] bradmccoydev commented on #300
here is a good link for content on what gitops is: https://gitops-community.github.io/kit/#what-is-gitops

[2021-05-05 12:23] scanalesespinoza commented on #258
@sbtaylor15 do you think we can close this one with the quickstart video? Prob we can open a new one with the implementation of the new microservices, to having a more specific use case

[2021-05-05 12:59] scanalesespinoza commented on #300
Hi @bradmccoydev I had a google presentation I use to customers, is related to RedHat but at the end ar community projects, share me and google email if you want to review it

[2021-05-06 01:49] bradmccoydev commented on #300
@scanalesespinoza thanks that would be great it's bradmccoydev@gmail.com

[2021-05-06 20:46] #290 closed, assigned to nobody

[2021-05-07 00:47] #293 closed, assigned to nobody

[2021-05-07 05:01] scanalesespinoza commented on #300
Shared! if you want we can coodinate a working session for this

[2021-05-07 21:06] obowersa opened #306 "Investigate tooling around integrating swagger/openapi specs for services within the service catalog"
Issue created off the back of the architecture meeting.

We want to look into integrating swagger/openapi specs with the service catalog.  At a high level, we want to look into how we can import openapi/swagger specs  + version information and integrate it with services in the service catalog to provide additional information about which API's a service provides.

Creating this initially as a plac

[2021-05-10 20:26] sbtaylor15 opened #307 "microservice: python function for database connection and retry."
Currently, the microservices connect to the db on startup.  If the database is not available the startup fails which causes "crashloopbackoff".   Also, if the db is taken down while the container is running then connection variable in the python code is no longer valid.

Need a function that will see if the microservice is connected to the db.  if not then retry otherwise use the existing connecti

[2021-05-10 20:28] sbtaylor15 commented on #307
@scanalesespinoza suggested [pybreaker](https://pypi.org/project/pybreaker/).

Goal is to have a very small simple way to handle the use case.

[2021-05-10 20:30] sbtaylor15 commented on #307
FYI, need to return failure back to the caller to avoid hang the client side.  It should then continue trying to correct itself.

[2021-05-11 11:08] scanalesespinoza commented on #307
Got it, and I was thinking the seman when I was helping Munnie with the connection error. Ok working on it

[2021-05-12 15:00] tbulubas commented on #307
What about this: 1. implement DB healthcheck (simple new connect/select/close sql) that microservice 'readiness' uses during start (will not be ready to serve request untill DB runs OK) 2. using it for liveness would cause microservice to restart, so connection pool will be refreshed. I suppose miscoservice runs under k8s in container.

[2021-05-12 16:38] sbtaylor15 commented on #307
@tbulubas something like that could work.  Need to pin down the logic since we would not necessarily want to connect to the db on startup but delay it for the first transaction.  For example, 100 microservices in the k8s and only 20 of them are used frequently.

if we connect on startup then we have 100 db connections.  If we connect on usage, then only 20.  We will have a cost hit for first trans

[2021-05-12 21:21] sbtaylor15 commented on #176
@tbulubas let me run it by the Linux Foundation.

[2021-05-12 21:30] sbtaylor15 commented on #176
@tbulubas we also need to add the SPDX tags at the source code level.  I think we can get away with the [SPDX Lite](https://spdx.github.io/spdx-spec/appendix-VIII-SPDX-Lite/#2-format-of-spdx-lite) which is the basic required tags.

[2021-05-12 21:35] sbtaylor15 commented on #176
This example is a bit easier to follow.  https://github.com/david-a-wheeler/spdx-tutorial

[2021-05-21 16:35] sbtaylor15 opened #310 "microservice: python flask bubblesort #3"
Need python flask program to return json string of the following array sorted using the bubble sort algorithm.

[ 10, 1, 200, -19, 21, 321, 0, 200 ]

Use ortelius/ortelius-ms-bs repo for your code.

[2021-05-27 17:07] sbtaylor15 commented on #215
Here are the ArgoCD notification methods - https://argoproj.github.io/argo-cd/operator-manual/notifications/

The [deployhub CLI ](https://github.com/ortelius/compupdate) is able to create components versions and application versions using the json output from `kubectl get deployment` and `kubectl get rollout`.

Hooking together GitOps Notifications Webhook with the deployhub python library we can

[2021-05-27 17:10] sbtaylor15 commented on #300
@bradmccoydev do you have a shared doc link for the white paper?

[2021-05-27 17:13] sbtaylor15 commented on #299
@tbulubas @bradmccoydev we received another 12 months of Azure credits.  The switch on the billing account will happen on 6/3.  I will work on AZ access control setup once the switch is done.

[2021-05-27 17:16] sbtaylor15 commented on #306
@jessegonzalez and @peRFectBeliever  please find a JS library that we can incorporate into Component Details page to render the swagger or openapi files.  We will store the files in database so they are versioned and match up with the Component Version.

[2021-05-27 17:18] sbtaylor15 commented on #303
@Javailabe can you please take a look at the broken link?

[2021-05-27 17:20] sbtaylor15 commented on #310
@atltvri have you been able to change your python program into a python flask app?

[2021-05-27 20:55] sbtaylor15 commented on #287
@munnyraht A few small changes:

1. On the insert you will be sent the compid and format_type (cyclonedx or saftey) as parameters and the json file as the payload.  You will need to switch the json parsing based on format_type.
2. On the update you will be sent the compid and format_type (cyclonedx or saftey) as parameters and the json file as the payload.  Look through the payload and update any

[2021-05-28 18:35] sbtaylor15 opened #312 "frontend: add README from git repo to be included in the component version"

[2021-05-31 15:19] sbtaylor15 opened #313 "database: add README table to store readme file from git repo"
Table definition for dm.dm_compreadme

compid int
lineno int
base64str varchar(80)

[2021-06-02 15:33] jessegonzalez commented on #306
Do we have a licensing requirement? Apache, MIT, others?

Regarding storing in the DB, thoughts on storing the OpenAPI document in a ConfigMap? We could standardize on the ConfigMap name, maybe something like `openapi-<component><-component version?>.`

Maybe we should talk about the end user workflow to add/update the document in the database.

[2021-06-02 15:47] sbtaylor15 commented on #306
For licensing, Apache or MIT.  One of the licenses that are unrestrictive.

1. Lets say the swagger json file is checked into the git repo with the source code then we could pull from the git repo and add it to the ortelius db as part of the CI/CD pipeline.
2. Or we use a pointer to the file and pull it at render time.

Option 1 enables us to be disconnected from the repo and render at anytime.

T

[2021-06-02 19:00] peRFectBeliever opened #316 "ClientId is only in mail. not present in profile"
deploy Hub client I which used for reverse proxying, now only sent through mail. Its better if we had that as in Profile section of deploy Hub

[2021-06-02 19:21] Javailabe commented on #303
@sbtaylor15 Thank you for this assignment. I pushed updated version - it should work now.

[2021-06-02 19:56] #303 closed, assigned to Javailabe

[2021-06-03 20:34] sbtaylor15 commented on #313
add table as the following so it can be used for readme and swagger file.  File needs to be base64 string split on char 76.

CREATE TABLE IF NOT EXISTS dm_textfile
(
 compid integer primary key,
 filetype varchar(20),
 lineno integer,
 base64str varchar(80)
);

[2021-06-03 20:51] #313 closed, assigned to nobody

[2021-06-10 22:49] bradmccoydev commented on #299
Hi all, this has been done.  @tbulubas I will speak to you tonight/ (lunch time berlin)

[2021-06-10 22:50] #299 closed, assigned to nobody

[2021-06-10 22:54] bradmccoydev opened #319 "Create Helm chart for ArgoCD for the AKS-Cluster"

[2021-06-10 22:58] bradmccoydev opened #320 "GitOps notification webhook"

[2021-06-10 23:01] bradmccoydev opened #321 "Create ArgoCD workflow for GitOps Repo"

[2021-06-10 23:11] scanalesespinoza commented on #319
Hi @bradmccoydev what information is needed to get acces to the cluster?

[2021-06-11 01:10] bradmccoydev commented on #319
Hey @scanalesespinoza, @sbtaylor15 will have to add you to the group.  We will be creating a namespace called gitops and will be deploying ArgoCD to it

[2021-06-11 09:59] bradmccoydev commented on #319
@tbulubas we will deploy this tomorrow

[2021-06-22 15:19] sbtaylor15 commented on #306
@jessegonzalez any luck finding a JS library we can use?

[2021-06-22 15:20] sbtaylor15 commented on #310
@atltvri were you able to change your program over to python flask?  I can't remember where we left off

[2021-06-22 15:21] sbtaylor15 commented on #307
@scanalesespinoza can you post the pybreaker code that you have working so far to a repo so I can grab it and take a look at it?

[2021-06-22 15:26] sbtaylor15 commented on #287
@munnyraht we need to grab the Package Name, Package Version, vulnerability id  and CVE Desc from the Safety json and map them to:

packagename varchar(1024),
packageversion varchar(256),
cve varchar(80),
**cve_description varchar(1024)  // New Column**

[2021-06-22 15:56] sbtaylor15 commented on #158
Re-ran the cloudbuild and now working as expected.

[2021-06-22 15:56] #158 closed, assigned to chicks-net

[2021-06-22 16:10] sbtaylor15 opened #326 "microservice: post swagger file to persist in db"
Need to associate the swagger file into the db for rendering later on in the UI.

Base64 encode the file and associate it to the component version.  dm.dm_textfile will be the table used to store the file.  base64 encoded files break on character 76 so multiple lines per file in the table.  filetype should be set to "swagger".  The dm_textfile will also be used for the readme file.

CREATE TABLE I

[2021-06-22 16:11] sbtaylor15 opened #327 "microservice: post readme and swagger file to db"
Need to associate the readme file into the db for rendering later on in the UI.

Base64 encode the file and associate it to the component version.  dm.dm_textfile will be the table used to store the file.  base64 encoded files break on character 76 so multiple lines per file in the table.  filetype should be set to "readme".  The dm_textfile will also be used for the swagger file.

CREATE TABLE IF

[2021-06-22 16:14] sbtaylor15 commented on #312
dependent upon #327

[2021-06-22 16:15] sbtaylor15 commented on #306
dependent upon #326

[2021-06-22 17:24] sbtaylor15 commented on #327
Microservice to use as a reference - https://github.com/ortelius/ortelius-ms-compitem-crud

[2021-06-22 22:51] scanalesespinoza commented on #307
Hi @sbtaylor15 , I was working based on this repo https://github.com/gjorgjinac/recommender_server
Similar what we have

[2021-06-23 02:43] scanalesespinoza commented on #307
Hi @sbtaylor15  here is a PR with the local tested circuit breaker https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/5
Need a peer review o tested from my fork in another environment just to double check.
Maybe @tbulubas can do the review

[2021-06-24 15:41] sbtaylor15 commented on #327
Json payload from client

[code]

[2021-06-24 15:44] sbtaylor15 commented on #326
combine with #327 and pass in the filetype of swagger

[2021-06-24 15:44] #326 closed, assigned to nobody

[2021-06-24 15:44] sbtaylor15 commented on #327
Handle "swagger" filetype as well

[2021-06-29 21:37] sbtaylor15 commented on #307
Looks good and simple.  Merged the PR.  Thanks for working on this.

[2021-06-29 21:37] #307 closed, assigned to scanalesespinoza, sbtaylor15

[2021-06-29 21:39] sbtaylor15 commented on #327
[ortelius-ms-textfile-crud](https://github.com/ortelius/ortelius-ms-textfile-crud) has the code.  Need to add in the Dockerfile and cloudbuild.yaml to the repo

[2021-06-30 17:58] sbtaylor15 commented on #286
@Avikam123 please add pybreaker to this flask application.  See [ortelius/ortelius-ms-dep-pkg-cud/main.py](https://github.com/ortelius/ortelius-ms-dep-pkg-cud/blob/main/main.py) Lines 7 and 21-26.  See https://github.com/gjorgjinac/recommender_server for additional sample code.

[2021-07-01 17:08] sbtaylor15 commented on #327
Resolves ortelius/ortelius-ms-textfile-crud#3

[2021-07-01 17:08] #327 closed, assigned to codeWithUtkarsh

[2021-07-01 17:18] sbtaylor15 opened #330 "Add POST of readme file to /msapi/textfile from dh python script"
[ortelius/compupdate](https://github.com/ortelius/compupdate) deployhub/dhapi.py needs to have a function added to post the readme file to the /msapi/textfile end point.    A simple test python script should be created to call the new function in dhapi.py.

**json payload**
[code]

**pseudo code for new function**

def post_readme(dhurl, cookies, compid, filename):
- open filename
- readfile to st

[2021-07-02 03:26] boucains opened #336 "documentation: Why Use Ortelius"
Under Agentless Delivery:

"Ubantu, Redhat, SuSe, Debina" should be "Ubuntu, Redhat, SuSe, Debian"

[2021-07-04 17:21] boucains opened #451 "Hipster Store Tutorial"
The first page link, "signed up to use Ortelius Saas" (https://www.deployhub.com/register-for-team/?) is broken.

[2021-07-06 16:55] sbtaylor15 commented on #330
Implemented in ortelius/compupdate#11 and ortelius/ortelius-ms-textfile-crud#4

[2021-07-06 16:55] #330 closed, assigned to codeWithUtkarsh

[2021-07-06 16:57] sbtaylor15 commented on #287
@neilcx please add pybreaker to this flask application. See ortelius/ortelius-ms-dep-pkg-cud/main.py Lines 7 and 21-26. See https://github.com/gjorgjinac/recommender_server for additional sample code.

[2021-07-12 12:07] piyush94 opened #332 "component type update issue"
We created new component types which have ids > 99. 100 and 101 respectively. When trying to assign these types to the endpoints from the UI it's not working. for 100 it's set to 0 and for 101 it's set to 1 in the table dm_servercomptype

After updating directly in the database it showed up correctly.

For components, it's working fine.

[2021-07-15 17:06] TracyRagan opened #333 "Documentation: The architecture image is for DeployHub for 'Processing'"
We need to replace the image for the processing flow image. https://docs.ortelius.io/guides/userguide/concepts/processing/

[2021-07-15 17:20] jayesh-srivastava commented on #333
Hi, can you please clarify with which image the existing image needs to be replaced?

[2021-07-15 17:28] TracyRagan commented on #333
On this page https://docs.ortelius.io/guides/userguide/concepts/processing/  It is the bottom one. The flow is wrong. We don't have a 'release' in Ortelius, and it says DeployHub.  The logic of the flow is not making sense either.  You can find the original, created in powerpoint here: https://docs.google.com/presentation/d/1uudTYvoM5XHtMg71sOUoychsAf39dJn4jLu1hep7jC0/edit#slide=id.p

[2021-07-16 06:11] jayesh-srivastava commented on #333
Okay I understood. Should a new image be created or we have to use any other image?

[2021-07-16 10:52] bradmccoydev commented on #319
This has now been complete

[2021-07-16 10:52] #319 closed, assigned to bradmccoydev

[2021-07-16 10:53] #321 closed, assigned to nobody

[2021-07-16 10:53] bradmccoydev commented on #321
This is now complete

[2021-07-16 15:05] sbtaylor15 opened #334 "Documentation: Replace link with new EasyCLA links"
On https://docs.ortelius.io/guides/contributorguide/things-to-know/things-to-know/#sign-the-cla need to reference LFX EasyCLA Tools link.

[2021-07-16 15:10] sbtaylor15 commented on #333
Need to update the image to state Ortelius instead of DeployHub and create a new .png that can be inserted into the doc.

[2021-07-21 19:14] jayesh-srivastava commented on #334
Hi. Is this the link by which the original links are to be replaced - https://easycla.lfx.linuxfoundation.org/#/
And what all links need to be replaced?

[2021-07-27 19:15] sbtaylor15 commented on #334
@jayesh-srivastava  yes, that is the correct link.

This section on the page needs to be updated to reference the new link and the new procedures to use the EasyCLA instead of emailing the PDF to us.

[code]

[2021-07-28 18:32] codeWithUtkarsh commented on #275
Closing this issue as the code for the same has been completed.

[2021-07-28 18:32] #275 closed, assigned to codeWithUtkarsh

[2021-08-01 16:39] jayesh-srivastava commented on #334
Hi @sbtaylor15 I have made the changes and made the PR, please do tell me if there's anything wrong with the changes made. I am not totally sure that the changes made are okay.

[2021-08-03 16:26] jayesh-srivastava commented on #336
Hi @boucains Can you please guide me through what is to be done? Your help will be much appreciated : )

[2021-08-03 17:43] sbtaylor15 commented on #336
Moving issue over to ortelius/ortelius repo to keep everything in one place.

[2021-08-05 16:44] sbtaylor15 opened #337 "testing: Test rendering of OpenAPI json file"
Add an openapi json file to the component version and verify that it renders correctly.

[2021-08-05 16:45] sbtaylor15 opened #338 "frontend: add license.md to component version"
Need to render license.md that has been associated to the component version.  New box is needed.

[2021-08-05 16:48] sbtaylor15 opened #339 "dh python: need to grab license.md and upload it as part of the updatecomp action"
Currently, uploading readme.md.  Need to add uploading license.md as well.  Code changes need to be made for the python code in https://github.com/ortelius/compupdate repo

[2021-08-05 16:57] sbtaylor15 commented on #334
Closed ortelius/ortelius-docs#54

[2021-08-18 16:43] sbtaylor15 opened #342 "add Validate User to flask microservices"
1. Pull the validate user url from the env vars
2. Call the /msapi/validateuser endpoint to validate the userid.

**_Note:  JWT token contains the userid to be validated.  This token is stored in the cookies from the /api/login end point.  Login needs to be called prior to calling this endpoint_**

[code]

[2021-08-18 16:46] sbtaylor15 commented on #342
Need to make sure main.py in the following repos are using the ValidateUser code.

- ortelius-ms-compitem-crud
- ortelius-ms-dep-pkg-r
- ortelius-ms-dep-pkg-cud
- ortelius-ms-textfile-crud

[2021-08-18 16:49] sbtaylor15 opened #343 "add pyBreaker to flask microservices"
1. add the pyBreaker to the class in order to have automatic retry on connection failures

[code]

[2021-08-18 16:50] sbtaylor15 commented on #343
Need to make sure main.py in the following repos are using the ValidateUser code.

- ortelius-ms-compitem-crud
- ortelius-ms-dep-pkg-r
- ortelius-ms-dep-pkg-cud
- ortelius-ms-textfile-crud
- ortelius-ms-validate-user

[2021-08-19 23:05] bradmccoydev opened #344 "GitOps: Add ArgoCD to AKS Cluster"
Talk to Sergio about blowing away the existing Argo namespace and resources.  Planning to install from automated scripts.

[2021-08-19 23:30] bradmccoydev opened #346 "GitOps: Implement Argo Http sensor"
Implement the Argo Http sensor so that we can receive a payload post-deployment.

This is to be done in Golang or Python.

https://argoproj.github.io/argo-events/sensors/triggers/http-trigger/

Must have a helm chart, and be deployed into the Ortelius AKS cluster.

[2021-08-24 02:47] bradmccoydev commented on #344
Azure front door as been implemented into Resource Group: ortelius-frontdoor-prod.  This will be used to connect to this DevOps AKS cluster

[2021-08-24 02:48] bradmccoydev commented on #344
@scanalesespinoza for your reference

[2021-08-24 19:41] karamjotsingh opened #347 "Create swagger doc and API for rendering it for flask microservices"
Code Repos :
[ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud)
[ortelius-ms-compitem-crud](https://github.com/ortelius/ortelius-ms-compitem-crud)
[ortelius-ms-textfile-crud](https://github.com/ortelius/ortelius-ms-textfile-crud)
[ortelius-ms-validate-user](https://github.com/ortelius/ortelius-ms-validate-user)
[ortelius-ms-dep-pkg-r](https://github.com/ortelius/orteliu

[2021-08-24 19:59] karamjotsingh opened #348 "Implement db connection pool for flask microservices"
Code Repos :
[ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud)
[ortelius-ms-compitem-crud](https://github.com/ortelius/ortelius-ms-compitem-crud)
[ortelius-ms-textfile-crud](https://github.com/ortelius/ortelius-ms-textfile-crud)
[ortelius-ms-validate-user](https://github.com/ortelius/ortelius-ms-validate-user)
[ortelius-ms-dep-pkg-r](https://github.com/ortelius/orteliu

[2021-08-24 20:01] karamjotsingh opened #349 "Implement health check API for flask microservices"
Code Repos :
[ms-dep-pkg-cud](https://github.com/ortelius/ms-dep-pkg-cud)
[ms-compitem-crud](https://github.com/ortelius/ms-compitem-crud)
[ms-textfile-crud](https://github.com/ortelius/ms-textfile-crud)
[ms-validate-user](https://github.com/ortelius/ms-validate-user)
[ms-dep-pkg-r](https://github.com/ortelius/ms-dep-pkg-r)
[ms-scorecard](https://github.com/ortelius/ms-scorecard)

Implement API to

[2021-08-24 20:04] karamjotsingh opened #350 "Implement request validation for APIs in flask microservices"
Code Repos :
[ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud)
[ortelius-ms-compitem-crud](https://github.com/ortelius/ortelius-ms-compitem-crud)
[ortelius-ms-textfile-crud](https://github.com/ortelius/ortelius-ms-textfile-crud)
[ortelius-ms-validate-user](https://github.com/ortelius/ortelius-ms-validate-user)
[ortelius-ms-dep-pkg-r](https://github.com/ortelius/orteliu

[2021-08-24 22:16] sbtaylor15 commented on #350
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-24 22:16] sbtaylor15 commented on #349
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-24 22:16] sbtaylor15 commented on #348
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-24 22:17] sbtaylor15 commented on #347
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-24 22:17] sbtaylor15 commented on #343
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/7
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-24 22:18] sbtaylor15 commented on #342
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/7
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/8

[2021-08-30 14:20] sbtaylor15 opened #351 "Hacktoberfest Landing Page"
Need to make an Ortelius specific page that help navigate how to participate.

[2021-08-30 20:34] #334 closed, assigned to nobody

[2021-08-30 20:42] TracyRagan commented on #296
We should update the documentation to clarify.

[2021-08-30 20:51] #197 closed, assigned to nobody

[2021-08-30 20:51] TracyRagan commented on #197
https://ortelius.io/blog/2021/03/31/getting-started-with-saas-version-of-ortelius/

[2021-08-30 20:52] #194 closed, assigned to nobody

[2021-08-30 20:52] #193 closed, assigned to nobody

[2021-08-30 20:53] TracyRagan commented on #178
https://docs.ortelius.io/guides/contributorguide/

[2021-08-30 20:53] #178 closed, assigned to nobody

[2021-08-30 20:53] TracyRagan commented on #177
https://ortelius.io/guidelines/

[2021-08-30 20:53] #177 closed, assigned to nobody

[2021-08-30 20:57] #99 closed, assigned to nobody

[2021-08-30 20:57] #87 closed, assigned to nobody

[2021-08-30 21:45] #351 closed, assigned to TracyRagan

[2021-08-31 06:02] jayesh-srivastava commented on #296
Hi. I would like to work on this issue if it's available. Can anyone please guide me a little bit as to what is to be done?

[2021-09-03 17:20] sbtaylor15 opened #353 "Create Operator to install Ortelius into K8s"
Need an Ortelius Operator and publish it to [OperatorHub.io](https://operatorhub.io/)

[2021-09-08 05:13] #343 closed, assigned to codeWithUtkarsh

[2021-09-08 05:14] #342 closed, assigned to codeWithUtkarsh

[2021-09-10 17:29] TracyRagan opened #354 "Documentation - Need to document the new Install process for Ortelius version 10 (Service Catalog)"
Ortelius is now using microservices which change the install process. The new architecture and install process needs to be updated. This needs to be included in the install documentation, and a blog written.

[2021-09-10 17:32] TracyRagan opened #355 "Documentation: Need to document the new data elements at the Component level for Ortelius 10.0"
The new 'service' catalog information is held at the Component level. This includes Swagger connections, CVEs and Licensing. This new data needs to be documented along with any instructions on how to make the connections work.

[2021-09-10 17:34] TracyRagan opened #356 "Testing: The Swagger integration in Ortelius 10 (Service Catalog)"
Testing needs to be completed on the Swagger integration.

[2021-09-10 17:35] TracyRagan opened #357 "Testing: Testing needs to be completed on the CVE integration at the Component level in Ortelius 10.0"
The new service catalog information, stored at the Component level includes CVE integration. This needs to be tested.

[2021-09-10 17:37] TracyRagan opened #358 "Testing: The Licensing integration needs to be tested on Components in Ortelius 10.0"
The new service catalog data includes Licensing tracking. This integration needs to be tested.

[2021-09-13 00:59] bradmccoydev opened #359 "Create DNS record for ortelius DevOps Cluster"
The Ortelius DevOps cluster is used by the GitOps working group to use ArgoCD etc and requires a custom DNS record.

Steps:
1. @sbtaylor15 decide on name eg devops.ortelius.com whatever the CDF have as a domain.
2. Give to @bradmccoydev and he makes txt record validation record
3. @bradmccoydev gives record to @sbtaylor15 then we send to CDF with CNAME of the domain pointing to ortelius.z01.azuref

[2021-09-13 14:44] codeWithUtkarsh opened #360 "event based support in ortelius using Keptn"
Need to develop a solution to trigger a CloudEvent whenever a new component is available, deploy it and test its health.

[2021-09-14 05:55] ayesha-kr commented on #346
@bradmccoydev @sbtaylor15 Can i take this up?
If yes then would be great to get some background

[2021-09-14 05:59] bradmccoydev commented on #346
Hi @ayesha-kr sure, have you worked with Argo before?

[2021-09-14 06:02] bradmccoydev commented on #344
all done: https://ortelius.z01.azurefd.net/login?return_url=https%3A%2F%2Fortelius.z01.azurefd.net%2Fapplications

[2021-09-14 06:07] bradmccoydev opened #361 "Create GitHub Token for argo to access ortelius repos"
Create GitHub Token for argo cd to access Ortelius repos

[2021-09-14 10:38] ayesha-kr commented on #346
Hi @bradmccoydev worked on kubernetes and app development.  Had lead a project that use Argo.
So not hands on argo myself,  but know the concept.
Shouldnt be a problem.
Anything specific that i need to swiftly readup on?

[2021-09-14 18:05] sbtaylor15 commented on #361
@bradmccoydev looks like you are an admin at the ortelius org level.  Try creating a token and see what you run into

[2021-09-14 18:08] bradmccoydev commented on #361
Hey @sbtaylor15 yes I can this ticket is just for auditing and heads up to get approval from you. I will proceed today and document

[2021-09-14 18:09] sbtaylor15 commented on #359
Here is the page to ask for DNS changes.  Just use CDF for the project name and ortelius.io for the domain name.

https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2

[2021-09-16 14:48] sbtaylor15 opened #362 "documentation: need dev documentation preview site"

[2021-09-17 03:37] #344 closed, assigned to bradmccoydev

[2021-09-17 08:31] bradmccoydev commented on #346
hey @ayesha-kr lets catchup? https://calendly.com/bradmccoydev/15min

[2021-09-17 09:20] bradmccoydev commented on #359
keptn.ortelius.io ticket created: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-22914

[2021-09-17 09:25] bradmccoydev commented on #359
argocd.ortelius.io created https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-22915

[2021-09-17 09:31] bradmccoydev opened #363 "Create Shipyard.yaml file for Ortelius (keptn)"
Create Shipyard.yaml file for Ortelius for keptn

[2021-09-17 09:36] bradmccoydev opened #364 "Add Keptn to Ortelius ArgoCD Application set"
This has been added in the ortelius-kubernetes repo but waiting for @bradmccoydev to finish pull request for issue:  https://github.com/keptn/keptn/issues/5066

[2021-09-18 10:47] bradmccoydev commented on #364
PR here: https://github.com/keptn/keptn/pull/5293

[2021-09-19 10:26] bradmccoydev commented on #359
This is now complete and confirmed.

[2021-09-19 10:26] #359 closed, assigned to sbtaylor15, bradmccoydev

[2021-09-27 20:10] sbtaylor15 opened #367 "Idle connection closed by server in python microservices"
Need to recover from a closed connection.

[code]

[2021-09-27 20:13] sbtaylor15 commented on #367
I think we need to tell sqlalchemy to cleanup and retry when we get an psycopg2.OperationalError.  Perhaps adding, pool_pre_ping=True to the engine creation may help.

[2021-09-27 20:14] TracyRagan opened #368 "Domain Tasks Detail box"
When there are no Tasks selected, the Task Detail Box should not be visible.

[2021-09-27 20:16] TracyRagan opened #369 "I can create a Sub-domain under Global, but I can't see it accept in list"
List is showing domains I don't have access to.

[2021-09-27 20:27] TracyRagan opened #370 "Change full domain name"
The Full Domain on the Domain detail should be re labeled "Parent Domain" and the Name field should be Domain Name.
Need to filter the Domain you in from the parent domain.

[2021-09-28 08:48] bradmccoydev commented on #364
pull request done to add ingress, now waiting for next release

[2021-09-28 08:48] #364 closed, assigned to bradmccoydev

[2021-09-30 19:11] karamjotsingh commented on #367
https://docs.sqlalchemy.org/en/14/core/pooling.html#dealing-with-disconnects

sqlalchemy handles disconnects well on its own and will handle the invalidation of existing connections and re-establishing new connections.

pool_pre_ping can be used as an extra step before executing our queries, similar to 'SELECT 1', making sure that the connection is good.

The application can decide whether to retr

[2021-09-30 20:40] sbtaylor15 opened #373 "installing: create shell script to pull helm charts and install into k8s"
Need a shell script that can pull the helm charts from the poly repos and then perform a helm upgrade to k8s.  We should be able to run this `curl -sSL https://ortelius.io/install | sh`  where install is the full shell script.

[2021-09-30 23:19] sbtaylor15 opened #375 "Create POC doc for GitOps"
Diagram out GitHub -> Keptn -> Ortelius -> ArgoCD flow

[2021-09-30 23:20] #361 closed, assigned to sbtaylor15, bradmccoydev

[2021-09-30 23:25] bradmccoydev opened #376 "Install Itsio into DevOps cluster"
Install Istio into the DevOps cluster, this is required for Keptn for blue-green deployments, etc.

[2021-10-04 15:25] karamjotsingh opened #377 "uploading helm charts for applications to artifacthub.io"
Need to upload helm charts for Ortelius repo and each of the microservices repo onto https://artifacthub.io/.

[2021-10-04 16:35] sbtaylor15 commented on #240
Looks good now!

![image](https://user-images.githubusercontent.com/14826572/135889723-d4f3304e-e533-47b8-a0bc-e00b60d6e014.png)

[2021-10-04 18:55] sachajw commented on #375
@sbtaylor15 I will take on this one.

[2021-10-05 17:10] sbtaylor15 opened #378 "gitops: add values files to for charts with valid values"
Need to take the overrides file from the DeployHub deployments for the monolith + microservices and add to the git appropriate git repos.

Also need to automate this out of the Google Cloudbuild steps as a git commit.  Need to keep Cloudbuild from re-triggering another build (infinite loop of builds)

[2021-10-05 17:14] sbtaylor15 commented on #378
See **Ignore Files** in [Create Manage Triggers](https://cloud.google.com/build/docs/automating-builds/create-manage-triggers)

[2021-10-05 17:47] #333 closed, assigned to karamjotsingh

[2021-10-05 17:59] #240 closed, assigned to knatch

[2021-10-05 20:06] #310 closed

[2021-10-05 20:22] sbtaylor15 commented on #378
@bradmccoydev - added values files with valid tags for the following repos:

_deploy branch_
[ortelius-ms-textfile-crud](https://github.com/ortelius/ortelius-ms-textfile-crud/tree/deploy)
[ortelius-ms-dep-pkg-r](https://github.com/ortelius/ortelius-ms-dep-pkg-r/tree/deploy)
[ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud/tree/deploy)
[ortelius-ms-compitem-crud](https:

[2021-10-05 20:22] sbtaylor15 commented on #378
Cloudbuild triggers have been updated to ignore values.yaml updates for charts

[2021-10-05 20:26] sbtaylor15 opened #380 "documentation: describe the Readme box on the component version details"
- describe what should be in this section
- describe how that data is loaded into the component version

[2021-10-05 20:27] sbtaylor15 opened #381 "documentation: describe Swagger box on the component version"
- describe what should be in this section
- describe how that data is loaded into the component version

[2021-10-05 20:28] sbtaylor15 opened #382 "documentation: describe CVE Issues box on the component version"
- describe what should be in this section
- describe how that data is loaded into the component version
- describe how to get more details about the CVE

[2021-10-05 20:29] sbtaylor15 opened #383 "documentation: describe the License Consumption box on the component version details"
- describe what should be in this section
- describe how that data is loaded into the component version
- describe how to get more details about the license

[2021-10-05 20:30] sbtaylor15 opened #384 "documentation: describe the License box on the component version details"
- describe what should be in this section
- describe how that data is loaded into the component version

[2021-10-05 20:37] sbtaylor15 commented on #250
See #50

[2021-10-05 20:39] sbtaylor15 commented on #50
See #373

[2021-10-05 20:39] sbtaylor15 commented on #373
Should pull helm charts from artifacthub.io.  The charts should include a main chart that includes the sub charts.
See #377

[2021-10-05 20:43] sbtaylor15 opened #385 "compupdate: upload cyclonedx.json and safety.json files to the backend using dh python script"
Add command line parameters to get the file name and file type then post the backend microservice to persists against the component version.

[2021-10-05 21:16] sbtaylor15 commented on #385
dh updatecomp has update already.  Adding parameters to the dh call in LoadCompFiles(HttpServletRequest request, String compname) on the back to load the cyclonedx and safety json as part of a new signup

[2021-10-07 18:26] #385 closed, assigned to sbtaylor15

[2021-10-07 18:46] #378 closed, assigned to nobody

[2021-10-07 18:49] sbtaylor15 commented on #362
Changing up the helm charts to have version tag based on branch.  This will allow us to run multiple versions of the same component at the same time.  Istio will need to have a Virtual Server added to route to dev site.

[2021-10-10 11:37] karamjotsingh commented on #176
https://github.com/google/addlicense

Provides support for adding licenses to various coding languages.

[2021-10-11 02:23] bradmccoydev opened #387 "Add Azure SSO for argocd.ortelius.io"
This is to use our azure app and point to the cluster admins group in the azure ad

[2021-10-11 05:20] bradmccoydev commented on #387
This has now be implemented it points to our azure devops app and url redirect setup.  Anyone in the AKS cluster admins group can now use single sign in

[2021-10-11 05:21] #387 closed, assigned to Checksumz, bradmccoydev

[2021-10-12 00:01] bradmccoydev opened #388 "Assign permission to devops aks cluster to postgres disk"
The deployment for the Ortelius console app into the cluster with ArgoCD has a deployment that references a subscription that I dont have access to.

It is referenced here: https://github.com/ortelius/ortelius/blob/main/chart/ortelius-console/values.yaml

Managed Identity: https://portal.azure.com/#@stevedeployhub.onmicrosoft.com/resource/subscriptions/57b482cf-3355-4f0c-8adb-6d6bbb1b2cf7/resource

[2021-10-12 13:50] Arvind644 commented on #300
@bradmccoydev I want to work on this issue

[2021-10-12 13:55] Arvind644 commented on #336
@sbtaylor15 I want to work on this issue

[2021-10-12 17:25] sbtaylor15 commented on #373
Steps to install from artifacthub.io (something like this):

1.  helm repo add --force-update ortelius https://ortelius.io
2. helm update
2. helm upgrade --install ortelius-release ortelius

Need parent and child charts.

[2021-10-12 22:11] sbtaylor15 commented on #377
@Ujwal90210 and @karamjotsingh - touch base with each other on this so we don't duplicate work.

[2021-10-12 22:21] sbtaylor15 commented on #377
@bradmccoydev, @Checksumz, @Ujwal90210, @karamjotsingh
@guna-interaslabs
### Charts locations:

- [ortelius](https://github.com/ortelius/ortelius/tree/svc_cat) **svc_cat** branch
  - chart/ms-general
  - chart/ms-ui
  - chart/ms-nginx
- [ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud/tree/deploy) **deploy** branch
   - chart/ms-dep-pkg-cud
- [ortelius-ms-dep-pkg-r](ht

[2021-10-12 22:24] sbtaylor15 commented on #377
Need a driver helm chart that includes the child ones so a single helm upgrade command can be run to install everything into k8s

[2021-10-12 22:25] bradmccoydev commented on #377
This will be great to have them on Artifact hub!

[2021-10-12 22:42] sbtaylor15 commented on #373
Looks like we need to host our charts from our hugo server https://ortelius.io or GitHub Pages.  See https://helm.sh/docs/topics/chart_repository/

[2021-10-12 22:44] sbtaylor15 commented on #377
Looks like we need to host our charts from our hugo server https://ortelius.io or GitHub Pages. See https://helm.sh/docs/topics/chart_repository/.

Then you link our repo over to artifacthub.io

[2021-10-12 23:26] sbtaylor15 commented on #336
@Arvind644  Fork the [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) repo, install hugo and the markdown plugins for VS Code and you should be set to start making changes.  See [setup-for-documenation-updates](https://docs.ortelius.io/guides/contributorguide/how-to/#setup-for-documenation-updates)

[2021-10-12 23:36] sbtaylor15 commented on #388
@bradmccoydev skip that chart.  Use the following charts to install.  These use the managed postgres db instead of a volume mount.

### Charts locations:

- [ortelius](https://github.com/ortelius/ortelius/tree/svc_cat) **svc_cat** branch
  - chart/ms-general
  - chart/ms-ui
  - chart/ms-nginx
- [ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud/tree/deploy) **deploy** br

[2021-10-13 05:22] nishantminerva commented on #354
Hello @TracyRagan I am new here, Can you help me? - just tell me what I have to do.

[2021-10-13 10:28] nishantminerva commented on #198
@Neetuj Mam I would like to make the video  but I need some help cause I am new and don't know much about cloud computing.

[2021-10-14 06:29] Arvind644 commented on #336
@sbtaylor15 I have setup hugo and markdown for contributing to docs

[2021-10-14 06:37] Arvind644 commented on #336
somebody already correct the issues discuss above before. I think now we can close this issue

[2021-10-14 08:40] sachajw commented on #388
@sbtaylor15 & @bradmccoydev do you mean adapt the above examples for the console chart in order to not use a volume mount and use the dedicated Postgres instance running in Azure?

[2021-10-14 14:42] #336 closed, assigned to Arvind644

[2021-10-14 14:44] sbtaylor15 commented on #388
@sachajw and @bradmccoydev the console chart is the monolith image.  That is being replaced by the other charts.  So no need to deploy the console one.

[2021-10-14 21:41] bradmccoydev commented on #376
@codeWithUtkarsh I have installed this on the DevOps Cluster

[2021-10-14 21:41] #376 closed, assigned to Checksumz, bradmccoydev

[2021-10-14 22:30] bradmccoydev opened #392 "Add missing values to ortelius/chart/ms-nginx/templates/deployment.yaml"
Add missing values to ortelius/chart/ms-nginx/templates/deployment.yaml
Image pull policy is missing in this wierd looking values.yaml file.

Steps:
1. get latest changes to your ortelius repo
2. look at the ortelius/chart/ms-nginx/templates and match with the values file to see if anything is missing
3. Study basic Helm if you need to
4. image pull policy can be IfNotPresent for now

hint:

image

[2021-10-15 00:01] bradmccoydev commented on #392
@ayesha-kr this could be a good one for you

[2021-10-15 03:10] #388 closed, assigned to sbtaylor15, bradmccoydev

[2021-10-15 05:37] Arvind644 commented on #392
It may be ortelius/chart/ms-ui/templates/deployment.yaml as after chart only ms-ui and ortelius-console is showing

[2021-10-15 05:51] bradmccoydev commented on #392
Forgot to mention deploy branch

[2021-10-15 05:57] Arvind644 commented on #392
It didn't have any deploy branch

[2021-10-15 05:58] bradmccoydev commented on #392
Sorry I mean cat_sec or svc_cat

[2021-10-15 06:00] Arvind644 commented on #392
Got it. Thank you for helping me

[2021-10-15 06:21] codeWithUtkarsh commented on #363
Updated Shipyard.yaml file and a sample slo.yaml file that I used for POC.

Files are present here in the repository: https://github.com/ortelius/ortelius-kubernetes/tree/main/resources/after/production/keptn

[2021-10-17 06:14] codeWithUtkarsh commented on #367
implement connection retry in case of failure for these repos, hence closing this issue.
ortelius/ortelius-ms-compitem-crud,
ortelius/ortelius-ms-textfile-crud,
ortelius/ortelius-ms-dep-pkg-cud ,
ortelius/ortelius-ms-dep-pkg-r ,
ortelius/ortelius-ms-validate-user.

[2021-10-17 06:14] #367 closed, assigned to codeWithUtkarsh

[2021-10-17 19:38] sachajw commented on #375
First draft done. Please go to this link to have a look. https://filedn.eu/lJEPcSQWQQPRsWJKijxnXCQ/ortelius/ortelius-cloudnative-architecture-poc.drawio.html

[2021-10-18 04:15] #392 closed, assigned to bradmccoydev, benhpoh

[2021-10-18 04:17] #363 closed, assigned to Checksumz, bradmccoydev, codeWithUtkarsh

[2021-10-18 04:22] bradmccoydev commented on #377
Hi is there any insight on when this ticket will be done, it relates to my work

[2021-10-18 14:04] sachajw commented on #375
Met with @codeWithUtkarsh and did the following:

- fixed incorrect component flow
- created a QnA page for use to have a meeting with @bradmccoydev & @sbtaylor15 so that we can further refine the process and close out the gaps

[2021-10-18 15:04] sbtaylor15 commented on #375
@sachajw where is the QnA page?  Need to make a few comments.

[2021-10-18 16:28] sachajw commented on #375
Sent you an invite

![image](https://user-images.githubusercontent.com/32266273/137771720-540fb6ba-0f7c-4171-b884-9af50649c5d2.png)

[2021-10-18 22:14] bradmccoydev commented on #377
@benhpoh

[2021-10-18 22:15] bradmccoydev commented on #373
@benhpoh

[2021-10-19 23:45] bradmccoydev opened #396 "Merge svc_cat helm chart into main for source of truth"
Repo: ortelius/ortelius repo

Merge svc_cat helm chart into main for the source of truth as we will be producing release artifacts to host charts on Artifact Hub.

This will have to be done for the other Repos we want to host on the artifact hub.

[2021-10-20 14:53] sbtaylor15 commented on #396
We need to keep the svc_cat branch around so we can support the current version which is on main and the new version that is on svc_cat.

[2021-10-20 23:05] #396 closed, assigned to sbtaylor15

[2021-10-21 00:34] benhpoh commented on #377
Using helm-chart-releaser (https://github.com/helm/chart-releaser-action), we can automate the `helm package` and `helm repo index` steps.

This creates new releases (in the Ortelius Github repo) whenever any changes are made to the charts, and the index.yaml is updated.

Once Artifact Hub is linked to the Ortelius GitHub page, it will automatically get the latest versions of any charts

[2021-10-21 18:09] sbtaylor15 opened #399 "GitHub Action for Trivy timing out on ortelius/ortelius repo"
https://github.com/ortelius/ortelius/actions/runs/1358017539

Need to add the `timeout` parameter and set to 10m.

[2021-10-21 18:11] sbtaylor15 commented on #399
Update needs to be made in https://github.com/ortelius/ortelius/blob/svc_cat/.github/workflows/trivy-analysis.yml

[2021-10-21 18:23] sbtaylor15 opened #400 "Remove ortelius-console charts from GitHub Action for Release Charts"
https://github.com/ortelius/ortelius/blob/svc_cat/.github/workflows/helm-chart-releaser.yml is uploading too many charts.  Either delete the ortelius-console chart from the svc_cat branch or exclude it in the helm-chart-releaser.yml

[2021-10-21 18:33] sbtaylor15 opened #401 "Add chart-releaser-action GitHub Action to microservice repos"
https://github.com/ortelius/ortelius/blob/svc_cat/.github/workflows/helm-chart-releaser.yml needs to be added to the following repos with the additional parameter **charts_repo_url** set to **https://ortelius.github.io/ortelius**:

- [ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud/tree/deploy) **deploy** branch
   - chart/ms-dep-pkg-cud
- [ortelius-ms-dep-pkg-r](https

[2021-10-21 18:39] sbtaylor15 opened #402 "Cloudbuild: add application version to microservices"
Need to add COMPONENT_APPLICATION_VERSION:

args: ['-c', 'env | sed "s/^/export /" >> /workspace/cloudbuild-general.sh']
volumes:
\- name: 'ssh'
  path: /root/.ssh
env:
  \- 'COMPONENT_APPLICATION=GLOBAL.ortelius.saas.ortelius-devops'
  **\- 'COMPONENT_APPLICATION_VERSION=10.0.0'**

and add the parameter to dh cli:

/workspace/cloudbuild-general.sh;dh updatecomp --dhurl https://console.deployhub.c

[2021-10-22 13:44] Arvind644 commented on #402
In which file we have to make these changes

[2021-10-22 14:49] sbtaylor15 commented on #402
The file is in /cloudbuild/cloudbuild.yaml for each of the microservices.  See #401 for the list of those repos and branches.  Make sure to do the PR against the deploy branch and not main.

[2021-10-22 17:15] Arvind644 commented on #402
svc_cat is the deploy branch, right ?

[2021-10-22 17:42] sbtaylor15 commented on #402
Correct

[2021-10-25 14:27] Arvind644 commented on #382
please assign me this task

[2021-10-25 20:07] sbtaylor15 opened #403 "ms-nginx config - server_name needs to change from dev.ortelius.io to _"
[nginx.conf](https://github.com/ortelius/ortelius/blob/svc_cat/dmadminweb/microservice/nginx.conf) needs server_name changed to _ on line 117 and 125

[2021-10-27 01:36] xguhx commented on #403
This issue still open?
Can I work on it?
Thank you so much.

[2021-10-27 02:02] Ujwal90210 commented on #403
Working on it, in an hour or so

[2021-10-27 19:15] #403 closed, assigned to hdhruna

[2021-10-28 19:17] #399 closed, assigned to nobody

[2021-10-28 20:14] sbtaylor15 opened #409 "CVE: python-cryptography"
Python (python-pkg)
===================
Total: 1 (CRITICAL: 1)

+--------------+------------------+----------+-------------------+---------------+---------------------------------------+
|   LIBRARY    | VULNERABILITY ID | SEVERITY | INSTALLED VERSION | FIXED VERSION |                 TITLE                 |
+--------------+------------------+----------+-------------------+---------------+--------

[2021-10-28 20:14] sbtaylor15 commented on #409
ortelius base image adds python-cryptography.  Need to rebuild base with 3.3.2

[2021-10-28 20:16] TracyRagan opened #410 "Category"
We need to remove the Category from components and in the Component selector from the Application view.

[2021-10-28 22:07] #380 closed, assigned to TracyRagan

[2021-10-28 23:41] #381 closed, assigned to codeWithUtkarsh

[2021-10-29 14:14] #382 closed, assigned to nobody

[2021-10-29 14:15] TracyRagan commented on #382
closes ortelius/ortelius#383 as well

[2021-10-29 14:15] #383 closed, assigned to nobody

[2021-10-29 14:20] #384 closed, assigned to nobody

[2021-10-29 16:47] sbtaylor15 commented on #237
Added CVE box for component in svc_cat branch

[2021-10-29 16:47] #237 closed, assigned to nobody

[2021-10-29 16:48] sbtaylor15 commented on #350
Added for component in svc_cat branch

[2021-10-29 16:48] #350 closed, assigned to nobody

[2021-10-29 16:49] sbtaylor15 commented on #348
Added into component microsevices in svc_cat branch

[2021-10-29 16:49] #348 closed, assigned to nobody

[2021-10-29 16:50] sbtaylor15 commented on #347
Added into component microsevices in svc_cat branch

[2021-10-29 16:50] #347 closed, assigned to karamjotsingh

[2021-10-29 16:50] sbtaylor15 commented on #338
Added into component microsevices and frontend in svc_cat branch

[2021-10-29 16:50] #338 closed, assigned to nobody

[2021-10-29 16:51] sbtaylor15 commented on #287
Added into component microsevices in svc_cat branch

[2021-10-29 16:51] #287 closed, assigned to munnyraht

[2021-10-29 16:51] sbtaylor15 commented on #286
Added into component microsevices in svc_cat branch

[2021-10-29 16:51] #286 closed, assigned to BBimie

[2021-10-29 16:52] sbtaylor15 commented on #312
Added into component microsevices in svc_cat branch

[2021-10-29 16:52] #312 closed, assigned to sbtaylor15

[2021-10-29 16:53] sbtaylor15 commented on #233
Added into component microsevices in svc_cat branch

[2021-10-29 16:53] #233 closed, assigned to sbtaylor15

[2021-11-04 05:12] bradmccoydev opened #412 "Update Keptn Version to 0.10.0"
Update Keptn Version to 0.10.0 so that this will include the new ingress parameter that I added.

@bradmccoydev will update and then @codeWithUtkarsh will approve this PR

Acceptance Criteria:
Update Helm chart version in ortelius-kubernetes repo
Check with @codeWithUtkarsh that this won't override his shipyard file

[2021-11-11 04:05] benhpoh commented on #401
PR for:
ortelius-ms-dep-pkg-cud deploy branch - https://github.com/ortelius/ortelius-ms-dep-pkg-cud/pull/15
ortelius-ms-dep-pkg-r deploy branch - https://github.com/ortelius/ortelius-ms-dep-pkg-r/pull/9

[2021-11-11 04:34] benhpoh commented on #401
PR for:
ortelius-ms-textfile-crud - [ortelius/ortelius-ms-dep-pkg-cud#15](https://github.com/ortelius/ortelius-ms-textfile-crud/pull/10)
ortelius-ms-compitem-crud - [ortelius/ortelius-ms-dep-pkg-r#9](https://github.com/ortelius/ortelius-ms-compitem-crud/pull/11)

[2021-11-11 04:59] benhpoh commented on #401
ortelius-ms-validate-user completed

[2021-11-11 05:00] #412 closed, assigned to bradmccoydev, codeWithUtkarsh

[2021-11-11 05:04] benhpoh opened #418 "Create repo for helm charts"
We currently have charts spread across a number of repos:
- ortelius
- ortelius-ms-dep-pkg-cud
- ortelius-ms-dep-pkg-r
- ortelius-ms-textfile-crud
- ortelius-ms-compitem-crud
- ortelius-ms-validate-user

This should be consolidated into a single index.yaml to be uploaded onto ArtifactHub.

[2021-11-11 05:10] benhpoh commented on #418
Charts are to be hosted in the following repo: https://github.com/ortelius/ortelius-charts

[2021-11-11 22:27] sbtaylor15 opened #419 "Python/shell scripts wont run with new license/copyright in place"
Need to move the `#!/usr/bin/python3`  and `#!/bin/sh` to be the first line in the file ahead of the License/Copyright.  Scripts are failing on a bad exec format error.

[2021-11-15 18:12] sbtaylor15 commented on #419
Fixed in PR #420

[2021-11-15 18:12] #419 closed, assigned to karamjotsingh

[2021-11-24 17:47] sbtaylor15 opened #427 "governance board: accept code of conduct 2.1"
https://www.contributor-covenant.org/version/2/1/code_of_conduct/

[2022-01-05 03:42] bradmccoydev commented on #418
this has been done, closing

[2022-01-05 03:42] #418 closed, assigned to nobody

[2022-01-05 03:44] bradmccoydev commented on #377
This has been done, closing issue. Thanks folks

[2022-01-05 03:44] #377 closed, assigned to Ujwal90210, karamjotsingh, bradmccoydev, benhpoh

[2022-01-05 03:44] bradmccoydev commented on #401
This has been done, closing issue

[2022-01-05 03:44] #401 closed, assigned to benhpoh

[2022-01-05 03:54] bradmccoydev opened #431 "Add Readme to Helm Charts for better presentation in ArtifactHub"
Now that we have our helm charts on Artifact hub we need to make them more presentable. If we have a readme.md file then that will come up in artifacthub. See below the example. And reach out to @bradmccoydev if you need help

Example:
Repo: https://github.com/direktiv/direktiv-charts/tree/main/charts/direktiv
Artifact Hub: https://artifacthub.io/packages/helm/direktiv/direktiv

cc: @benhpoh

[2022-01-06 15:41] sbtaylor15 opened #432 "CookieCutter or similar integration to create backend pieces for a new microservice"
How can we leverage [CookieCutter](https://github.com/cookiecutter/cookiecutter) or similar to on-board a new microservice creating the information in Ortelius as well as the backend pieces (git repo, skeleton code, test cases, CI/CD).

[2022-01-06 15:47] sbtaylor15 opened #434 "Add CycloneDX SBOM to ortelius-ms-dep-pkg-cud"
As part of the Google Cloud Build we need to generate the SBOM/SPDX files and store them somewhere for reference.  https://github.com/opensbom-generator/spdx-sbom-generator

[2022-01-07 07:37] AshishKmrSingh commented on #373
Hello. Please add me.

[2022-01-07 07:41] sachajw commented on #373
Ashish already has experience in solving this issue, so I will work with Ashish on this issue.

[2022-01-10 12:57] AshishKmrSingh commented on #373
Hey @sbtaylor15 @sachajw

There is a GitHub action 'helm-chart-releaser' for this in place already. The point that we discussed about how we are going collect different helm charts to work together and collect them as a single artifact, the functionality for that is already there.
This action will combine these charts and create a zip artifact updating the gh-pages branch->index.yml file of the or

[2022-01-12 17:47] sbtaylor15 opened #438 "Need to bump npm dependencies to fix audit issues"
package.json for [ortelius/website](https://github.com/ortelius/website) and [ortelius/ortelius-docs](https://github.com/ortelius/ortelius-docs) need to be updated to use latest versions of the npm modules.

  "autoprefixer": "^10.4.2",
    "postcss-cli": "^9.1.0"

[2022-01-12 17:49] sbtaylor15 opened #439 "Microservices are having security issues reported on artifactory.io"
Need to figure out why we have an F score.  https://artifacthub.io/packages/search?ts_query_web=ortelius&sort=relevance&page=1

![image](https://user-images.githubusercontent.com/14826572/149194469-f1aa932c-df21-4469-988f-6efb651c1b59.png)

[2022-01-15 05:09] poovaraj opened #441 "Unable to login into Ortelius application ( URL : https://dev.ortelius.io/dmadminweb/Login#dhmain)"
URL : https://dev.ortelius.io/dmadminweb/Login#dhmain

Reproduce Steps:

1. Launch the app URL
2. Enter the Username and Password
3. Click on Login Button

Expected : Application should be logged in successfully
Actual : Application is unbale to login (It's loading continuously)
Screenshot

![image](https://user-images.githubusercontent.com/18280543/149609784-6a7d9797-bb98-42f7-9771-532c8fa6d729.p

[2022-01-20 20:25] sachajw commented on #375
Marking this one as complete. First edition of the diagram is here https://drive.google.com/file/d/15omqklaFTeDEAn5P0Yc8-fBsY4M21I02/view?usp=sharing

[2022-01-20 20:29] #375 closed, assigned to sbtaylor15, sachajw

[2022-01-20 20:30] sachajw commented on #373
Excellent @AshishKmrSingh and thank you very much!

[2022-01-21 07:46] poovaraj commented on #441
Application login issue has been fixed by @sbtaylor15 , hence I have closed this issue

GitHub Actions Execution Report link : [https://github.com/poovaraj/testing/runs/4893262528?check_suite_focus=true](url)

![image](https://user-images.githubusercontent.com/18280543/150486688-05d7cc34-ade3-4fa7-8998-5692d846a83d.png)

[2022-01-21 07:46] #441 closed, assigned to nobody

[2022-01-21 21:50] anupamgogoi0907 opened #442 "Documentation link broken"
Hi Team,

In the link, https://ortelius.io/contributor/, the below link is broken.

![image](https://user-images.githubusercontent.com/21226874/150604767-aca83d21-9092-4975-9ebd-7323b1904e8b.png)

**Broken Link:** https://console.deployhub.com/dmadminweb/signup.html/

Thanks.

[2022-01-25 15:06] scanalesespinoza commented on #432
Analisis between CoockieCutter and Devfiles

CoockieCutter has a masive and active community to support his usage, on the other hand Devfile looks less masive but stronger in his design, lets comparate it in the following table:

|Features| CookieCutter | Devfile |
| ------ | ------ | ------ |
|Kind of tool| CLI | IDE/CICD/AUTOMATION Tool |
|File type| Json | Yaml |
|API| Missing | Present |
|IDE

[2022-01-25 15:08] scanalesespinoza commented on #432
@sbtaylor15 I think Devfile is a more standarized solution as my conclusion, any comments?  let me know if enought to close the issue

[2022-01-26 09:05] tishan18927 opened #444 "NullPointerException on /dmadminweb/Home"
I am trying to install ortelius locally in my development enviornment. When I start the docker image as mentioned in the documentation I get the following error in the homepage.

Container logs are as follows.

According to the logs some files and directories are not created properly.

I tried exec into the container and figured out there is no `/usr/pgsql-10/bin/pg_ctl` file available and there i

[2022-01-26 18:13] #176 closed, assigned to karamjotsingh

[2022-01-26 18:17] karamjotsingh commented on #439
![image](https://user-images.githubusercontent.com/17989443/151222256-3c31979e-3bd9-4b7f-8c5d-fb98dc50d16b.png)

Done for the following microservices:
[ortelius-ms-compitem-crud](https://github.com/ortelius/ortelius-ms-compitem-crud)
[ortelius-ms-dep-pkg-cud](https://github.com/ortelius/ortelius-ms-dep-pkg-cud)
[ortelius-ms-dep-pkg-r](https://github.com/ortelius/ortelius-ms-dep-pkg-r)
[ortelius-ms

[2022-01-26 18:17] #439 closed, assigned to karamjotsingh

[2022-02-02 16:05] sachajw commented on #373
I have this so far
apiVersion: v2
name: Ortelius
description: A Parent Helm chart for Ortelius
type: application
version: 0.1.0
appVersion: 0.1.0

dependencies:
  - name: dh-ms-ui
    version: 0.1.0
    repository: "@ms-ui"
  - name: ortelius-console
    version: 0.1.0
    repository: "@ortelius-console"

[2022-02-02 16:12] sbtaylor15 opened #445 "Change Code of Conduct to latest version"
Need to use this one - https://www.contributor-covenant.org/version/2/1/code_of_conduct/

Main repo ortelius/ortelius should have references to the code of conduct.  That needs to be updated along with any others in the repos.  We should use the special .git repo to consolidate this.

[2022-02-02 22:19] scanalesespinoza commented on #432
Closing with comparation as output and aceptance criteria

[2022-02-02 22:19] #432 closed, assigned to scanalesespinoza

[2022-02-03 15:28] Aju100 commented on #445
Hey @sbtaylor15 can I work on this issue ?

[2022-02-03 17:23] Aju100 commented on #300
@bradmccoydev can I work on this issue it's inactive and need a few drafts or guidelines

[2022-02-03 17:42] Aju100 commented on #431
@bradmccoydev can you share helm chart name and docs I would like to work on this issue

[2022-02-06 12:15] bradmccoydev opened #459 "Create DNS entry for prometheus.ortelius.io"
Brad to create a DNS entry support ticket to route prometheus.ortelius.io to our Azure Front Door instance

CNAME Entry needs to go to prometheus.ortelius.io = ortelius.z01.azurefd.net
TXT entry _dnsauth.prometheus.ortelius.io = t04g4r5kbty0gr80mftyqbkpk6l8cqxr

old example https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-22914

[2022-02-06 12:19] bradmccoydev commented on #459
Ticket Created: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23594

[2022-02-07 04:47] bradmccoydev opened #460 "Add grafana.ortelius.io DNS Records"
Brad to create a DNS entry support ticket to route grafana.ortelius.io to our Azure Front Door instance

CNAME Entry needs to go to grafana.ortelius.io = ortelius.z01.azurefd.net
TXT entry _dnsauth.grafana.ortelius.io = r246hb38hv4d37rycbwv7mq1svd56yp6

old example https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-22914

[2022-02-07 05:00] bradmccoydev commented on #460
https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23595

[2022-02-07 18:34] sbtaylor15 commented on #445
@Aju100 - Let me provide more background on this.  The Code of Conduct that Ortelius uses is adopted from contributor-covenant.org.

https://www.contributor-covenant.org/version/2/1/code_of_conduct/ will be the starting point for the new Ortelius version.  The Ortelius Code of Conduct version number should be iterated and the email address should be changed to conduct@cd.foundation.

Let me know i

[2022-02-10 11:43] bradmccoydev commented on #431
@benhpoh can you recommend a repo for @Aju100 please

[2022-02-11 03:04] benhpoh commented on #431
Hey @Aju100 , give this repo a shot - https://github.com/ortelius/ortelius-ms-dep-pkg-cud

The helm chart sits in the deploy branch under /chart/ms-dep-pkg-cud/
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/tree/deploy/chart/ms-dep-pkg-cud

[2022-02-11 03:57] Aju100 commented on #445
Hi @sbtaylor15 , I have updated and changed the mail address too.

[2022-02-11 13:19] Aju100 commented on #431
@bradmccoydev  @benhpoh well, I didn't find the helm chart artifact ? Can you provide the resources for it so I document the guide to install helm chart of ms-dep-pkg-cud

[2022-03-03 23:03] sbtaylor15 opened #464 "Update component.toml, Dockerfile and cloudbuild.yaml for store-loadgenerator"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:04] sbtaylor15 opened #465 "Update component.toml, Dockerfile and cloudbuild.yaml for store-frontend"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:05] sbtaylor15 opened #466 "Update component.toml, Dockerfile and cloudbuild.yaml for store-checkoutservice"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:06] sbtaylor15 opened #467 "Update component.toml, Dockerfile and cloudbuild.yaml for store-productcatalogservice"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:08] sbtaylor15 opened #468 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-apphist-3d"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:08] sbtaylor15 opened #469 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-compitem-crud"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:09] sbtaylor15 opened #470 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-dep-pkg-cud"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:10] sbtaylor15 opened #471 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-dep-pkg-r"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:10] sbtaylor15 opened #472 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-textfile-crud"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-03 23:11] sbtaylor15 opened #473 "Update component.toml, Dockerfile and cloudbuild.yaml for ortelius-ms-validate-user"
Use [ortelius/store-recommendationservice](https://github.com/ortelius/store-recommendationservice) as reference

[2022-03-06 11:44] Arvind644 commented on #468
@sbtaylor15 it has all the JavaScript code. Where to put the build file and which image to use for Dockerfile

[2022-03-14 14:21] #445 closed, assigned to nobody

[2022-03-14 14:23] sbtaylor15 commented on #434
Add sytf to our cloubbuild.yaml to produde the Cyclonedx SBOM.

[2022-03-14 14:23] #427 closed, assigned to nobody

[2022-03-14 14:25] sbtaylor15 commented on #358
Working as expected

[2022-03-14 14:25] #358 closed, assigned to nobody

[2022-03-14 14:26] #339 closed, assigned to nobody

[2022-03-14 14:29] sbtaylor15 opened #477 "ArtifactHub showing F Grade due to CVEs"
Need to figure out where the CVEs are coming from and update either the docker files or the helm charts.  Artifacthub may be pointing to old image versions.  @karamjotsingh did work on the dockerfiles a while back.

[2022-03-14 15:08] karamjotsingh commented on #477
Looking at the vulnerabilities on Artifacthub, these are new CVEs.

The following change in [python base docker file](https://github.com/ortelius/ortelius/blob/main/docker/DockerfilePythonMSBase) might solve the CVEs.

Replacing the line
RUN apk add expat=2.4.3-r0;
with
RUN apk add expat=2.4.7-r0 libuuid=2.37.4-r0;

Need to create a new base image and update it in the charts.

[2022-03-15 12:14] scanalesespinoza commented on #409
@sbtaylor15 we have multibranch build to test this separately?

[2022-03-15 18:39] codeWithUtkarsh commented on #444
@tishan18927 The code is fixed, try using the latest ortelius image.

[2022-03-15 19:52] codeWithUtkarsh opened #479 "PRs workflow failing due to error in Trivy code scan"
Getting an error while running Trivy code scan on the PRs.

[code]

![image](https://user-images.githubusercontent.com/29374436/158459595-65c1e787-e30d-4a47-92c9-007d4fac709b.png)

[2022-03-15 19:57] codeWithUtkarsh commented on #479
This issue is basically due to migration from "trivy" to "trivy image". Most of the options are not supported now for "trivy" command therefore we need to migrate to "trivy image" command.

Reference:  https://github.com/aquasecurity/trivy/discussions/1515

CC @sbtaylor15

[2022-03-16 16:12] sbtaylor15 commented on #434
We need to update the cloudbuild.yaml to run https://github.com/anchore/syft after the docker build has been completed. Syft should scan the docker image and produce a cyclone-dx json file.  The cyclone-dx json file should be uploaded using the existing `dh updatecomp` command line call. This upload is done by adding the `--deppkg 'cyclonedx@/workspace/cyclonedx.json'` to the `dh updatecomp` param

[2022-03-16 16:16] sbtaylor15 opened #480 "Add CycloneDX SBOM for ortelius/ortelius-ms-compitem-crud"
We need to update the cloudbuild.yaml to run https://github.com/anchore/syft after the docker build has been completed. Syft should scan the docker image and produce a cyclone-dx json file.  The cyclone-dx json file should be uploaded using the existing `dh updatecomp` command line call. This upload is done by adding the `--deppkg 'cyclonedx@/workspace/cyclonedx.json'` to the `dh updatecomp` param

[2022-03-16 16:17] sbtaylor15 opened #481 "Add CycloneDX SBOM to ortelius-ms-textfile-crud"
We need to update the cloudbuild.yaml to run https://github.com/anchore/syft after the docker build has been completed. Syft should scan the docker image and produce a cyclone-dx json file.  The cyclone-dx json file should be uploaded using the existing `dh updatecomp` command line call. This upload is done by adding the `--deppkg 'cyclonedx@/workspace/cyclonedx.json'` to the `dh updatecomp` param

[2022-03-16 16:19] sbtaylor15 opened #482 "Add CycloneDX SBOM to ortelius-ms-validate-user"
We need to update the cloudbuild.yaml to run https://github.com/anchore/syft after the docker build has been completed. Syft should scan the docker image and produce a cyclone-dx json file.  The cyclone-dx json file should be uploaded using the existing `dh updatecomp` command line call. This upload is done by adding the `--deppkg 'cyclonedx@/workspace/cyclonedx.json'` to the `dh updatecomp` param

[2022-03-16 16:21] sbtaylor15 opened #483 "Add CycloneDX SBOM to ortelius-ms-dep-pkg-r"
We need to update the cloudbuild.yaml to run https://github.com/anchore/syft after the docker build has been completed. Syft should scan the docker image and produce a cyclone-dx json file.  The cyclone-dx json file should be uploaded using the existing `dh updatecomp` command line call. This upload is done by adding the `--deppkg 'cyclonedx@/workspace/cyclonedx.json'` to the `dh updatecomp` param

[2022-03-16 19:11] sbtaylor15 commented on #409
@scanalesespinoza I think you can fork the repo and enable the actions on the fork.  Then do a push and that should trigger the workflow to run on your fork.  Let me know if that works or not.

[2022-03-17 16:36] sbtaylor15 opened #484 "Handle SPDX json format for SBOM upload"
Need to add /msapi/deppkg/spdx end point to the ortelius/ortelius-ms-deppkg-cud microservice.  This new endpoint will take a SPDX formatted json file and pick out the appropriate fields to save into the database.

[2022-03-17 16:37] sbtaylor15 commented on #473
Added the missing files and configuration.

[2022-03-17 16:37] #473 closed, assigned to sachajw

[2022-03-17 16:37] sbtaylor15 commented on #472
Added the missing files and configuration.

[2022-03-17 16:37] #472 closed, assigned to Arvind644

[2022-03-17 16:38] sbtaylor15 commented on #471
Added the missing files and configuration.

[2022-03-17 16:38] #471 closed, assigned to sachajw

[2022-03-17 16:38] sbtaylor15 commented on #470
Added the missing files and configuration.

[2022-03-17 16:38] #470 closed, assigned to Arvind644

[2022-03-17 16:38] sbtaylor15 commented on #469
Added the missing files and configuration.

[2022-03-17 16:38] #469 closed, assigned to sachajw

[2022-03-17 16:44] sbtaylor15 commented on #483
Use ortelius/ortelius-ms-compitem-crud cloudbuild.yaml as an example

[2022-03-18 06:49] hamidgholami commented on #483
Hi,
Thanks for your help. But I checked this file:
https://github.com/ortelius/ortelius-ms-compitem-crud/blob/main/cloudbuild/cloudbuild.yaml
And I don't find any section regarding "syft".
You mean this section?  "# Capture new component version in DeployHub"

[2022-03-18 11:02] #444 closed, assigned to codeWithUtkarsh

[2022-03-18 17:29] sbtaylor15 commented on #483
@hamidgholami its on the 'deploy' branch in that repo.  About 3/4 way down in the cloudbuild.yaml file.  Sorry for the confusion.

[2022-03-18 17:36] #484 closed, assigned to josephakayesi

[2022-03-21 05:31] hamidgholami commented on #483
@sbtaylor15 I have committed on deploy branch.
https://github.com/ortelius/ortelius-ms-dep-pkg-r/commit/5d75fa05ad70adb32872373ce574b9c3f02a8398
Since it was my first PR. I would appreciate it if  you could check it and tell me if I'm wrong.
Also can we close this issue or not?
Thanks,

[2022-03-21 05:44] hamidgholami commented on #482
Hi @sbtaylor15,
I have committed the changes in deploy branch.
https://github.com/ortelius/ortelius-ms-validate-user/commit/0c2c13ec76e55a742f2bca7947216471fd35b457

[2022-03-21 05:54] hamidgholami commented on #481
Hi @sbtaylor15,
I have committed the changes in deploy branch.
https://github.com/ortelius/ortelius-ms-textfile-crud/commit/adc234e6286cddca00e073b829cf8ffc27f7f202

[2022-03-21 06:03] hamidgholami commented on #434
Hi @sbtaylor15,
I have committed the changes in deploy branch.
https://github.com/ortelius/ortelius-ms-dep-pkg-cud/commit/029a64aec80caaf3ad0cb4d5066815a8e1d293de

[2022-03-21 19:43] TracyRagan opened #485 "Add Application Table to base Application version"
Application versions need to be associated to the primary application list. The consolidate 'Applicaiton list' should only show the high-level application (base version). When you go into the 'Applicaiton base version'  it will show the list of all its 'versions'. This consolidates all data about a single application in one place.

[2022-03-21 19:44] TracyRagan opened #486 "Component version list moved to 'base version' view"
Component versions need to be associated to the primary component list. The consolidated 'Component list' should only show the high-level component (base version). When you go into the 'Component base version'  it will show the list of all its 'versions'. This consolidates all data about a single component in one place.

[2022-03-21 19:51] TracyRagan opened #487 "Use Azure Active Directory for user authentication"
Need to integrate with Azure's active directory for logging in.

[2022-03-21 19:53] TracyRagan opened #488 "Move Application Dependency Map to top right corner from bottom"
Currently the Dependency Map shows at the bottom of the screen. The map should be displayed where it currently says "component Detial." Component detail can go away.

[2022-03-21 19:56] TracyRagan opened #489 "New application base version does not display in edit mode"
When you select a new "applicaiton file' base version, you are not navigagted to an edit mode screen.

[2022-03-21 19:58] TracyRagan opened #490 "Application file type component layout needs clean-up"
On a new component of type 'application file' the screen looks odd because 1/2 of it is empty. Need to balance out the top section if we can.

[2022-03-21 20:00] TracyRagan opened #491 "New Component - Database file - missing data"
On a new Component of type Database file - the  right side of the screen's data is missing.

[2022-03-21 20:07] TracyRagan opened #492 "Testing data - remove Hipster store "Labor Day" and "4thof July" feature branches"
We need to rebuild the Hipster store demo so it just shows one branch with versions - no 'feature branches' (labor day versus 4th of July). The branches are to confusing for a first time user.

[2022-03-21 20:11] TracyRagan commented on #459
@bradmccoydev can we close this yet?

[2022-03-21 20:11] TracyRagan commented on #460
@bradmccoydev can we close this issue?

[2022-03-21 20:15] TracyRagan opened #493 "In Component detail change name from License consumption to SBOM"
Change the heading from Licesne Consumption to SBOM .

[2022-03-21 20:19] TracyRagan opened #494 "Document SBOM"
Need to document SBOM at the Component level.

[2022-03-21 20:21] TracyRagan opened #495 "SBOM Aggregate at Application level"
For each application version, we need to consolidate the SBOMs of all the components the application consumes creating an Application SBOM

[2022-03-21 20:24] TracyRagan opened #496 "Download the CVE database and create a microservice"
We need to download the cve database and create a microservice to return the CVEs for a package. This will be used to check the CVEs for all dependencies listed in a component SBOM.

The CVE data should be downloaded into a graph database for easy access, by the microservice.

Reach out to Steve Taylor for discussion. https://go.oncehub.com/SteveTaylor

[2022-03-21 22:13] bradmccoydev commented on #459
yes thanks @TracyRagan closing now

[2022-03-21 22:13] #459 closed, assigned to bradmccoydev

[2022-03-21 22:13] bradmccoydev commented on #460
yes closing now thanks @TracyRagan

[2022-03-21 22:13] #460 closed, assigned to bradmccoydev

[2022-03-25 06:45] #483 closed, assigned to hamidgholami, wmdev0808

[2022-03-25 06:45] #482 closed, assigned to josephakayesi, hamidgholami

[2022-03-25 06:45] #481 closed, assigned to hamidgholami

[2022-03-25 06:45] #434 closed, assigned to hamidgholami

[2022-03-29 20:34] sbtaylor15 opened #498 "Add and retrieve json file from nft.storage"
1. Signup for a free account on ntf.storage
2. Create a nodejs or Python program to store and retrieve a json file from the nft.storage
3. View the file from a browser

[2022-03-29 20:36] sbtaylor15 opened #499 "XRP Ledger proof of concept"
Need a python program to add and retrieve an NFT to the XRP Ledger.  The NFT creation/retrieval is in issue #498.

[2022-03-29 20:48] sbtaylor15 commented on #499
[XRPL Example and Doc](https://xrpl.org/get-started-using-python.html)

[2022-03-30 03:58] bradmccoydev opened #500 "Install Argo Rollouts"
Install Argo Rollouts into the Ortelius GitOps Cluster

[2022-03-30 04:12] bradmccoydev opened #501 "Add DNS records for Argo Rollouts"
Brad to create a DNS entry support ticket to route argorollouts.ortelius.io to our Azure Front Door instance

CNAME Entry needs to go to argorollouts.ortelius.io = ortelius.z01.azurefd.net
TXT entry _dnsauth.argorollouts.ortelius.io = hlr008b0trb78003s2xpvhclhwf5nfft

old example https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-22914

[2022-03-30 04:16] bradmccoydev commented on #501
Request made to linux foundation: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23802

[2022-03-31 09:33] bradmccoydev commented on #501
Hello Brad McCoy,

Johnson Nguyen changed the status of your request [IT-23802](https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-23802?sda_source=notification-email) to Resolved.

Hello Brad McCoy,

Ticket Number: IT-23802

Your request has been resolved as Done.

[2022-03-31 09:50] bradmccoydev commented on #501
Added routes to azure front door, now last test is to deploy argorollouts and then test that it works then i will close the ticket

[2022-04-02 06:11] agardnerIT opened #504 "[DOCS] Ortelius Deploys Kube YAML"
Given the following YAML file, how would I set Ortelius up to deploy these components as an application?

[code]

I have Ortelius running on localhost and have created the components for each body part and assigned to an application. How do I do the equivalent of `kubectl apply` or perhaps that isn't in Ortelius' remit?

<img width="531" alt="image" src="https://user-images.githubusercontent.com/2

[2022-04-02 15:04] sbtaylor15 commented on #504
Ortelius used helm to deploy to Kubetnetes.  You will need a helm chart for each component.  The chart can reside in the got repo.  So you have each component in the same repo or separate repos (mono vs poly repos)

[2022-04-04 10:08] bradmccoydev opened #505 "SPIKE evaluate Argo image updater"
evaluate Argo image updater for gitops project

[2022-04-04 10:30] bradmccoydev commented on #505
Installed with helm chart to gitops cluster now will try and get it working for a demo helm chart

[2022-04-11 18:08] codeWithUtkarsh commented on #499
[XRPL Python Library ](https://xrpl-py.readthedocs.io/en/stable/index.html)

[2022-04-11 20:26] josephakayesi commented on #499
@codeWithUtkarsh Inside of the repository > https://github.com/ortelius/la-sbom-ledger there is a folder called NFT that has a NodeJS implementation that adds and retrieves NFT from the XRP ledger.
Should we have a python alternative or what is the way forward?

[2022-04-12 10:16] codeWithUtkarsh commented on #499
I'll have a look at it today. Thanks @josephakayesi 🙂

[2022-04-12 11:12] bradmccoydev commented on #501
tested and working closing

[2022-04-12 11:12] #501 closed, assigned to bradmccoydev

[2022-04-12 11:13] bradmccoydev commented on #500
Done closing issue

[2022-04-12 11:13] #500 closed, assigned to bradmccoydev, agardnerIT

[2022-04-12 11:19] bradmccoydev opened #506 "Add DNS record for Demo App"
Brad to create a DNS entry support ticket to route canary.ortelius.io to our Azure Front Door instance

This is for the GitOps Demo App

CNAME Entry needs to go to canary.ortelius.io = ortelius.z01.azurefd.net
TXT entry _dnsauth.canary.ortelius.io = 8mlhj22w8rmhkq4s3m7gt5fzhkx45mts

[2022-04-13 02:44] bradmccoydev commented on #506
Done

[2022-04-13 02:44] #506 closed, assigned to nobody

[2022-04-13 16:43] josephakayesi commented on #496
@sbtaylor15 I am currently looking at https://www.arangodb.com/ as you had suggested and as a way to begin to piece this together.

I believe the data will have to be migrated to arangodb which means the schema will have to change to suit the graph database.

Perhaps in the coming days, I could get some test data to populate a local version of the arangodb.

[2022-04-13 16:53] josephakayesi commented on #499
Welcome @codeWithUtkarsh I am here if you need any help. :)

[2022-04-14 14:58] sbtaylor15 commented on #496
@josephakayesi - just start with loading any json into argangodb to get the feel for it.  Then we can look at loading in the CVE data.  It's about 1gig.

[2022-04-14 15:39] sbtaylor15 commented on #498
See https://xrpl.org/nftoken.html

[2022-04-14 16:36] sbtaylor15 commented on #498
https://thegraph.com/en/

[2022-04-16 11:44] codeWithUtkarsh commented on #499
@peRFectBeliever @josephakayesi Let me know when can we connect to discuss.

[2022-04-16 17:25] josephakayesi commented on #499
@codeWithUtkarsh I'm available tomorrow from 10AM GMT.

[2022-04-17 04:34] peRFectBeliever commented on #499
I am available today.. just let me know in hour advance.. i ll join

[2022-04-17 06:57] codeWithUtkarsh commented on #499
@josephakayesi Plesse check your discord. I droped you a DM. @peRFectBeliever Please share your email with @josephakayesi . Let's connect at 10 AM GMT.

[2022-04-17 07:00] peRFectBeliever commented on #499
Please include bepleasure@gmail.com

[2022-04-17 09:58] josephakayesi commented on #499
@codeWithUtkarsh I'm available now. It's almost 10AM GMT. Sorry for the late response. Is it still good to connect?

[2022-04-22 23:55] bradmccoydev opened #507 "add keptn webhook to argo notifications"
Add Keptn Webhook to Argo notifications config to trigger Keptn on certain events

[2022-04-26 21:04] TracyRagan opened #508 "the deployhub doc is linked to the Ortelius help"
The DeployHub Pro doc is linked to the Ortelius help - should link to the Ortelius doc.

[2022-06-01 20:28] mflanneryii opened #509 "Starring repo triggers the Trivy Code Scan github action"
There appears to be a defect with your github action setup for Trivy code scanning such that merely starring the repo is enough to kick off a Trivy Scan _(which subsequently fails due to invalid commandline parameters for Trivy)_

[2022-06-09 05:06] bradmccoydev commented on #509
Hi is this for the ortelius/ortelius repo?

[2022-06-09 05:22] #507 closed, assigned to bradmccoydev

[2022-06-09 05:23] #320 closed, assigned to bradmccoydev, agardnerIT

[2022-06-09 05:24] #360 closed, assigned to nobody

[2022-06-09 07:22] mflanneryii commented on #509
Yes. See https://github.com/ortelius/ortelius/actions/runs/2416643856 as an
example that was kicked off after I starred the repo.

On Wed, Jun 8, 2022, 10:06 PM Brad McCoy ***@***.***> wrote:

[2022-06-15 02:45] bradmccoydev opened #510 "Change DNS records to point to new Azure Front Door"
We have recently moved Azure Subscriptions into the Linux Foundation so, therefore, need to point our DNS records to point to the new Azure Front Door.

Please Update the following:

**CNAMES:**

The following CNAME records need to point to ortelius-eubmethqfvdccceh.z01.azurefd.net Please remove the CNAME for argorollouts.ortelius.io as it is not required anymore.

argorollouts.ortelius.io => REMO

[2022-06-15 02:49] bradmccoydev commented on #510
Ticket raised with Linux foundation: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24160

[2022-06-15 22:33] bradmccoydev commented on #510
Confirmed this is done. Validated in Azure

[2022-06-15 22:33] #510 closed, assigned to bradmccoydev

[2022-06-21 06:59] bradmccoydev opened #511 "Move Secrets in ortelius namespace to new cluster"
As we are moving subscriptions we need to move Secrets from the old cluster in the ortelius namespace to new cluster.

Secrets moved:
nginx-secret
ortelius-user
rsa-pub-secret
pgcred

[2022-06-21 07:00] bradmccoydev commented on #511
@sbtaylor15 the following secrets have been moved over

[2022-06-23 16:12] shimmyt commented on #438
@Aju100 seems to have fixed this, and this issue should be closed.

[2022-06-27 09:23] bradmccoydev commented on #487
i can help with this is needed @codeWithUtkarsh

[2022-06-27 12:30] codeWithUtkarsh commented on #487
This is done @bradmccoydev.  I forgot to close this. @sbtaylor15 Closing this issue as this was completed.

[2022-06-27 12:30] #487 closed, assigned to codeWithUtkarsh

[2022-07-02 10:40] bradmccoydev opened #512 "Create helm releaser for ortelius docs repo"
add the following to the GitHub actions

.github/workflows/helm-chart-releaser.yml

`name: Release Charts

on:
  push:
    branches:
      - deploy
    paths:
      - 'chart/**/Chart.yaml'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git c

[2022-07-02 10:40] bradmccoydev commented on #512
itisaby will do this

[2022-07-04 17:10] temenosjdean opened #513 "Rest API document for components has a C when it should be a lowercase one"
https://docs.deployhub.com/userguide/restapi/components/

dmadminweb/API/**C**omponent/{identifier}

[2022-08-04 15:30] codeWithUtkarsh opened #515 "POC to persist and read data using arangoDb javascript library"
**6 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

Take some references from this doc.
https://www.arangodb.com/docs/stable/drivers/js-getting-started.html

Benchmark the size of data for the reasonable response time taken to read and persist data.

[2022-08-05 17:32] bradmccoydev opened #516 "Create new badge in badgr for contributors first contribution"
We are getting lots of new contributors to come to join Ortelius but keeping them sticky and actively contributing is a different story.  Having a badge for folks' first contribution will give them a sense of achievement and encourage them to do more.  It will also be good for Ortelius branding as they will share on Twitter etc and attract more folks to the project.

We also spoke at the last meet

[2022-08-08 15:37] TracyRagan commented on #516
Done - I've also added Brad McCoy as an issuer.

[2022-08-08 15:37] #516 closed, assigned to TracyRagan

[2022-08-17 08:21] bradmccoydev commented on #505
This has been spiked and we wont use it just for now

[2022-08-17 08:21] #505 closed, assigned to bradmccoydev

[2022-08-17 08:22] #300 closed, assigned to bradmccoydev, Arvind644

[2022-08-17 10:20] bradmccoydev opened #517 "Change all Ortelius org default Branches to Main"
To lead by example we should change all of our default branches to main so that our branch names are meaningful and inclusive.

Most of our Repos are main which is good but here is a list of repos that we haven't changed the default branch to.

Below is a report of repos that I will look at to see if there are any references to the master branch in CI etc and mark HasDependencies to true to assist

[2022-08-17 10:28] bradmccoydev commented on #517
List generated with this command
`curl "https://api.github.com/orgs/ortelius/repos?page=1&per_page=100" -H "Authorization: token $GH_TOKEN" | jq '.[] | select(.default_branch=="master")' | jq '.full_name + " | " + .html_url + " | isFork: " + (.fork|tostring)'`

[2022-08-22 03:23] bradmccoydev commented on #517
The first section with the 6 Repos has now been done. Will Proceed to do next section tomorrow

[2022-08-23 00:52] bradmccoydev commented on #517
The second section with 10 Repos has now been done. I will Proceed with the last section tomorrow which is the actual Ortelius microservices and not the fork or demo apps @sbtaylor15

[2022-08-23 23:07] bradmccoydev commented on #517
This has now been completed, all Ortelius Default Branches have been changed to Main

[2022-08-23 23:07] #517 closed, assigned to sbtaylor15, bradmccoydev

[2022-08-26 04:40] codeWithUtkarsh commented on #499
Closing this issue as this task is done.

[2022-08-26 04:40] #499 closed, assigned to peRFectBeliever, codeWithUtkarsh

[2022-09-15 19:01] #511 closed, assigned to bradmccoydev

[2022-09-15 19:05] #495 closed, assigned to nobody

[2022-09-15 19:06] #493 closed, assigned to nobody

[2022-09-15 19:07] sbtaylor15 commented on #491
Need to re-test.  May have been fixed.

[2022-09-15 19:08] sbtaylor15 commented on #490
Need to re-test.  May have been fixed.

[2022-09-15 19:09] sbtaylor15 commented on #489
Need to re-test.  May have been fixed.

[2022-09-15 19:09] sbtaylor15 commented on #488
Need to re-test.  May have been fixed

[2022-09-27 22:54] josephakayesi commented on #515
@codeWithUtkarsh I have a poc for this however I am stuck on how to do some benchmarking.

[2022-09-28 13:28] josephakayesi commented on #515
@sbtaylor15 @codeWithUtkarsh Please check out https://github.com/ortelius/arango-poc Looking forward to feedback

[2022-09-30 11:31] syp1xd commented on #442
Can i take this up?

[2022-10-01 16:26] shahkv95 commented on #494
Hey @TracyRagan
I would like to take up this issue. Could you please provide more details about the scope of the issue?
Thank you!

[2022-10-01 16:38] shahkv95 commented on #102
hey @sbtaylor15
wanted to check with you if the issue is still open and if solving it will add value to the project.
if so, could you brief me a bit about it, and probably I can work on it thereafter?
Thank you!

[2022-10-01 16:39] shahkv95 commented on #346
hey @bradmccoydev
wanted to check with you if the issue is still open and if solving it will add value to the project.
if so, could you brief me a bit about it, and probably I can work on it thereafter?
Thank you!

[2022-10-01 16:53] shahkv95 commented on #480
@sbtaylor15 is the issue fixed or are contributors still working on it?
if not, I can take this issue?

[2022-10-02 21:23] quassainraza commented on #513
please kindly elaborate this issue bit more clearly.

[2022-10-04 17:52] quassainraza commented on #346
@bradmccoydev  would it be better if I just write code for http sensor.?

[2022-10-06 04:25] bradmccoydev commented on #346
hi sorry we dont need this anymore thanks, closing issue

[2022-10-06 04:25] #346 closed, assigned to nobody

[2022-10-09 18:15] peRFectBeliever commented on #509
https://github.com/ortelius/ortelius/pull/523

[2022-10-10 17:00] sbtaylor15 commented on #509
Resolved #523

[2022-10-10 17:00] #509 closed, assigned to peRFectBeliever

[2022-10-10 17:33] itisaby commented on #492
Hi @TracyRagan Can I take this up?

[2022-10-10 17:35] itisaby commented on #356
Hi @TracyRagan @sbtaylor15 Can I take this up? Can you assign it to me?

[2022-10-10 17:43] sbtaylor15 commented on #479
Resolved #524

[2022-10-10 17:43] #479 closed, assigned to codeWithUtkarsh

[2022-10-10 18:03] sbtaylor15 opened #525 "Need NodeJS minimize json data for storage on nft.storage"
**4 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

The library should remove all whitespace and formatting from the json data.  This transformation is being done to ensure the same hash is calculated for identical json data regardless of format.

[code]

should be transformed into

```{"licenses

[2022-10-10 18:12] sbtaylor15 commented on #525
Deliverable is a sample NodeJS program that demonstrates this functionality.

[2022-10-10 18:21] sbtaylor15 opened #526 "Need Python module minimize json data for storage on nft.storage"
**4 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

The library should remove all whitespace and formatting from the json data.  This transformation is being done to ensure the same hash is calculated for identical json data regardless of format.

[code]

should be transformed into

```{"licenses

[2022-10-10 21:03] sbtaylor15 opened #527 "Add rules for XPRL project to website"
Add blog entry on how bounties will be used for the XRPL grant.

[2022-10-10 21:28] sbtaylor15 opened #528 "Normalize CycloneDX SBOM json for NTF storage"
**8 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

Need to normalize the SBOM data to eliminate storing redundant data.  See [Normalized vs Denormalized Data](https://www.youtube.com/watch?v=vRqzFBTgGJA).   The normalized and minimized data will be placed as an NFT into ntf.storage and reference

[2022-10-11 14:01] #527 closed, assigned to sbtaylor15

[2022-10-11 19:37] peRFectBeliever commented on #528
We could use https://github.com/iakovmarkov/json-schema-normalizer to normalize  JSON data with schema present. do we want to integrate with any module?

[2022-10-11 22:14] sbtaylor15 commented on #528
@peRFectBeliever - here is some clarification on what we need.

# SBOM snippet - Transposed from:

[code]

# Into multiple NFTs:

### Package Details NFT - ipfs://bafybeigdyrzt5sfp7udm7hu76uh7y26nf3efuylqabf3oclgtqy55fbzdi
[code]

### License NFT -  ipfs://bafybeigvgzoolc3drupxhlevdp2ugqcrbcsqfmcek2zxiw5wctk3xjpjwy

[code]

### Package NFT - ipfs://f01701220c3c4733ec8affd06cf9e9ff50ffc6bcd2ec85a61

[2022-10-11 22:24] sbtaylor15 opened #529 "Create License NFTs"
**8 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

Need to load the licenses from [SPDX License List](https://spdx.org/licenses/) into ntf.storage as JSON NFTs that we can then reference from the SBOMs. [SPDX License List as JSON](https://github.com/spdx/license-list-data/blob/master/json/licens

[2022-10-11 22:27] sbtaylor15 commented on #529
The JSON in the NFT should be minimized #525,  #526.
The IPFS CIDs saved associating the licenseId to the CID so we can reference the NFTs later.

[2022-10-11 22:34] sbtaylor15 opened #530 "Index NFTs for loading into Arango DB (WIP)"
**Unknown Bounty at this time.**

Possible Index Keys:
- licenseId: a way to find the license details
- purl: a way to find the package details
- component version: a way to find component details
- application version: a way to find application details

Each index key maps to NFT CID.

[2022-10-11 22:36] sbtaylor15 commented on #530
We will need a way to render the resolved json, ie all child CIDs expanded into JSON.   For loading into ArgnoDB #515

[2022-10-13 16:29] codeWithUtkarsh commented on #528
@peRFectBeliever Just a suggestion. If possible do not use any third-party library unless it is required. I see a function can be written with the inbuild libraries to achieve this task.

[2022-10-17 17:43] #526 closed, assigned to codeWithUtkarsh

[2022-10-17 18:27] sbtaylor15 opened #531 "NodeJS to add/retrieve minimized json to/from nft.storage"
**4 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

## Summary
Need to take an SBOM json, minimize it and store in nft.storage recording the IPFS CID.  Then take the IPFS CID and retrieve the SBOM json from nft.storage

## References
See [nft.storage developer setup](https://github.com/nftstorage

[2022-10-17 18:31] sbtaylor15 opened #532 "Python to add/retrieve minimized json to/from nft.storage"
**4 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

## Summary
Need to take an SBOM json, minimize it and store in nft.storage recording the IPFS CID.  Then take the IPFS CID and retrieve the SBOM json from nft.storage

## References
See [nft.storage developer setup](https://github.com/nftstorage

[2022-10-17 18:46] sbtaylor15 commented on #498
Replaced this issue with #532 and #531

[2022-10-17 18:46] #498 closed, assigned to josephakayesi

[2022-10-17 19:18] akshatKunwar commented on #531
Hi Team, I have registered for the Blockchain work group. I would like to work on this issue. @sbtaylor15 Can you please assign this issue to me? I am new to blockchain but I have some hands-on with javascript.

[2022-10-19 16:05] itisaby commented on #496
Can I work in this issue?

[2022-10-19 16:07] sbtaylor15 commented on #496
Use #515 as a starting point for setting up ArangoDB and NodeJS.  See repo https://github.com/ortelius/arango-poc

[2022-10-19 16:40] sbtaylor15 commented on #496
The data is kept in a Google Cloud Storage Bucket.  We will need to load the data from there into the ArgangoDB on a regular basis.

https://github.com/google/osv.dev#data-dumps

[2022-10-25 23:18] TracyRagan opened #533 "document Ortelius CLI"

[2022-10-25 23:20] #494 closed, assigned to TracyRagan

[2022-10-25 23:37] #533 closed, assigned to TracyRagan

[2022-10-26 16:10] #513 closed, assigned to nobody

[2022-10-27 16:15] #532 closed, assigned to codeWithUtkarsh

[2022-10-27 16:23] codeWithUtkarsh opened #534 "Retrieve NFT data from nft storage using IPFS Python client"
**4 <img src="https://user-images.githubusercontent.com/14826572/194954041-610ed1b8-5104-4d3d-b215-df978d19d6f9.png" width="30px" height="30px"> Bounty**

## Summary
The objective of this story is to implement a method that can retrieve the actual NFT data given its CID. Also, verify that the data is in its native format.

## References
https://nft.storage/docs/how-to/retrieve/

[add/retrieve mini

[2022-10-28 08:47] sachajw opened #535 "Ortelius in a box automated dev setup"
As a community contributor, I am creating an automated dev environment which can be set up with Terraform.
It deploys Kind, Argo CD, Keptn and Ortelius.

Problem statement:
To automate this setup, I need access to the index.yaml for Ortelius and Keptn, which I cannot find.
I have tried various repository URLs with no success.
Could someone please help me with the correct URLs or configuration so t

[2022-10-31 16:40] sachajw commented on #535
Brad recommended not to use Terraform but rather Helm or Kustomize

[2022-10-31 22:05] #531 closed, assigned to josephakayesi

[2022-10-31 22:05] #525 closed, assigned to codeWithUtkarsh, Arvind644

[2022-10-31 22:05] #534 closed, assigned to nobody

[2022-11-03 10:42] fdegir opened #536 "Invitation of thelinuxfoundation to GitHub Ortelius org"
In order for CD Foundation to support the project properly and make insights available for the project on LFX, the user thelinuxfoundation must be invited to the GitHub Ortelius Organization.

Please invite the user thelinuxfoundation as an owner at the organization level (not per repository) to the GitHub organization.

[2022-11-04 14:53] fdegir commented on #536
This is fixed now. Thanks @sbtaylor15 for your help!

[2022-11-04 14:53] #536 closed, assigned to nobody

[2022-11-06 09:14] sachajw commented on #535
I am testing with Terraform and winning, although I think Pulumi is a better bet because it supports native YAML and allows standardisation without the added complexity of Terraform or Helm.

Terraform & Pulumi can act like IaC wrappers at the highest level

Helm templating will also be used to manage Argo CD and AppOfApps.

I am exploring various technologies at the moment.

[2022-11-07 09:55] sachajw commented on #535
Using Octant as the go tool for Developers to gain a clean and consistent graphical view of their K8s cluster without adding additional complexity to the automation. Octant can be further enhanced with plugins.
https://octant.dev/

[2022-11-18 17:48] TracyRagan opened #538 "Update ArtifactHub with how to run"
We need to add to the instructions on ArtifactHub how to bring up Ortelius once it has been downloaded.

[2022-11-18 17:56] TracyRagan commented on #538
Step 2 - Access Ortelius from your browser
Run the following command to find your IP address for the Ortelius URL.

kubectl get svc -n ortelius ms.nginx
This will display the external IP address you need to run the URL.

Step 3 - Access the Ortelius URL and Login
Access the URL from the following address:

http://<External IP Address from above step>/dmadminweb/Home
To log in please use userId: ad

[2022-11-27 18:00] codeWithUtkarsh commented on #515
Benchmarking can be done using #496. This Issue can be closed since POC is done at https://github.com/ortelius/arango-poc.

[2022-11-27 18:00] #515 closed, assigned to codeWithUtkarsh, josephakayesi

[2022-11-29 00:31] #529 closed, assigned to codeWithUtkarsh